.alpd-video {
    width: 100%;
    position: relative;

    .alpd-video__wrapper {
        height: calc(217px + ((537 - 217) * ((100vw - 320px) / (768 - 320))));

        @media screen and (min-width: 768px) {
            height: calc(550px + ((800 - 550) * ((100vw - 768px) / (1440 - 768))));
        }
    }

    .alpd-video__assets-container {
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            overflow: initial;
            top: initial;
        }

        picture {
            position: absolute;
            object-fit: contain;
            width: fit-content;
            height: fit-content;

            img {
                object-fit: contain;
                width: fit-content;
            }
        }

        .asset__notebook,
        .asset__backpack {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }

        .asset__notebook {
            @media screen and (min-width: 768px) {
                top: 20%;

                img {
                    height: calc(440px + ((635 - 420) * ((100vw - 768px) / (1440 - 768))));
                }
            }
        }

        .asset__backpack {
            @media screen and (min-width: 768px) {
                top: 50%;
                right: 0;
                transform: translateY(-37%);

                img {
                    width: calc(536px + ((892 - 536) * ((100vw - 768px) / (1440 - 768))));
                }
            }

            @media screen and (min-width: 1300px) {
                transform: translateY(-43%);
            }
        }

        .asset__folder {
            @media screen and (min-width: 768px) {

                img {
                    width: calc(768px + ((892 - 768) * ((100vw - 768px) / (1440 - 768))));
                }
            }
        }

        .asset__pic {
            top: 3px;

            img {
                height: 15.625rem;
            }

            @media screen and (min-width: 768px) {
                top: 50%;
                transform: translateY(-75%);

                img {
                    height: 19.625rem;
                }
            }
        }
    }

    .alpd-video__container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;

        @media screen and (min-width: 768px) {}

        .video {
            position: absolute;
            height: max-content;
            bottom: 0;
            left: 0;

            width: 100%;

            @media screen and (min-width: 768px) {
                // width: 46.5625rem;
                width: calc(745px + ((1197 - 745) * ((100vw - 768px) / (1440 - 768))));
                margin-left: auto;
                margin-right: auto;
                left: 50%;
                top: 50%;
                bottom: auto;
                transform: translate(-50%, -50%);
            }

            .video__play-button {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                width: 2.0625rem;
                height: 2.0625rem;
                border-radius: 100%;

                border: .125rem solid $color-white;

                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    content: url("/assets/icons/play-white.svg");
                }

                @media screen and (min-width: 768px) {
                    width: 4.875rem;
                    height: 4.875rem;
                }
            }
        }

        .alpd-form__container {
            display: none;
            background-image: url("/assets/images/alpd-video/form-background-mobile.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right bottom;
            padding: 1.0625rem 0;

            @media screen and (min-width: 768px) {
                background-image: url("/assets/images/alpd-video/form-background-desktop.png");
                background-color: $color-folder;

                .detective-form {
                    max-width: 32.875rem;
                }
            }

            .alpd-form__container-header {
                position: relative;

                @media screen and (min-width: 768px) {
                    margin-bottom: 1.5rem;
                }

                .alpd-form__close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 45%;
                    cursor: pointer;

                    @media screen and (min-width: 768px) {
                        font-size: 2.625rem;
                    }
                }

                .alpd-form__title {
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $color-blue;
                    font-size: 1.75rem;

                    @media screen and (min-width: 768px) {
                        font-size: 2.25rem;
                        line-height: 45px;
                    }

                    * {
                        font-family: "veneer",sans-serif;
                    }
                }

                .alpd-form__subtitle {
                    font-family: "oswald",sans-serif;
                    font-weight: 700;
                    font-size: 1.3125rem;
                    line-height: 26.25px;

                    margin-bottom: 3rem;

                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }

    &--playing {
        .alpd-video__assets-container {
            display: none;
        }

        .alpd-video__container .video {
            width: 100%;
        }
    }

    &--showing-form {

        .alpd-video__assets-container,
        .alpd-video__container .video {
            display: none;

            @media screen and (min-width: 768px) {
                display: initial;
            }
        }

        .alpd-video__wrapper {
            height: calc(660px + ((800 - 660) * ((100vw - 768px) / (1440 - 768))));
        }

        .alpd-video__container .alpd-form__container {
            display: block;
            height: 50.75rem;

            @media screen and (min-width: 768px) {
                position: absolute;
                z-index: 2;
                height: 39.75rem;

                width: calc(745px + ((1120 - 745) * ((100vw - 768px) / (1440 - 768))));
                margin-left: auto;
                margin-right: auto;
                left: 50%;
                top: 50%;
                bottom: auto;
                transform: translate(-50%, -50%);
            }
        }
    }
}