.button {
  background-color: $color-red;
  color: $color-white;
  cursor: pointer;
  border-radius: .25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  max-height: 3.125rem;
  padding: .9375rem 1.25rem;
  @include transition('all, 0.4s, ease-in-out');
  width: max-content;

  &:hover,
  &:focus {
    background-color: $color-black;
    color: $color-white;
  }


  &--secondary{
    background:none; 
    border:2px solid $color-red;
    color: $color-red;
    font-weight: 700;

    &:hover,
    &:focus {
      background:none; 
      border:2px solid $color-blue;
      color: $color-blue;
    }

  }

  
  &--take-photo{
    background:none; 
    border:2px solid $color-red;
    color: $color-red;
    font-weight: 700;

    &::after{
      content: "";
      display: block;
      background-image: url('/assets/images/red-camera.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 18px;
      width: 22px;
      margin-left: .625rem;
      transition: .5s;
    }

    &:hover,
    &:focus {
      background:none; 
      border:2px solid $color-blue;
      color: $color-blue;
      
      &::after{
        content: "";
        background-image: url('/assets/images/blue-camera.png');
    }
  }
}

    &--upload-photo{
      background:none; 
    border:2px solid $color-red;
    color: $color-red;
    font-weight: 700;

    &::after{
      content: "";
      display: block;
      background-image: url('/assets/images/red-upload.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 18px;
      width: 18px;
      margin-left: .625rem;
      transition: .5s;
    }

    &:hover,
    &:focus {
      background:none; 
      border:2px solid $color-blue;
      color: $color-blue;

      &::after{
        content: "";
        background-image: url('/assets/images/blue-upload.png');
    }
    }

  }
  &--tertiary{
    background: none;
    color: $color-black;
    text-decoration: underline;
    text-underline-offset: .0938rem;

    &:hover,
    &:focus {
      background:none; 
      color: $color-black;
    }

  }

  
}