.button {
  background-color: $color-red;
  color: $color-white;
  cursor: pointer;
  border-radius: .25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  max-height: 3.125rem;
  padding: .9375rem 1.25rem;
  @include transition('all, 0.4s, ease-in-out');
  width: max-content;

  &:hover,
  &:focus {
    background-color: $color-red;
    color: $color-white;
  }


  &--secondary{
    background:none; 
    border:1px solid $color-red;
    color: $color-red;

    &:hover,
    &:focus {
      border:1px solid $color-red;
      color: $color-red;
    }
  }

  &--tertiary{
    background: none;
    color: $color-black;
    text-decoration: underline;
    text-underline-offset: .0938rem;

    &:hover,
    &:focus {
      color: $color-black;
    }

  }

  
}