.case__files_modal {
    padding: 0;
    background-color: $color-cararra !important;
    --custom-folder-color: #dcc094;

    .go__to_patient {
        display: inline-block;
        color: $color-black;
        cursor: pointer;
        font-weight: 600;
        text-decoration: underline;
    }

    &.--desktop {
        background: unset !important;
        max-width: 1362px;
        padding: 0 !important;
        width: 100%;

        .case__files_modal_close-button {
            color: $color-white;
        }

    }

    &_close-button {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-family: 'Barlow';
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 100%;
        color: $color-carbon;
        cursor: pointer;
        z-index: 3;
    }

    // Desktop modal styles:

    .case__files_desktop_modal {
        padding: 0;

        .section-cases {
            // background-color: var(--custom-folder-color);
            padding: 2.5rem 2rem;
            background-image: url("/assets/images/case-files/modal/modal-case-files-bg-desktop.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;

            >[role='tabpanel'] {
                height: 914px;
            }
        }

        >[role='tablist'] {
            [aria-selected] {
                background-color: transparent;
            }

            background-color: transparent;
            height: auto;
            padding: 0;

            background-image: url("/assets/images/case-files/modal/betty-tab-bg-desktop.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 100% 100%;

            justify-content: space-around;
            padding: 0 3rem;

            height: 5rem;

            margin-bottom: -1px;

            &[data-active-tab="case-link-to-panel-1"] {
                background-image: url("/assets/images/case-files/modal/nathan-tab-bg-desktop.png");
            }

            &[data-active-tab="case-link-to-panel-2"] {
                background-image: url("/assets/images/case-files/modal/anna-tab-bg-desktop.png");
            }

            &[data-active-tab="case-link-to-panel-3"] {
                background-image: url("/assets/images/case-files/modal/hannah-tab-bg-desktop.png");
            }

            &[data-active-tab="case-link-to-panel-4"] {
                background-image: url("/assets/images/case-files/modal/sarah-tab-bg-desktop.png");
            }

            &[data-active-tab="case-link-to-panel-5"] {
                background-image: url("/assets/images/case-files/modal/betty-tab-bg-desktop.png");
            }

            li {
                height: auto;
                // margin-right: 0;
                // border-right: 1px solid $color-black;
                border: none;
                margin: 0;
                width: 14.5625rem;

                display: flex;
                justify-content: center;

                a {
                    position: relative;
                    // background-color: var(--custom-folder-color);
                    border-color: transparent;
                    color: $color-black;
                    padding-top: 0rem;
                    padding-bottom: 0.5rem;
                    font-family: 'Special Elite';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.375rem;
                    line-height: 140%;

                    padding-left: 0;
                    padding-right: 0;

                    @media screen and (min-width: 1366px) {
                        font-size: 24px;
                    }

                    width: max-content;

                    margin-left: auto;
                    margin-right: auto;

                    /* BRAND COLOR- carbon */

                    color: #1F1511;

                    &[aria-selected] {
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;

                            height: 5px;
                            background-color: $color-red;
                        }
                    }
                }
            }

        }

        [role='tabpanel'] {
            background: #F8F8F5;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-image: url('/assets/images/case-files/patient-case-panel-modal-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 0;
            // height: 914px;
        }

        .patient__case_grid {
            display: grid;
            grid-template-columns: 34% 42% 24%;
            grid-template-rows: 1fr;
            height: 100%;

            &_col {
                --section--spacing: 1.5rem;

                @media screen and (min-width: 1250px) {
                    --section--spacing: 2rem;
                }

                --section-min-height: 14.375rem;

                .info_header,
                .info_description,
                .info_content,
                .patient__info_grid_photo,
                .tabs {
                    border-bottom: 1px solid $color-red;
                    min-height: var(--section-min-height);
                    padding: var(--section--spacing);
                    padding-top: calc(var(--section--spacing) + 0.75rem);
                }

                .info_header,
                .tabs {
                    @media screen and (min-width: 1365px) {
                        padding-left: calc(var(--section--spacing) + 1rem);
                    }
                }

                .info_header {
                    padding-bottom: 1rem;


                    .heading {
                        color: $color-carbon;
                        font-family: 'Oswald';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 45px;
                        text-transform: uppercase;
                    }

                    .name {
                        color: $color-black;
                        font-family: 'Special Elite';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 34px;
                        line-height: 41px;
                        letter-spacing: -0.291667px;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }

                    .text {
                        color: $color-black;
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 0;
                    }
                }

                .info_description {
                    .description {
                        color: $color-carbon;
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 21px;
                        line-height: 29px;
                        max-width: 24.75rem;
                    }
                }

                .info_content,
                .tabs {
                    border: 0;
                    padding-top: 1.5rem;
                    height: 41.5625rem;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .info_content {
                    padding-bottom: 0;

                    .results__title {
                        color: $color-carbon;
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 21px;
                        line-height: 29px;
                        margin-bottom: 0.5rem;
                    }

                    a.custom__tab_link {
                        display: inline-block;
                        cursor: pointer;
                        font-weight: 600;
                        text-decoration: underline;
                    }

                    ul li.item {
                        strong {
                            text-decoration: underline;
                        }

                        ul {
                            margin-top: 0.5rem;
                        }
                    }
                }


                &.--col-left {
                    [role='tablist'] {
                        background-color: unset;
                        flex-direction: column;
                        align-items: baseline;
                        margin-left: -1.5rem;
                        padding: 0;
                        height: auto;

                        // @media screen and (max-width: 1362px) {
                        //   margin-left: 0;
                        // }

                        li {
                            height: auto;
                            margin-right: 0;
                            padding-left: 1.5rem;
                            width: 100%;

                            @media screen and (min-width: 1250px) {
                                width: 95%;
                            }

                            &:first-of-type {
                                a {
                                    padding-top: 0;


                                    &::before {
                                        top: 25%;

                                        @media screen and (min-width: 1365px) {
                                            top: 22%;
                                        }
                                    }

                                }
                            }

                            a {
                                position: relative;
                                border: 0;
                                color: $color-carbon;
                                display: block;
                                font-family: 'Special Elite';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 24px;
                                line-height: 36px;
                                padding-top: 1.25rem;
                                padding-right: 0;
                                padding-bottom: 1rem;
                                border-bottom: 1px solid $color-red;
                                padding-left: 0;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 45%;
                                    left: -1rem;
                                    width: 0.5rem;
                                    height: 0.5rem;
                                    background-color: transparent;
                                    border-radius: 50%;

                                    @media screen and (min-width: 1365px) {
                                        top: 42%;
                                        left: -1.5rem;
                                        width: .75rem;
                                        height: .75rem;
                                    }
                                }

                                &[aria-selected] {
                                    background-color: unset;
                                    color: $color-red;

                                    &::before {
                                        background-color: $color-red;
                                        transition: all 0.3s ease-in-out;
                                    }
                                }

                            }

                        }
                    }

                }

                &.--col-middle {
                    border-left: 1px solid $color-red;
                    border-right: 1px solid $color-red;

                    [role='tabpanel'] {
                        background: unset;
                        box-shadow: none;
                        color: $color-carbon;
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 25px;
                    }

                    ul:not([role='tablist']) {
                        margin-left: 1.75rem;
                        margin-bottom: 1rem;
                    }

                    ul li:not([role='presentation']) {
                        list-style-type: disc;
                        font-family: "Barlow";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;

                        em {
                            font-style: italic;
                        }
                    }

                    .panel__title {
                        color: $color-red;
                        font-family: 'Special Elite';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 36px;
                        margin-bottom: 0.5rem;
                    }

                    .table__tabs {
                        .modal__table_tabs_list {
                            background: unset;
                            height: auto;
                            justify-content: flex-start;
                            padding: 0;

                            li {
                                flex: 0 0 33.1%;
                                height: auto;
                                margin-right: 2px;

                                &:last-of-type {
                                    margin-right: 0;
                                }

                                a {
                                    --custom-gray-color: #D9D9D9;
                                    background-color: var(--custom-gray-color);
                                    border-top-right-radius: 10px;
                                    border-top-left-radius: 10px;
                                    border-color: var(--custom-gray-color);
                                    border-width: 1px;
                                    border-bottom: 0;
                                    color: $color-carbon;
                                    padding: 0;
                                    font-family: 'Barlow';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 25px;
                                    height: 35px;
                                    display: flex;
                                    text-align: center;

                                    &[aria-selected] {
                                        background-color: $color-red;
                                        border-color: $color-black;
                                        color: $color-white;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        .acc-table {
                            display: flex;
                            margin-bottom: 0.75rem;

                            p {
                                border-top: 1px solid $color-black;
                                padding-right: .8125rem;
                                padding-left: .8125rem;
                                padding-top: 0.5rem;
                                padding-bottom: 0.5rem;
                                margin: 0;
                            }

                            h3 {
                                font-family: 'Barlow';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 25px;
                                background: rgba(82, 108, 173, 0.3);
                                padding-top: .3125rem;
                                padding-bottom: .3125rem;
                                text-align: center;
                            }

                            .last-child {
                                border-right: 1px solid $color-black !important;
                            }
                        }

                        .first-column {
                            padding-bottom: 0;
                            border: 1px solid $color-black;
                            border-right: none;
                            width: 50%;

                            p {
                                color: $color-carbon;
                                font-family: 'Barlow';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 25px;
                            }


                        }

                        .second-column {
                            width: 25%;
                            text-align: center;
                            padding-bottom: 0;
                            border: 1px solid $color-black;
                            border-right: none;

                            p {
                                font-family: 'Barlow';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 25px;

                                display: flex;
                                justify-content: center;
                                margin: auto;
                            }
                        }
                    }

                    .thumbnails {
                        display: flex;
                        align-items: flex-start;
                        @include flex-gap(1rem);

                        .pinch-to-zoom {
                            display: inline-block;
                            background: unset;
                            height: auto;
                            padding: 0;
                            width: auto !important;

                            .patient--zoom {
                                color: red;
                            }

                            .patient {
                                p {
                                    font-family: 'Barlow';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: $color-carbon;
                                    margin-top: 0.5rem;

                                    em {
                                        //Cursive
                                        font-style: italic;
                                    }
                                }

                                small {
                                    display: block;
                                    font-size: 12px;
                                    line-height: 13px;
                                    margin-top: 0.5rem;
                                    max-width: 15.25rem;
                                }

                                &--anna-rad {
                                    .patient--delay-color {
                                        display: none;
                                    }

                                    p {
                                        max-width: 30ch;
                                    }

                                    small {
                                        max-width: 40ch;
                                    }
                                }

                                &--child {
                                    &.mw--40ch {
                                        max-width: 40ch;
                                    }
                                }
                            }
                        }
                    }

                }

                &.--col-right {

                    .patient__info_grid_photo {
                        padding-top: 0;
                        height: 290px;

                        @media screen and (min-width: 1100px) {
                            height: 325px;
                        }

                        img {
                            position: relative;
                            top: -1.80rem;
                            margin: 0 auto;
                            width: 247px;
                            //   transform: rotate(4deg);

                            &.photo-of-Anna {
                                top: -1.2rem;
                            }

                            &.photo-of-Sarah {
                                top: -1.2rem;
                            }
                        }
                    }

                    .patient__info_grid_name {
                        padding-top: 1rem;
                        padding-bottom: 0.5rem;

                        .patient__name {
                            color: $color-black;
                            font-family: 'Special Elite';
                            font-weight: 400;
                            font-size: 34px;
                            line-height: 41px;
                            letter-spacing: -0.291667px;
                            text-align: center;
                        }
                    }

                    .patient__info_grid_data {
                        ul {
                            border-top: 1px solid $color-red;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            li {
                                border-bottom: 1px solid $color-red;
                                font-family: 'Barlow';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 25px;
                                color: $color-carbon;
                                flex: 0 0 50%;
                                min-height: 45px;
                                padding-top: 10px;
                                padding-bottom: 5px;
                                padding-left: 25px;

                                @media screen and (min-width: 1365px) {
                                    padding-left: 50px;
                                }

                                &.label {
                                    font-family: 'Oswald';
                                    font-weight: 700;
                                    line-height: 27px;
                                    letter-spacing: -0.291667px;
                                    text-transform: uppercase;
                                }

                                &:nth-child(odd) {
                                    border-right: 1px solid $color-red;
                                }


                            }
                        }
                    }

                    .patient__info_grid_finger-print {
                        border-bottom: 1px solid $color-red;
                        padding-top: 1.5rem;

                        img {
                            margin: 0 auto;
                            mix-blend-mode: multiply;
                            width: 6.375rem;
                        }

                        padding-bottom: 0.25rem;
                    }

                    .patient__info_grid_empty_space {
                        height: 12.6875rem;
                    }

                }

            }

        }
    }

    .patients.mobile--version {
        .patient {
            &--hannah-mobile {
                .patient--main-not-capitalize {
                    display: none;
                }
            }
        }
    }

    #patient-id-1 {

        .profile__pic {
            top: -25px;
        }
    }

    #patient-id-3 {

        .profile__pic {
            top: -40px;
        }
    }

    #patient-id-4 {
        .profile__pic {
            top: -40px;
        }
    }

    .patient__case {
        &#patient-id-5 {
            .grid_header {
                height: 200px;
            }

            .profile__pic {
                left: -10px;
                top: -35px;
                width: 195px;
                height: 275px;
            }

            .accordion__item {
                padding-bottom: 8px;
            }

            .accordion__item_content {
                margin-top: 5px;

                .item {
                    line-height: 140%;
                }
            }

            [aria-expanded="true"] {
                .accordion__item_content {
                    padding-bottom: 16px;
                }
            }
        }

        #acc-medications-5 {
            .accordion__item_content {
                .item {
                    max-width: 25ch;

                    @media screen and (min-width: 400px) {
                        max-width: unset;
                    }
                }
            }
        }

        #acc-results-5 {
            .accordion__item_content {
                h4 {
                    margin-bottom: 0;
                    line-height: 140%;
                }

                h5 {
                    margin-bottom: 8px;
                    margin-top: 8px;
                    line-height: 140%;
                }

                table + h5 {
                    margin-top: 26px;
                }

                .result-table {
                    th {
                        line-height: 150%;
                    }

                    td {
                        line-height: 150%;

                        &:first-child {
                            padding-left: 8px;
                            padding-right: 0;
                        }

                        &:nth-child(2) {
                            line-height: 140%;
                        }
                    }
                }

                .item {
                    margin-left: 13px;
                    max-width: 30ch;

                    @media screen and (min-width: 400px) {
                        max-width: unset;
                    }
                }

                .thumbnails_group {
                    display: grid;
                    grid-template-areas: "rad rad"
                                        "dexa1 dexa2"
                                        "dexa3 dexa4";
                    justify-content: space-between;

                    @media screen and (min-width: 550px) {
                        grid-template-areas: "rad dexa1 dexa2"
                                             "rad dexa3 dexa4";
                    }
                }

                #pt-5-image-1,
                #pt-5-image-2,
                #pt-5-image-3,
                #pt-5-image-4,
                #pt-5-image-5 {
                    .patient {
                        p {
                          font-size: 14px;
                          line-height: 130%;
                          margin-bottom: 12px;
                        }
                    }
                }

                #pt-5-image-1 {
                    width: 140px !important;
                    padding-right: 0;

                    img {
                        margin: 0;
                    }
                }

                #pt-5-image-2,
                #pt-5-image-3,
                #pt-5-image-4,
                #pt-5-image-5 {
                    width: 140px !important;
                    padding-right: 0;
                    padding-bottom: 0;

                    .patient {
                        p {
                            margin-bottom: 4px;
                        }
                    }

                    .rad__thumbnail {
                        picture {
                            img {
                                margin: 0;
                                max-width: 135px;
                            }
                        }
                    }
                }

                #pt-5-image-2,
                #pt-5-image-3 {
                    .rad__thumbnail {
                        picture {
                            img {
                                max-height: 81px;
                            }
                        }
                    }
                }

                #pt-5-image-4,
                #pt-5-image-5 {
                    .rad__thumbnail {
                        picture {
                            img {
                                max-height: 87px;
                            }
                        }
                    }
                }

                #pt-5-image-2,
                #pt-5-image-3,
                #pt-5-image-4,
                #pt-5-image-5 {
                    .rad__thumbnail {
                        picture {
                            .button {
                                width: 38.7px;
                                height: 40.5px;
                                bottom: 7px;
                                right: 11px;

                                &::before {
                                    left: 0;
                                    top: 0;
                                    width: 26px;
                                    height: 26px;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }

                #pt-5-image-1 {
                    grid-area: rad;
                }

                #pt-5-image-2 {
                    grid-area: dexa1;

                    .rad__thumbnail {
                        picture {
                            .button {
                                bottom: 9px;
                                right: 14px;
                            }
                        }
                    }
                }

                #pt-5-image-3 {
                    grid-area: dexa2;
                }

                #pt-5-image-4 {
                    grid-area: dexa3;

                    .rad__thumbnail {
                        picture {
                            .button {
                                bottom: 8px;
                                right: 17px;
                            }
                        }
                    }
                }

                #pt-5-image-5 {
                    grid-area: dexa4;

                    .rad__thumbnail {
                        picture {
                            .button {
                                right: 17px;
                            }
                        }
                    }
                }

            }
        }
    }

    #case-p-panel-5 {
        height: 1000px;

        .--col-middle {
            .info_content {
                height: auto;
            }
        }
    }

    #case-betty-65 {
        .patient__info_grid_photo {
            img {
                top: -40px;
                width: 291px;
                height: 300px;

                @media screen and (min-width: 1200px) {
                    top: -50px;
                    width: 291px;
                    height: 387px;
                }
            }
        }

        .item {
            line-height: 140%;
            font-size: 18.06px;
            max-width: 37ch;
        }

        #tab-medical-betty-65 {
            .item {
                max-width: 35ch;
            }
        }

        #tab-results-betty-65 {
            .item {
                max-width: 100%;
            }
        }

        .thumbnails {
            display: grid;
            grid-template-areas: "rad dexa1 dexa2"
                                "rad dexa3 dexa4";
            justify-content: space-between;

            .patient {
                p {
                    line-height: 130%;
                    max-width: 18ch;
                }
            }

            .rad__thumbnail {
                picture {
                    img {
                        margin-left: 0;
                    }
                }
            }
        }

        #pt-5-desktop-image-2,
        #pt-5-desktop-image-3,
        #pt-5-desktop-image-4,
        #pt-5-desktop-image-5 {
            .rad__thumbnail {
                picture {
                    .button {
                        background-color: rgba(14,14,14,0.3);
                        width: 38.7px;
                        height: 40.5px;
                        bottom: 10px;
                        right: 11px;

                        &::before {
                            left: 0;
                            top: 0;
                            width: 23.5px;
                            height: 23.7px;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
        }

        #pt-5-desktop-image-4,
        #pt-5-desktop-image-5 {
            .rad__thumbnail {
                picture {
                    .button {
                        right: 13px;
                        bottom: 9px;
                    }
                }
            }
        }

        #pt-5-desktop-image-1 {
            grid-area: rad;

            .patient {
                p {
                    max-width: 13ch;
                }
            }
        }

        #pt-5-desktop-image-2 {
            grid-area: dexa1;
        }

        #pt-5-desktop-image-3 {
            grid-area: dexa2;
        }

        #pt-5-desktop-image-4 {
            grid-area: dexa3;
        }

        #pt-5-desktop-image-5 {
            grid-area: dexa4;
        }


    }

}

#fancybox-clone-pt-5-image-1.fancybox--pinch-to-zoom {
    .pinch-to-zoom.f-panzoom {
        .rad__thumbnail {
            .patient {
                p {
                    max-width: 20ch;
                    font-size: 12px;
                    line-height: 130%;
                    font-weight: 400;
                    text-transform: unset;
                }
            }
        }
    }
}

#fancybox-clone-pt-5-image-2.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-image-3.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-image-4.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-image-5.fancybox--pinch-to-zoom {
    .pinch-to-zoom.f-panzoom {
        .rad__thumbnail {
            .patient {
                top: 5px;
                left: 8%;

                p {
                    color: $color-black;
                    font-size: 12px;
                    line-height: 130%;
                    font-weight: 400;
                    text-transform: unset;
                }
            }
        }
    }
}

#fancybox-clone-pt-5-image-4.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-image-5.fancybox--pinch-to-zoom {
    .pinch-to-zoom.f-panzoom {
        .rad__thumbnail {
            .patient {
                top: 2px;
                left: 11%;
            }
        }
    }
}

#fancybox-clone-pt-5-desktop-image-1.fancybox--pinch-to-zoom {
    .pinch-to-zoom.f-panzoom {
        .rad__thumbnail {
            .patient {
                p {
                    max-width: 24ch;
                    font-size: 14px;
                    line-height: 150%;
                    font-weight: 400;
                    text-transform: unset;
                }
            }
        }
    }
}

#fancybox-clone-pt-5-desktop-image-2.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-desktop-image-3.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-desktop-image-4.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-desktop-image-5.fancybox--pinch-to-zoom {
    .pinch-to-zoom.f-panzoom {
        .rad__thumbnail {
            .patient {
                top: 8px;
                left: 5%;

                p {
                    color: $color-black;
                    font-size: 14px;
                    line-height: 150%;
                    font-weight: 400;
                    text-transform: unset;
                }
            }
        }
    }
}

#fancybox-clone-pt-5-desktop-image-4.fancybox--pinch-to-zoom,
#fancybox-clone-pt-5-desktop-image-5.fancybox--pinch-to-zoom {
    .pinch-to-zoom.f-panzoom {
        .rad__thumbnail {
            .patient {
                top: 2px;
            }
        }
    }
}

.fancybox--pinch-to-zoom[aria-hidden="false"] {
    .zoom-text {
        display: none;
    }

    p {
        text-transform: capitalize;
    }
}