.common-page-hero {
    width: 100%;
    position: relative;

    height: calc(173px + ((379 - 173) * ((100vw - 320px) / (1440 - 320))));
    max-height: 23.6875rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background: linear-gradient(90.75deg, #000000 1.7%, rgba(0, 0, 0, 0) 67.27%);
        opacity: 0.65;

        z-index: 2;
    }

    .red-string {
        z-index: 3;
    }

    [data-image-hero] {
        height: 100%;

        img {
            height: inherit;
        }
    }

    .common-page-hero__title {
        border: 10px solid transparent;
        padding: 0.5rem;
        position: absolute;

        border-image: url("/assets/images/common-hero/hero-title-frame.png") 19 round;

        display: flex;
        align-items: center;

        z-index: 3;

        @media screen and (min-width: 768px) {
            border-image-slice: 13;
        }

        @media screen and (min-width: 1440px) {
            left: calc(var(--wrapper-margin) / 2);
        }

        @media screen and (min-width: 1600px) {
            left: calc((100vw - 90rem) / 2);
        }

        h1 {
            font-family: "veneer", sans-serif;
            color: #ff0000;
            text-transform: uppercase;
            line-height: 100%;
            font-weight: 500;

            letter-spacing: 2px;

            font-size: 1.75rem;

            @media screen and (min-width: 768px) {
                font-size: 4rem;
            }
        }
    }
}