.cookie {
  background-color: $color-blue;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.625rem;

  &.hidden {
    display: none;
  }

  &__content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @include flex-gap(2.5rem);
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;

    @media screen and (min-width: 1024px) {
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      @include flex-gap(2rem);
    }

  }

  &__text {
    color: $color-white;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.625rem;
    padding-top: 0.25rem;

    @media screen and (min-width: 1200px) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }

    a {
      color: $color-white;
      font-weight: 700;
      text-decoration: none;
    }

  }

  &__button {
    position: relative;
    top: -0.5rem;
    right: -0.5rem;
    color: $color-white;
    cursor: pointer;
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;

    @media screen and (min-width: 1024px) {
      top: 0;
      right: 0;
    }

    @media screen and (min-width: 1440px) {
      top: .3125rem;
    }

    .line {
      background-color: $color-white;
      display: block;
      height: 3px;
      width: 1.75rem;
    }

    .line:first-of-type {
      position: relative;
      top: -1px;
      transform: rotate(45deg);
    }

    .line:last-of-type {
      position: relative;
      top: -4px;
      transform: rotate(-45deg);
    }

  }

}