.cookie {
  background-color: $color-blue;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.625rem;

  &.hidden {
    display: none;
  }

  &__content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @include flex-gap(3rem);
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;

    @media screen and (min-width: 1200px) {
      @include flex-gap(6.25rem);
    }

  }

  &__text {
    color: $color-white;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.625rem;
    padding-top: 0.5rem;

    @media screen and (min-width: 1200px) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }

    a {
      color: $color-white;
      font-weight: 600;
      text-decoration: underline;
    }

  }

  &__button {
    position: relative;
    top: -1rem;
    right: -0.25rem;
    color: $color-white;
    cursor: pointer;
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;

    .line {
      background-color: $color-white;
      display: block;
      height: 3px;
      width: 1.3rem;
    }

    .line:first-of-type {
      transform: rotate(45deg);
    }

    .line:last-of-type {
      position: relative;
      top: -3px;
      transform: rotate(-45deg);
    }

  }

}