.enter__site {
    position: relative;
    overflow: hidden;

    .badge {
        background-image: url('/assets/images/enter-site/badge-mobile.png');
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
        position: absolute;
        max-width: 464px;
        max-height: 461px;
        width: 100%;
        min-height: 333px;
        bottom: 0;
        z-index: 1;
        display: none;

        &.visible {
            display: block;
        }

        @media screen and (min-width: 768px) {
            background-image: url('/assets/images/enter-site/badge-desktop.png');
            max-width: 520px;

            left: 50%;
            transform: translateX(-50%);
        }
    }

    .grid {

        position: relative;

        &__content {
            background-image: url('/assets/images/enter-site/background.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            min-height: 100vh;
            //   height: 812px;
            overflow: hidden;
            padding-top: 1rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            padding-bottom: 1rem;
            width: 100vw;

            &_title,
            &_sub-title {
                color: $color-blue;
                text-transform: uppercase;
            }

            &_title {
                font-family: "veneer", sans-serif;
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.25rem;

                @media screen and (min-width: 768px) {
                    font-size: 3.4375rem;
                    line-height: 3.4375rem;
                }
            }

            &_sub-title {
                font-size: 1.65rem;
                line-height: 1.85rem;
                margin-bottom: 0.75rem;

                @media screen and (min-width: 768px) {
                    font-size: 3.4375rem;
                    line-height: 3.4375rem;
                }

                * {
                    font-family: inherit;
                }

                u {
                    text-decoration: underline;
                }
            }

            &_text {
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 700;
                font-size: 1.3125rem;
                line-height: 1.625rem;
            }

            &_buttons,
            .grid__form {
                display: none;
                height: 100%;
                transition: display 0.5s ease-in-out;
            }

            &_buttons {
                position: relative;

                >* {
                    position: relative;
                    z-index: 2;
                }

                .buttons__list {
                    margin-top: 2rem;
                    margin-bottom: 2rem;

                    &_item {
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                        list-style-type: none;
                        text-align: center;
                        width: 10.9375rem;

                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }

                        &::marker {
                            display: none;
                        }

                        .button {
                            width: 100%;
                            justify-content: center;
                        }
                    }
                }



            }

            .grid__form {
                margin-top: 1rem;
                height: auto;

                img {
                    margin-bottom: 1rem;
                }
            }

            .continue__text {

                font-family: 'Barlow';
                font-style: normal;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.5rem;

                a {
                    font-weight: 600;
                    text-decoration: underline;

                    &:focus,
                    &:hover {
                        color: $color-red;
                    }
                }
            }

            @media screen and (min-width: 768px) {
            }

        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        &__media {
            display: none;
            background-color: $color-black;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            transition: display 0.5s ease-in-out;
            width: 100%;

            &.visible {
                display: grid;
                place-content: center;
            }

            .button--close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: $color-white;
                cursor: pointer;
                height: 30px;
                padding-right: 5px;
                padding-left: 5px;
                z-index: 2;

                .line {
                    background-color: #FFFFFF;
                    display: block;
                    height: 3px;
                    width: 1.75rem;

                    &:first-of-type {
                        position: relative;
                        top: -1px;
                        transform: rotate(45deg);
                    }

                    &:last-of-type {
                        position: relative;
                        top: -4px;
                        transform: rotate(-45deg);
                    }
                }
            }


        }



    }

}