.references{
    margin: auto;
    margin-bottom: 1.5625rem;
    max-width: 18rem;

    @media screen and (min-width:375px) {
        
    max-width: 20rem;
    }
    
    @media screen and (min-width:600px) {
        max-width: 75rem;
        margin-bottom: 7.1212rem;
    }
    span,p,a{
        color: white;
    }

    p, a{
        font-size: .75rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        line-height: 1.3125rem;
        
        
        @media screen and (min-width:375px) {
        font-size: .875rem;
        }
    }

    p{
        margin-left: 10px;
        margin-right: 10px;
    }

    span{
        font-weight: 900;
    }
}