.references{
    margin: auto;
    margin-bottom: 1.5625rem;
    
    @media screen and (min-width:600px) {
        max-width: 75rem;
        margin-bottom: 7.1212rem;
    }
    span,p,a{
        color: white;
    }
    
    p, a{
        font-size: .75rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        line-height: 1.3125rem;
        
        
        @media screen and (min-width:375px) {
            font-size: .875rem;
        }
    }

    span{
        font-weight: 900;
    }

    a {
        text-decoration: none;
    }
}