.skeleton {
    width: 100%;
    position: relative;
    display: flex;

    &--desktop {
        display: none;

        @media screen and (min-width: 900px) {
            display: flex;

            .skeleton__word {
                z-index: 1;
            }
        }
    }

    &--mobile {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 900px) {
            display: none;
        }

        .skeleton__content {
            margin: 0 auto;
        }
    }

    &__image {
        width: fit-content;

        &--container {
            width: 50%;
            position: relative;
            overflow: hidden;
        }
    }

    &__option {
        width: 155px;
        height: max-content;

        &--infants {
            .skeleton__word {
                width: 180px;
            }
        }

        &:hover {
            color: $color-cinnabar;
            border-color: $color-cinnabar;
        }

        &[data-word="neurologic"] {
            .skeleton__point {
                top: 1.5rem;
                left: 6.8rem;
            }

            .skeleton__line--before {
                top: 1.7rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 50%;
                top: 1.7rem;
                left: 6.8rem;
                z-index: 0;
            }

            .skeleton__word {
                top: 0rem;
                left: 50%;
            }

        }

        &[data-word="dental"] {
            .skeleton__point {
                top: 2.6rem;
                left: 6.8rem;
            }

            .skeleton__line--before {
                top: 6.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 7.1rem;
                top: 2.7rem;
                left: 6.9rem;
                z-index: 0;
                transform: rotate(32deg);
                transform-origin: left;
            }

            .skeleton__line--after2 {
                width: 25%;
                top: 6.5rem;
                left: calc(6.4rem + 6.5rem);
                z-index: 0;
                
            }

            .skeleton__icon {
                width: 1.3rem;
            }

            .skeleton__word {
                top: 5rem;
                left: 50%;
            }
        }

        &[data-word="muscular"] {
            .skeleton__point {
                top: 8rem;
                left: 10.3rem;
            }

            .skeleton__line--before {
                top: 11.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 4.8rem;
                top: 8.1rem;
                left: 10.4rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 25%;
                top: 11.5rem;
                left: calc(10.1rem + 3.7rem);
                z-index: 0;
                
            }

            .skeleton__word {
                top: 10rem;
                left: 50%;
            }
        }

        &[data-word="rheumatic"] {
            .skeleton__point {
                top: 11rem;
                left: 11rem;
            }

            .skeleton__line--before {
                top: 16.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 7.65rem;
                top: 11.1rem;
                left: 11.1rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 15%;
                top: 16.5rem;
                left: calc(10.7rem + 5.8rem);
                z-index: 0;
                
            }

            .skeleton__word {
                top: 15rem;
                left: 50%;
            }
        }

        &[data-word="renal"] {
            .skeleton__point {
                top: 14.2rem;
                left: 8rem;
            }

            .skeleton__line--before {
                top: 21.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 10.16rem;
                top: 14.3rem;
                left: 8.1rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 24%;
                top: 21.5rem;
                left: calc(7.6rem + 7.7rem);
                z-index: 0;
                
            }

            .skeleton__word {
                top: 20rem;
                left: 50%;
            }
        }

        &[data-word="orthopedic"] {
            .skeleton__point {
                top: 19rem;
                left: 9rem;
            }

            .skeleton__line--before {
                top: 26.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 10.45rem;
                top: 19.1rem;
                left: 9.2rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 15%;
                top: 26.5rem;
                left: calc(8.6rem + 8rem);
                z-index: 0;
                
            }

            .skeleton__word {
                top: 25rem;
                left: 50%;
            }
        }


        &[data-word="neurologic--infants"] {
            .skeleton__point {
                top: 3rem;
                left: 6.2rem;
            }

            .skeleton__line--before {
                top: 3.2rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 50%;
                top: 3.2rem;
                left: 6.2rem;
                z-index: 0;
                
            }

            .skeleton__line--after2 {
                display: none;
            }

            .skeleton__word {
                top: 1.5rem;
                left: 50%;
            }

        }

        &[data-word="dental--infants"] {
            .skeleton__point {
                top: 6rem;
                left: 6.2rem;
            }

            .skeleton__line--before {
                top: 7.8rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 4.72rem;
                top: 6.2rem;
                left: 6.5rem;
                z-index: 0;
                transform: rotate(20deg);
                transform-origin: left;
            }

            .skeleton__line--after2 {
                width: 30%;
                top: 7.8rem;
                left: calc(6.4rem + 4.5rem);
                z-index: 0;
            }

            .skeleton__icon {
                width: 1.3rem;
            }

            .skeleton__word {
                top: 6.5rem;
                left: 50%;
            }
        }

        &[data-word="muscular--infants"] {
            .skeleton__point {
                top: 10.5rem;
                left: 10rem;
            }

            .skeleton__line--before {
                top: 12.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 3.3rem;
                top: 10.5rem;
                left: 10.1rem;
                z-index: 0;
                transform: rotate(38deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 25%;
                top: 12.5rem;
                left: calc(10.1rem + 2.5rem);
                z-index: 0;
            }

            .skeleton__word {
                top: 11rem;
                left: 50%;
            }
        }

        &[data-word="respiratory--infants"] {
            .skeleton__point {
                top: 12.5rem;
                left: 5rem;
            }

            .skeleton__line--before {
                top: 17.5rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 9.8rem;
                top: 12.6rem;
                left: 5.1rem;
                z-index: 0;
                transform: rotate(30deg);
                transform-origin: left;
            }

            .skeleton__line--after2 {
                width: 25%;
                top: 17.5em;
                left: calc(10.1rem + 3.5rem);
                z-index: 0;
            }

            .skeleton__word {
                top: 15.7rem;
                left: 50%;
            }
        }

        &[data-word="rheumatic--infants"] {
            .skeleton__point {
                top: 18rem;
                left: 11rem;
            }

            .skeleton__line--before {
                top: 22rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 6.08em;
                top: 18.1rem;
                left: 11.2rem;
                z-index: 0;
                transform: rotate(40deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 15%;
                top: 22rem;
                left: calc(10.7rem + 5.1rem);
                z-index: 0;
            }

            .skeleton__word {
                top: 20.5rem;
                left: 50%;
            }
        }

        &[data-word="renal--infants"] {
            .skeleton__point {
                top: 19.5rem;
                left: 8rem;
            }

            .skeleton__line--before {
                top: 27rem;
                left: 50%;
            }

            .skeleton__line--after {
                width: 10.46rem;
                top: 19.6rem;
                left: 8.1rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 25%;
                top: 27rem;
                left: calc(7.6rem + 7.9rem);
                z-index: 0;
            }

            .skeleton__word {
                top: 25.4rem;
                left: 50%;
            }
        }

        &[data-word="orthopedic--infants"] {
            .skeleton__point {
                top: 32.2rem;
                left: 8.5rem;
            }

            .skeleton__line--before {
                top: 32.4rem;
                left: 50%;
            }

            .skeleton__line--after {
                display: none;
                width: 10.45rem;
                top: 19.1rem;
                left: 8.6rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 50%;
                top: 32.4rem;
                left: 8.5rem;
                z-index: 0;
                height: 1.01px;
            }

            .skeleton__word {
                top: 30.4rem;
                left: 50%;
            }
        }

        &[data-word="developmental--infants"] {
            .skeleton__point {
                top: 37rem;
                left: 8.6rem;
            }

            .skeleton__line--before {
                top: 37.2rem;
                left: 50%;
            }

            .skeleton__line--after {
                display: none;
                width: 4.8rem;
                top: 8.1rem;
                left: 10.1rem;
                z-index: 0;
                transform: rotate(45deg);
                transform-origin: left;
                
            }

            .skeleton__line--after2 {
                width: 50%;
                top: 37.2rem;
                left: 8.6rem;
                z-index: 0;
            }

            .skeleton__word {
                top: 35.7rem;
                left: 50%;
            }
        }


        &--infants {
            width: 240px;

            &[data-word="neurologic"] {
                .skeleton__point {
                    top: 1.5rem;
                    left: 6.3rem;
                }

                .skeleton__line--before {
                    top: 1.7rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 50%;
                    top: 1.7rem;
                    left: 6.3rem;
                    z-index: 0;
                }

                .skeleton__word {
                    top: 0rem;
                    left: 50%;
                }

            }

            &[data-word="dental"] {
                .skeleton__point {
                    top: 2.6rem;
                    left: 6.3rem;
                }

                .skeleton__line--before {
                    top: 6.7rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 7.2rem;
                    top: 2.7rem;
                    left: 6.4rem;
                    z-index: 0;
                    transform: rotate(32deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 25%;
                    top: 6.5rem;
                    left: calc(6.4rem + 6.1rem);
                    z-index: 0;
                }

                .skeleton__icon {
                    width: 1.3rem;
                }

                .skeleton__word {
                    top: 5rem;
                    left: 50%;
                }
            }

            &[data-word="muscular"] {
                .skeleton__point {
                    top: 8rem;
                    left: 10rem;
                }

                .skeleton__line--before {
                    top: 11.5rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 4.8rem;
                    top: 8.1rem;
                    left: 10.1rem;
                    z-index: 0;
                    transform: rotate(45deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 25%;
                    top: 11.5rem;
                    left: calc(10.1rem + 3.4rem);
                    z-index: 0;
                }

                .skeleton__word {
                    top: 10rem;
                    left: 50%;
                }
            }

            &[data-word="respiratory"] {
                .skeleton__point {
                    top: 8rem;
                    left: 10rem;
                }

                .skeleton__line--before {
                    top: 11.5rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 4.8rem;
                    top: 8.1rem;
                    left: 10.1rem;
                    z-index: 0;
                    transform: rotate(45deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 25%;
                    top: 11.5rem;
                    left: calc(10.1rem + 3.4rem);
                    z-index: 0;
                }

                .skeleton__word {
                    top: 15rem;
                    left: 50%;
                }
            }

            &[data-word="rheumatic"] {
                .skeleton__point {
                    top: 11rem;
                    left: 10.6rem;
                }

                .skeleton__line--before {
                    top: 16.5rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 7.65rem;
                    top: 11.1rem;
                    left: 10.7rem;
                    z-index: 0;
                    transform: rotate(45deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 15%;
                    top: 16.5rem;
                    left: calc(10.7rem + 5.39rem);
                    z-index: 0;
                }

                .skeleton__word {
                    top: 20rem;
                    left: 50%;
                }
            }

            &[data-word="renal"] {
                .skeleton__point {
                    top: 14.2rem;
                    left: 7.5rem;
                }

                .skeleton__line--before {
                    top: 21.5rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 10.2rem;
                    top: 14.3rem;
                    left: 7.6rem;
                    z-index: 0;
                    transform: rotate(45deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 25%;
                    top: 21.5rem;
                    left: calc(7.6rem + 7.2rem);
                    z-index: 0;
                }

                .skeleton__word {
                    top: 25rem;
                    left: 50%;
                }
            }

            &[data-word="orthopedic"] {
                .skeleton__point {
                    top: 19rem;
                    left: 8.5rem;
                }

                .skeleton__line--before {
                    top: 26.5rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 10.45rem;
                    top: 19.1rem;
                    left: 8.6rem;
                    z-index: 0;
                    transform: rotate(45deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 15%;
                    top: 26.5rem;
                    left: calc(8.6rem + 7.4rem);
                    z-index: 0;
                }

                .skeleton__word {
                    top: 30rem;
                    left: 50%;
                }
            }

            &[data-word="grow"] {
                .skeleton__point {
                    top: 19rem;
                    left: 8.5rem;
                }

                .skeleton__line--before {
                    top: 26.5rem;
                    left: 50%;
                }

                .skeleton__line--after {
                    width: 10.45rem;
                    top: 19.1rem;
                    left: 8.6rem;
                    z-index: 0;
                    transform: rotate(45deg);
                    transform-origin: left;
                }

                .skeleton__line--after2 {
                    width: 15%;
                    top: 26.5rem;
                    left: calc(8.6rem + 7.4rem);
                    z-index: 0;
                }

                .skeleton__word {
                    top: 35rem;
                    left: 50%;
                }
            }
        }

        &--active {
            .skeleton__point {
                background-color: $color-red;
                transform: scale(1.5);
                transition: all 0.3s ease-in-out;
            }

            .skeleton__line--before {
                display: block;
                background-color: $color-red;
                transition: all 0.3s ease-in-out;
            }

            .skeleton__line--after {
                background-color: $color-red;
                transition: all 0.3s ease-in-out;
            }

            .skeleton__line--after2 {
                background-color: $color-red;
                transition: all 0.3s ease-in-out;
            }

            .skeleton__word {
                border-color: $color-red;
                color: $color-red;
                transition: all 0.3s ease-in-out;
            }

            .skeleton__icon {
                display: none;

                &--active {
                    display: block;
                    transition: display 0.3s ease-in-out;
                }
            }

            &[data-word="developmental--infants"] {

                .skeleton__line--before {
                    width: 100%;
                }

                
            }
        }
    }

    &__point {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: $color-blue;
        position: absolute;
        top: 0;
        cursor: pointer;
    }

    &__icon {
        max-width: 2rem;
        stroke: $color-carbon !important;
        margin-right: 0.5rem;

        &--active {
            display: none;
        }
    }

    &__word {
        background-color: #f4f4f2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        cursor: pointer;

        border: 1px solid $color-carbon;
        width: 150px;
        height: auto;
        padding: 0.5rem 1rem;
        border-radius: 5px;

        &:hover {
            border-color: $color-red;
            color: $color-red;

            .skeleton__icon {
                display: none;

                &--active {
                    display: block;
                }
            }
        }
    }

    &__content {
        width: fit-content;
        max-width: 370px;
        height: 475px;
        border: 1px solid $color-red;
        padding: 1.5rem;
        position: relative;

        display: none;
        flex-direction: column;

        &--infants {
            height: fit-content;
            padding: 2rem 1.5rem;
            margin-top: 23px;

            .skeleton__content--img {
                img {
                    width: 100%;
                }
            }
        }

        &--active {
            display: flex;
        }

        @media screen and (max-width: 768px) {
            padding: 0;
            width: 100%;
            max-width: 100%;
            height: auto;
            display: none;
            border: none;
        }

        &--head {
            width: 100%;
            height: auto;
            font-weight: 600;
            display: flex;
            align-items: flex-end;

            color: $color-red;
            font-weight: 600;

            p {
                font-weight: 700;
            }

            img {
                width: 1.5rem;
                margin-right: 0.5rem;
            }
        }

        &--body {
            display: flex;
            flex-direction: column;
            @include flex-gap(0.5rem);
            font-weight: 400;
            padding-top: 0.5rem;

            p {
                font-weight: 400;
            }
        }

        &--img {
            display: flex;
            @include flex-gap(0.5rem);
            max-width: 100%;

            img {
                width: auto;
            }

            @media screen and (max-width: 768px) {
                img {
                    width: 100%;
                }
            }
        }

        &--conditions {
            em {
                font-style: italic;
            }

            p {
                font-size: .75rem;
                font-weight: 400;
                line-height: .975rem;
                margin-bottom: 0.75rem;

                @media screen and (max-width: 768px) {
                    &:not(:last-of-type) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        &--active {
            @media screen and (max-width: 768px) {
                display: flex;
            }
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $color-carbon;
        position: absolute;

        &--before {
            display: none;
        }

        &:hover {
            background-color: $color-red;
        }
    }


    &__container {
        border: 1px solid $color-red;
        padding: 0.5rem 1rem;
        min-height: 450px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-carbon;
        height: 4rem;

        &--title {
            font-size: 1rem;
            font-weight: 700;
            color: $color-red;

            display: flex;
            align-items: center;
            @include flex-gap(0.5rem);

            sup {
                left: -.5rem;
            }
        }

        &--icon {
            width: 2rem;
            height: 2.5rem;
        }

        &--arrows {
            display: flex;
            @include flex-gap(1rem);
            height: fit-content;
        }

        &--arrow {
            img {
                width: 0.8rem;
                height: 1.5rem;
                cursor: pointer;
            }
        }
    }

    &__footer {
        max-width: 100%;
        margin: 1rem;

        &--dots {
            display: flex;
            justify-content: center;
            align-items: center;
            @include flex-gap(1rem);
            margin-top: 0.5rem;
        }

        &--dot {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background-color: $color-granite-grey;
            cursor: pointer;

            &--active {
                background-color: $color-red;
            }
        }
    }
}

#orthopedic--infants{
    @media screen and (max-width: 1200px) {
    margin-top: 24px;
    }
}

#developmental--infants-content {
    padding-bottom: 4rem;
}

#renal--infants-content {
    padding-bottom: 4.5rem;
}

#developmental--infants-content::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #CF1C0A;
    position: absolute;
    bottom: -36.7%;
    left: -1px;
}

#developmental--infants-content::before {
    content: "";
    width: 41.6%;
    height: 1px;
    background-color: #CF1C0A;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform-origin: top left;
    transform: rotate(90deg);
}