.suspect-card {
    width: 100%;
    border: 1px solid red;
    
    @media screen and (min-width: 1024px) {
        border-left: none;
        border-right: none;
    }

    &:not(:first-of-type) {
        border-left: none;
    }

    &--desktop--only {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
        }
    }

    &--mobile--only {

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .suspect-card_bordered-item.title__wrapper {
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .suspect-card_bordered-item:last-of-type {
        border-top: 1px solid red;
    }
}

@for $i from 1 through 5 {

    #usual-suspects_adults-tab#{$i},
    #usual-suspects_children-adolescent-tab#{$i},
    #usual-suspects_neonates-infants-tab#{$i} {

        .suspect-card {

            .suspect-card_bordered-item {

                &.suspect-card_bordered-title {
                    border-bottom: 1px solid red;
                    border-left: 1px solid red;
                    border-right: 1px solid red;

                    @media screen and (min-width: 1024px) {
                        border-bottom: none;
                    }
                }
            }
        }

        .suspect-card--desktop--only {

            .suspect-card:first-of-type {
                border-bottom: none;
            }

            .suspect-card_bordered-title {
                border-top: none;
            }

            .cards__grid_container {
                .suspect-card {

                    &:last-of-type {
                        border-left: 1px solid red;
                    }

                    &:not(:first-of-type),
                    &:not(:last-of-type) {
                       border-left: 1px solid red;
                    }

                    &:first-of-type {
                        border-bottom: 1px solid red;
                        border-left: none;
                    }
                }
            }
        }
    }
}

.suspect-card_bordered-item {
    padding: 1rem;

    img {
        width: 100%;
        max-width: 12.375rem;
        margin: 0 auto 0 auto;
    }

    @media screen and (min-width: 1024px) {
        padding: 1rem;

        &:not(:last-of-type) {
            border-bottom: none;
        }

        img {
            width: 11.5113rem;
            height: 15.8956rem;
            margin: -1rem auto 0 auto;
        }
    }

    @media screen and (min-width: 1400px) {
        padding: 1rem;

        img {
            width: 12.3275rem;
            height: 16.0494rem;
            margin: -1rem auto 0 auto;
        }
    }
}

.suspect-card_bordered-title {
    border-bottom: 0;
}

.title__wrapper {
    border-bottom: 1px solid red;
}

.suspect-card__note {
    font-family: Barlow, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 22px;
    margin: 10px 0;
    font-size: 16px;
}

.suspect-card_li {
    font-family: Barlow, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
}

.suspect-card_ul {
    margin-left: 14px;
}

.suspect-card_title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25.2px;

    @media screen and (min-width: 1024px) {
        text-align: center;
    }
}

.suspect-card_subtitle {
    color: $color-carbon;
    line-height: 1.375rem;
    word-wrap: break-word;

    strong {
        font-weight: 400;
        font-family: inherit;
        color: $color-carbon !important;
    }

    &--secondary {
        color: $color-red;
    }
}

.suspect-card--foot {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 80px;
        border: 1px solid $color-red;

        border-top: none;

        padding: 0 1rem;
    }

    @media screen and (min-width: 1366px) {
        @include flex-gap(3rem);
        justify-content: center;
    }
}

.suspect-card__cards-container {
    @media screen and (min-width: 768px) {
        padding: 1rem 2rem 0 2rem;
    }
}

.suspect-card__cards-container--foot {
    @media screen and (min-width: 1024px) {
        padding: 0 2rem;
        max-width: var(--wrapper-max-width);
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1600px) {

        max-width: 90rem;

    }
}

.cards__grid_container {
    position: relative;
    display: flex;
    overflow-x: hidden;

    border-left: 1px solid red;
    border-right: 1px solid red;
  }
  .button-usual-slider {
    padding: 0;
    position: absolute;
    top: 30%;
    border-radius: 50%;
    width: 49.41px;
    height: 49.41px;
    background: #cf1c0a;
    border: 3px solid #cf1c0a;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .button-usual-slider:hover {
    background-color: #cf1c0a;
  }

  .button-usual-slider--prev {
    left: -25px;
  }

  .button-usual-slider--prev::before {
      content: '';
      background-image: url('/assets/icons/usual-slider-prev.svg');
      height: 22px;
      width: 12px;
  }

  .button-usual-slider--next::before {
      content: '';
      background-image: url('/assets/icons/usual-slider-next.svg');
      height: 22px;
      width: 12px;
  }

  .button-usual-slider--next {
    right: -25px;
  }

  .suspect-card.slide-right {
    transform: translateX(0);
    animation: slide-right 0.2s ease-in forwards;
  }

  .suspect-card.slide-left {
    transform: translateX(-100%);
    animation: slide-left 0.2s ease-in forwards;
  }

  .button-usual-slider--is-hidden {
    display: none;
  }

  .cards__grid_container .suspect-card {
    flex: 1 0 25%;
    position: relative;
    /* left: -25%; */
  }
  /* .cards__grid_container .suspect-card:nth-child(5) {
    visibility: hidden;
  } */
  .usual-suspect__subtabs {
    @media screen and (min-width: 1024px) {
      display: none !important;
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }