/* Usual Suspects */
.usual_suspects {

    .mod-1, .mod-2 {
        display: none;
    }

    .cta .variant-3 .red-string.mod-3 {
        bottom: 106px;
        right: -22px;
        transform: rotate(204deg);
    }

    .cta .variant-3 {
        padding: 0;
        height: 177px;
        background-image: url(assets/images/usual-suspects/usual-suspects__background.png);
        background-size: cover;
        background-size: 211%;
        background-position-y: 100%;
        background-position-x: 68%;
        
        .cta__text {
            display: none;
        }        
    }
    
    .button.document-link {
        display: none;
    }
    
    .cta {
        padding: 0;
        position: relative;
    }
    
    .cta::before {
        content: "";
        height: 100px;
        width: 282px;
        right: -12px;
        top: 47px;
        
        background-image: url(/assets/images/usual-suspects/usual-suspects-seal.png);
        background-size: contain;
        background-repeat: no-repeat;
        
        position: absolute;
        z-index: 1;
        transform: rotateZ(-6deg);
    }
    
    .section-container {
        color:white;
        padding-top: 20px;
        padding-bottom: 45px;
        padding-left: 24px;
    }

    .buttons-panel-container {
        button {
            color: white;
            font-size: 16px;
            padding: 0;
            text-decoration: none;            
            font-family: "oswald", sans-serif;
            font-weight: 400;
        }
        button:first-of-type {
            padding-bottom: 5px;
            white-space: nowrap;
            border-bottom: 3px solid $color-red;
            border-radius: 0;
            font-weight: 700;
        }
    }

    .buttons-panel-container {
        display: flex;
        justify-content: center;
        min-width: 354px;
        margin-right: 20px;
        margin-left: 8px;
    }

    .hr_line {
        background-color: $color-red;
        width: 1px;
        height: 24px;
        border: 0;
        margin: 0 24px;
    }
    
    .scrollable-content {
        overflow-y: scroll;
        height: 36px;

    }
    
    .content-title {
        font-family: "veneer", sans-serif;
        margin-top: 30px;        
        color: $color-red;
        font-size: 30px;
        text-align: center;
    }

    .content-pharagraph {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
        font-family: "Barlow", sans-serif;
        max-width: 567px;


        &.content-pharagraph--secondary {
            font-size: 16px;
            font-weight: 500;
            max-width: 502px;
        }
    }

    .hpp-multisystemic__tabs {
        min-height: 800px; // Temporal height, remove when development is completed.
    }

    .hpp__profile {
        &__title {
            &--desktop {
                color: #ffffff;
                font-size: 24px;
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                line-height: 33px;
            }
    
            &--mobile {
                color: $color-carbon;
                font-size: 16px;
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                line-height: 24px;
            }
        }
    }
                

    .usual-suspects-misdiagnosis {
        color: white;
        padding: 23px;
        position: relative;

        .title {
            margin-top: 12px;
            margin-bottom: 7px;
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            line-height: 30px;
        }
        .pharagraph {
            font-size: 16px;
            font-family: "Barlow", sans-serif;
            line-height: 24px;
            font-weight: 500;    
            margin-bottom: 70px;   
            max-width: 633px;   
            margin-left: auto;
            margin-right: auto;     
        }

        .pharagraph--secondary {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            font-family: 'Special Elite', cursive;
            font-weight: 400;
            margin-bottom: 94px;    
            max-width: 487px;
            margin-left: auto;
            margin-right: auto;
            
        }

        .horizontal_line, .horizontal_line--secondary {
            position: absolute;
            border: 0;
            height: 2px;
            background-color: $color-red;
            width: 110vw;
            left: -12px;
        }
        
        .horizontal_line {
            bottom: 50px;
            transform: rotateZ(10deg);
        }
        
        .horizontal_line--secondary {
            bottom: 256px;
            transform: rotateZ(-10deg);
        }
        
    }

    .suspect-cards-container {
        [role="tablist"] [aria-selected] {
            background-color: $color-red;
            border: none;
        }

        [role="tablist"] a {
            background-color: $color-granite-grey;
            width: 16px;
            height: 16px;
            min-width: initial;
            padding: 0;
            border: 0;
            border-radius: 100px;
        }
    }

    .usual-suspect__subtabs {
        background-color: initial;   
        display: flex;
        justify-content: center;    
        position: absolute;
        bottom: 0;
        left: calc(50vw - 48px); 
    }
    .usual-suspect__subtabs--item {
        height: 16px;
        width: 16px;
        padding: 0;
        background-color: $color-granite-grey;
        border: 0;
        border-radius: 100px;
    }

}


@media screen and (min-width: 400px) {
    .usual_suspects .usual-suspects-misdiagnosis {               
        .horizontal_line--secondary {
            transform: rotateZ(-7deg);
        }
    }
}

@media screen and (min-width: 480px) {
    .usual_suspects {
        .cta .variant-3 {
            background-size: 166%;
            background-position-y: 100%;
            background-position-x: 87%;
            height: 200px;
        }

        .usual-suspects-misdiagnosis {
            .horizontal_line {
                transform: rotateZ(5deg);
            }
            
            .horizontal_line--secondary {
                transform: rotateZ(-5deg);
            }
    
        }
        
    }
}

@media screen and (min-width: 600px) {
    .usual_suspects {
        .cta .variant-3 {            
            height: 250px;

            .red-string.mod-3 {
                bottom: 131px;
            }
        }

        .content-pharagraph {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .usual-suspects-misdiagnosis {
            .horizontal_line {
                transform: rotateZ(3deg);
                bottom: 63px;
            }
            
            .horizontal_line--secondary {
                transform: rotateZ(-3deg);
                bottom: 240px;
            }
    
        }

        .usual-suspects-misdiagnosis {
            .title {
                margin-top: 57px;
                margin-bottom: 34px;
            }

            .pharagraph {
                margin-bottom: 85px;
            }

        }
        
    }
}

@media screen and (min-width: 767px) {
    .usual_suspects {
        .cta .variant-3 {            
            height: 350px;
        }

        .content-pharagraph {
            font-size: 22px;
            margin-top: 27px;
            
            &.content-pharagraph--secondary {
                font-size: 18px;
                margin-top: 16px;
            }
        }
        
        .section-container {
            padding-top: 83px;
        }

        .buttons-panel-container button {
            font-size: 24px;
            padding-bottom: 11px;
        }
        .buttons-panel-container button:first-of-type {
            padding-bottom: 11px;
        }

        .content-title {
            font-size: 56px;
            margin-top: 69px;
        }
        
    }
}

@media screen and (min-width: 1023px) {
    .usual_suspects {
        .cta .variant-3 {            
            height: 380px;
        }

        .cta .variant-3 {            
            

            .red-string.mod-3 {
                bottom: 27px;
                transform: rotate(171deg);  
                right: 3px;
            }
        }

        .cta::before {
            width: 339px;
            left: 68px;
            top: 119px;
        }


        
    }

   
}
/* Usual Suspects */