@import './settings/_reset.scss';
@import './settings/_variables.scss';
@import './settings/_fonts.scss';
@import './settings/_mixins.scss';
@import './settings/_layouts.scss';
@import './settings/_global.scss';
@import './settings/_utils.scss';
@import './components/_buttons.scss';
@import './components/_header.scss';
@import './components/_header-navigation.scss';
@import './components/_cookie.scss';
@import './components/_isi.scss';
@import './components/_tabs.scss';
@import './components/_main-hero.scss';
@import './components/_enter-site.scss';
@import './components/_forms.scss';
@import './components/_accordions.scss';
@import './components/_exit-modal.scss';
@import './components/_pinch-to-zoom.scss';
@import './components/_footer.scss';
@import './components/_footer-navigation.scss';
@import './components/case-file';
@import './components/alpd-video';
@import './components/detective-form';


.section__home-video {
    margin-top: 3.25rem;

    .section__home-video-title {
        text-transform: uppercase;
        color: $color-cinnabar;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

// -------------------------- ALPD Academy page ---------------------------------------------------
.alpd__academy {
    // width: 100%;
    // max-width: 90rem;
    // margin: auto;
}

.alpd-academy__role {
    position: relative;

    .alpd-academy__role-red-string {
        position: absolute;
        width: calc(100vw + 31.25rem);
        height: 0.5rem;
        z-index: 1;

        bottom: .25rem;
        right: 50%;
        transform: translateX(50%) rotate(12deg);

        @media screen and (min-width: 768px) {
            transform: translateX(50%) rotate(-12deg);
        }
    }

    .alpd-academy__role-header {
        @media screen and (min-width: 768px) {
            text-align: center;
            max-width: 39.625rem;
        }
    }

    .alpd-academy__role-title {
        color: $color-red;
        text-transform: uppercase;
        margin-bottom: 1.25rem;

        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
            line-height: 56px;
        }
    }

    .alpd-academy__role-subtitle {
        font-size: 1.125rem;
        line-height: 25.2px;
        font-weight: 600;
        color: $color-white;
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
            font-size: 1.375rem;
            line-height: 30.8px;
        }
    }

    .alpd-academy__role-description {
        color: $color-white;
        font-weight: 500;
        margin-bottom: 2.5rem;

        @media screen and (min-width: 768px) {
            font-size: 1.125rem;
            line-height: 25.2px;
        }
    }

    .alpd-academy__role-alkaline {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-image: url("/assets/images/alpd-academy/manilla-folder-mobile.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @media screen and (min-width: 768px) {
            z-index: 2;
        }

        @media screen and (min-width: 1024px) {
            background-image: url("/assets/images/alpd-academy/manilla-folder-desktop.png");
        }

        figcaption,
        .paragraph-caption {
            font-size: 14px;
            line-height: 18.2px;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media screen and (min-width: 1024px) {
                margin-top: 0;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .alpd-academy__alkaline-wrapper {
            position: relative;
            z-index: 2;
            background-image: url("/assets/images/alpd-academy/content-background.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;

            @media screen and (min-width: 1024px) {
                max-width: 56.25rem;
                margin-left: auto;
                margin-right: auto;

                padding: 1rem;

                background-color: #fafafa;

                .wrapper {
                    max-width: max-content;
                }
            }

            @media screen and (min-width: 1366px) {
                max-width: 68.5rem;
                padding: 2.8937rem 0;
                transform: translate(5.5rem, .625rem);
            }
        }

        .alpd-academy__alkaline-in-bone-and-teeth {
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }

        .alpd-academy__alkaline-legend {
            width: 16.6288rem;
            margin: 1.75rem auto;
            height: fit-content;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transform: matrix(0.99, -0.12, 0.1, 0.99, 0, 0);

            @media screen and (min-width: 768px) {
                flex: 0 0 auto;
                margin: 0;
                position: relative;
                z-index: -1;
            }

            @media screen and (min-width: 1024px) {
                transform: matrix(0.99, -0.12, 0.1, 0.99, 0, -18);
                position: initial;
                z-index: initial;
            }


            .alpd-academy__alkaline-legend-content {
                background: $color-floral-white;
                padding: 0.5rem 1rem;
            }

            .alpd-academy__alkaline-legend-title {
                text-align: center;
                text-transform: uppercase;
                font-size: .875rem;
                font-weight: 700;
                line-height: 19.6px;
            }

            .alpd-academy__alkaline-legend-list {

                li {
                    list-style: none;
                    font-size: .875rem;
                    line-height: 19.6px;
                    font-weight: 500;
                }
            }
        }

        .alpd-academy__alkaline-title {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 25.2px;
            margin-bottom: 1.5rem;
        }

        .alpd-academy__alkaline-content {
            @media screen and (min-width: 1024px) {
                &.alkaline-bone {
                    max-width: 32.5rem;
                    margin-left: 2rem;
                }
            }
        }

        .alpd-academy__alkaline-description {
            font-weight: 400;
            line-height: 22.4px;
            margin-bottom: 3rem;

            @media screen and (min-width: 768px) {
                font-weight: 500;
            }

            @media screen and (min-width: 1024px) {
                &--compact {
                    max-width: 48.125rem;
                    margin: auto;
                }
            }
        }
    }
}

.alpd-academy__deficient {
    background-image: url("/assets/images/alpd-academy/manilla-folder-mobile.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .alpd-academy__deficient-content {
        
    }
}

// -------------------------- ALPD Academy page ---------------------------------------------------

/* 404 */
.page__not_found {
    text-align: center;

    &__title {
        width: 9rem;
        margin: auto;
        margin-top: 9.2363rem;
        position: relative;
        z-index: 2;

        /* @media screen and (min-width:700px) {
            width: 11.1875rem;
            margin-top: 14.5006rem;
        } */

    }

    &__text {
        color: $color-white;
        margin-top: 1.9125rem;
        margin-bottom: 1.99rem;
        position: relative;
        z-index: 2;

        @media screen and (min-width:700px) {
            margin-bottom: 3rem;
        }

        p {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.5625rem;
            max-width: 17.125rem;
            margin: auto;

            @media screen and (min-width:700px) {
                max-width: 36.3125rem;
                font-size: 1.3125rem;
                line-height: 1.8125rem;
            }
        }

        :first-child {
            margin-bottom: 2rem;
        }
    }

    .button {
        margin: auto;
        margin-bottom: 8.0938rem;
        position: relative;
        z-index: 2;
    }

    .reference {
        position: relative;
        max-width: 90rem;
        margin: auto;
    }

    &__image {
        position: absolute;
        min-width: 27.6944rem;
        max-width: 27.6944rem;
        top: -12.375rem;
        left: -4.0625rem;

        @media screen and (min-width:500px) {
            left: 0;
        }

        @media screen and (min-width:800px) {
            max-width: 51.5356rem;
            /* top: -23.3125rem; */
            top: -19.3125rem;
            left: -3.875rem;
        }

        @media screen and (min-width:1200px) {
            left: 0;
        }
    }

    .red-string {
        position: absolute;
        transform: rotate(7.51deg);
        top: 22.4375rem;
        width: 100vw;

        @media screen and (min-width:400px) {
            transform: rotate(5.51deg);
            top: 21.6875rem;
        }

        @media screen and (min-width:700px) {
            transform: rotate(-4.49deg);
            top: 20.8125rem;
            left: -1.8125rem;
            width: 105vw;
        }

        @media screen and (min-width:1500px) {
            transform: rotate(-3.49deg);
            top: 14.375rem;
            left: -21rem;
            width: 362vw;
        }

        @media screen and (min-width:1690px) {
            transform: rotate(-2.49deg);
            top: 15.6875rem;
            left: -21rem;
            width: 362vw;
        }

        @media screen and (min-width:2020px) {
            top: 12.5rem;
            left: -43.1875rem;
            width: 423vw;
        }

        @media screen and (min-width:2340px) {
            top: 14.4375rem;
            transform: rotate(-1.49deg);
        }
    }
}

/* 404 */