<nav class="footer__nav">
  <ul class="footer__nav_menu footer__nav_second">
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Legal</a>
    </li>
    <li class="footer__nav_menu_item">
      <a
        class="footer__nav_menu_item_link"
        href="https://alexion.com/contact-alexion"
        target="_blank">Contact us</a
      >
    </li>
    <li class="footer__nav_menu_item">
      <a
        class="footer__nav_menu_item_link"
        href="https://alexion.com/Legal#privacynotice"
        target="_blank">Privacy Notice</a
      >
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Site Map</a>
    </li>
    <li class="footer__nav_menu_item">
      <a
        class="footer__nav_menu_item_link"
        href="https://alexion.com/Legal#termsofuse"
        target="_blank">Terms of Use</a
      >
    </li>
  </ul>
</nav>
