<nav class="footer__nav">
  <ul class="footer__nav_menu footer__nav_first">
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/">Home</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">ALP Academy</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">HPP Profile</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/usual-suspects">Usual Suspects</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/indentifying-hpp">Identifying HPP</a>
    </li>
  </ul>
</nav>
