<nav class="footer__nav">
  <ul class="footer__nav_menu footer__nav_first">
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/">Home</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">ALP Academy</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">HPP Profile</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Usual Suspects</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Identifying HPP</a>
    </li>
  </ul>
  <ul class="footer__nav_menu footer__nav_second">
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Legal</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Privacy Notice</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Site Map</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="#">Terms of Use</a>
    </li>
  </ul>
</nav>
