<div class="header__primary_nav">
  <nav class="site__navigation">
    <ul class="main__navigation nav__menu">
      <li class="nav__menu_item">
        <a href="/" class="nav__menu_item_link">Home</a>
      </li>
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">ALP Academy</a>
      </li>
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">HPP Profile</a>
      </li>
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">Usual Suspects</a>
      </li>
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">Identifying HPP</a>
      </li>
    </ul>
  </nav>
</div>
