<div class="header__secondary_nav">
  <nav class="site__navigation">
    <ul class="secondary__navigation nav__menu">
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">Stay Connected</a>
      </li>
      <li class="nav__menu_item">
        <a
          href="https://hypophosphatasia.com/"
          class="nav__menu_item_link"
          target="_blank">Patient Site</a
        >
      </li>
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">Patient Case Files</a>
      </li>
      <li class="nav__menu_item">
        <a href="#" class="nav__menu_item_link">ALP Calculator</a>
      </li>
    </ul>
  </nav>
</div>
