---
import CTA from "../components/CTA.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ALPD Academy" pageClass="alpd__academy" showISI={false}>
  <section class="page-hero">
    <picture class="page-hero__image">
      <source
        srcset="/assets/images/alpd-academy/alpd-academy-hero-desktop.png"
        media="(min-width: 1024px)"
      />
      <source
        srcset="/assets/images/alpd-academy/alpd-academy-hero-tablet.png"
        media="(min-width: 500px)"
      />
      <img
        src="/assets/images/alpd-academy/alpd-academy-hero-mobile.png"
        alt=""
      />
    </picture>
    <picture class="page-hero__stamp">
      <source
        srcset="/assets/images/alpd-academy/alpd-academy-stamp-desktop.png"
        media="(min-width: 768px)"
      />
      <img
        src="/assets/images/alpd-academy/alpd-academy-stamp-mobile.png"
        alt=""
      />
    </picture>
    <div class="red-string page-hero-red-string"></div>
  </section>
  <section class="section alpd-academy__role" id="role-of-alpd">
    <div class="wrapper alpd-academy__role-header">
      <h2 class="alpd-academy__role-title">
        What you may not know about alkaline phosphatase (ALP)
      </h2>
      <h4 class="alpd-academy__role-subtitle">
        Why is it important to have sufficient levels of alkaline phosphatase?
      </h4>
      <p class="alpd-academy__role-description">
        Alkaline phosphatase is a ubiquitous enzyme essential to multiple
        systems of the body, including the skeletal system where it is
        responsible for healthy mineralization of bones and teeth.<sup>1-4</sup>
      </p>
    </div>

    <article class="alpd-academy__role-alkaline">
      <div class="alpd-academy__alkaline-wrapper">
        <div class="alpd-academy__alkaline-row">
          <div class="wrapper">
            <div class="alpd-academy__alkaline-image">
              <picture>
                <source
                  srcset="/assets/images/alpd-academy/k-alp-normal-desktop.png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/assets/images/alpd-academy/k-alp-normal-tablet.png"
                  media="(min-width: 500px)"
                />
                <img
                  src="/assets/images/alpd-academy/k-alp-normal-mobile.png"
                  alt=""
                />

                <figcaption class="lg:hidden">
                  Image created for Alexion Pharmaceuticals, Inc. for
                  illustrative purposes.
                </figcaption>
              </picture>
            </div>

            <div class="alpd-academy__alkaline-in-bone-and-teeth">
              <div class="alpd-academy__alkaline-legend">
                <div class="alpd-academy__alkaline-legend-content">
                  <p class="alpd-academy__alkaline-legend-title">LEGEND</p>
                  <ul class="alpd-academy__alkaline-legend-list">
                    <li><strong>Ca<sup>2+</sup>:</strong> Calcium</li>
                    <li><strong>CNS:</strong> Central nervous system</li>
                    <li><strong>GABA:</strong> Gamma-aminobutyric acid</li>
                    <li><strong>Pi:</strong> Inorganic phosphate</li>
                    <li><strong>PL:</strong> Pyroxidal</li>
                    <li><strong>PLP:</strong> Pyridoxal 5’-phosphate</li>
                    <li><strong>PPi:</strong> Inorganic pyrophosphate</li>
                  </ul>
                </div>
              </div>
              <div class="alpd-academy__alkaline-content alkaline-bone">
                <p class="hidden lg:block paragraph-caption">
                  Image created for Alexion Pharmaceuticals, Inc. for
                  illustrative purposes.
                </p>
                <h4 class="alpd-academy__alkaline-title">
                  Alkaline phosphatase in bone and teeth
                </h4>
                <p class="alpd-academy__alkaline-description">
                  Under normal conditions, alkaline phosphatase dephosphorylates
                  inorganic pyrophosphate (PPi) and releases inorganic phosphate
                  (Pi), which then binds with calcium to form hydroxyapatite
                  crystals—the building blocks of strong bones.<sup>1,4,5</sup>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="alpd-academy__alkaline-row">
          <div class="wrapper">
            <div class="alpd-academy__alkaline-image">
              <picture>
                <source
                  srcset="/assets/images/alpd-academy/k-neurologic-normal-desktop.png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/assets/images/alpd-academy/k-neurologic-normal-tablet.png"
                  media="(min-width: 500px)"
                />
                <img
                  src="/assets/images/alpd-academy/k-neurologic-normal-mobile.png"
                  alt=""
                />

                <figcaption class="lg:text--center lg:mb-1">
                  Image created for Alexion Pharmaceuticals, Inc. for
                  illustrative purposes.
                </figcaption>
              </picture>
            </div>
            <div class="alpd-academy__alkaline-nervous-system">
              <div class="alpd-academy__alkaline-content">
                <h4
                  class="alpd-academy__alkaline-title lg:text--center lg:mb-1"
                >
                  Alkaline phosphatase in the central nervous system
                </h4>
                <p
                  class="alpd-academy__alkaline-description mb-0 lg:text--center alpd-academy__alkaline-description--compact"
                >
                  Alkaline phosphatase is also responsible for dephosphorylating
                  pyridoxal 5’-phosphate (PLP, the active form of vitamin B<sub
                    >6</sub
                  >) to pyridoxal (PL), allowing PL to cross the blood–brain
                  barrier where it is regenerated as PLP. The buildup of PLP in
                  systemic circulation leads to deficiency of vitamin B<sub
                    >6</sub
                  > in the central nervous system, which results in seizures in infants.<sup
                    >1</sup
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div class="red-string alpd-academy__role-red-string"></div>
  </section>
  <section class="section alpd-academy__low">
    <div class="wrapper alpd-academy__low-header">
      <h1 class="alpd-academy__low-title">MENACING Mutations</h1>
      <p class="alpd-academy__low-description">
        In hypophosphatasia, loss of function mutations in the <span
          class="text--italic">ALPL</span
        > gene result in deficient alkaline phosphatase enzyme activity, which leads
        to accumulation of ALP-phosphorylated substrates: inorganic pyrophosphate
        (PPi), pyridoxal 5’-phosphate (PLP), and phosphoethanolamine (PEA).<sup
          >1,5</sup
        >
      </p>
      <table class="alpd-academy__mutations-table">
        <thead>
          <tr>
            <th></th>
            <th><div class="content color--saffron-mango">ALP</div></th>
            <th><div class="content color--white">PPi<sup>a</sup></div></th>
            <th><div class="content color--white">PLP<sup>b</sup></div></th>
            <th><div class="content color--white">PEA<sup>c</sup></div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="content color--saffron-mango">HPP</div></td>
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-down-orange.svg" alt="" />
              </div></td
            >
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-up-blue.svg" alt="" />
              </div></td
            >
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-up-blue.svg" alt="" />
              </div></td
            >
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-up-blue.svg" alt="" />
              </div></td
            >
          </tr>
        </tbody>
      </table>
      <ul class="alpd-academy__mutations-table-footnote">
        <li>
          <sup class="positioned">a</sup>PPi tests are done in research settings
          only and are not commercially available.<sup>9</sup>
        </li>
        <li>
          <sup class="positioned">b</sup>PLP levels may be elevated in
          individuals taking supplements containing vitamin B<sup>6</sup>. PLP
          levels may also appear as normal or low in patients with HPP. This
          does not invalidate the HPP diagnosis.<sup>13</sup>
        </li>
        <li>
          <sup class="positioned">c</sup>PEA levels may be normal in some
          patients with hypophosphatasia.
        </li>
      </ul>
    </div>
    <article class="alpd-academy__deficient">
      <div class="alpd-academy__deficient-wrapper">
        <div class="wrapper">
          <picture class="alpd-academy__deficient-pic">
            <source
              srcset="/assets/images/alpd-academy/k-deficient-desktop.png"
              media="(min-width: 1024px)"
            />
            <source
              srcset="/assets/images/alpd-academy/k-deficient-tablet.png"
              media="(min-width: 500px)"
            />
            <img
              src="/assets/images/alpd-academy/k-deficient-mobile.png"
              alt=""
            />
            <figcaption>
              Image created for Alexion Pharmaceuticals, Inc. for illustrative
              purposes.
            </figcaption>
          </picture>
        </div>

        <div class="alpd-academy__deficient-content md:mb-2">
          <div class="wrapper">
            <h4 class="alpd-academy__deficient-paragraph-title">
              Deficient alkaline phosphatase in bone and teeth
            </h4>
            <p class="alpd-academy__deficient-paragraph">
              In hypophosphatasia, accumulation of PPi blocks hydroxyapatite
              crystal formation and bone mineralization, and excess calcium can
              lead to complications, such as<sup>1,10,11</sup>:
            </p>
            <ul class="alpd-academy__symptoms-list">
              <li>nephrocalcinosis</li>
              <li>chondrocalcinosis</li>
              <li>kidney disorders</li>
              <li>pseudogout</li>
            </ul>
          </div>
        </div>

        <div class="wrapper">
          <picture class="alpd-academy__deficient-pic md:mb-1">
            <source
              srcset="/assets/images/alpd-academy/k-neurlogic-desktop.png"
              media="(min-width: 1024px)"
            />
            <source
              srcset="/assets/images/alpd-academy/k-neurlogic-tablet.png"
              media="(min-width: 500px)"
            />
            <img
              src="/assets/images/alpd-academy/k-neurlogic-mobile.png"
              alt=""
            />
            <figcaption>
              Image created for Alexion Pharmaceuticals, Inc. for illustrative
              purposes.
            </figcaption>
          </picture>
        </div>
        <div class="alpd-academy__deficient-content last">
          <div class="wrapper">
            <h4 class="alpd-academy__deficient-paragraph-title">
              Deficient alkaline phosphatase in the central nervous system (CNS)
            </h4>
            <p class="alpd-academy__deficient-paragraph">
              Pyridoxal 5`-phosphate (PLP) (ie, the active form of vitamin B6)
              deficiency in the CNS results in deficient GABA activity.<sup
                >1</sup
              >
            </p>
            <p class="alpd-academy__deficient-paragraph">
              Though the direct cause is unknown, hypophosphatasia is also
              associated with other neurologic symptoms in pediatrics and
              adults, like:<sup>8,12</sup>
            </p>
            <ul
              class="alpd-academy__symptoms-list grid-rows-3 alpd-academy__symptoms-list--underlined"
            >
              <li>fatigue</li>
              <li>vertigo</li>
              <li>headaches</li>
              <li class="row-span-2">
                mood <span class="md:text--18px md:block"
                  >(depression, anxiety)</span
                >
              </li>
              <li>sleep disturbance</li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <div class="alpd-academy__call-out">
      <div class="wrapper">
        <p class="alpd-academy__call-out-text">
          The third substrate impacted by low levels of alkaline phosphatase is <span
            class="text--700">phosphoethanolamine (PEA)</span
          >. While the impact on the body is not fully understood, it is
          important to recognize this third substrate as it can be used as a <span
            class="text--700">testing method to confirm a hypophosphatasia</span
          > diagnosis.<sup>5,13,14</sup>
        </p>
      </div>
    </div>
    <div class="alpd-academy__persistently-low-alp-container">
      <div class="red-string persistently-low-red-string"></div>
      <img
        class="persistently-low-pin"
        src="/assets/images/alpd-academy/red-pin.png"
        alt=""
      />
      <div class="backgroud"></div>
      <div class="alpd-academy__persistently-low-alp-content">
        <div class="wrapper">
          <p class="font--special-elite">
            Patients with persistently low alkaline phosphatase (ALP) can
            experience debilitating hypophosphatasia symptoms that may progress,
            and wide-ranging systemic complications.<sup>1-4, 15</sup>
          </p>
          <p class="font--special-elite color--red">
            Persistently low ALP can be defined as 2 or more age- and
            sex-adjusted ALP levels below normal range in intervals of more than
            30 days.<sup>5,16,17</sup>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section alpd-academy__know-the-numbers">
    <div class="wrapper">
      <h1 class="know-the-numbers__title">know the numbers</h1>
    </div>

    <div class="numbers__info">
      <div class="wrapper">
        <div class="number__kpi">
          <h4 class="number__kpi-title">Adults</h4>
          <div class="number__kpi-data">
            <picture>
              <img src="/assets/images/alpd-academy/finger-print.png" alt="" />
            </picture>
            <p class="number__kpi-legend">
              &#60;40 U/L <sup class="symbol-sup">*</sup>
            </p>
          </div>
          <p class="number__kpi-description">
            <span class="color--saffron-mango"
              >is considered LOW in <span class="color--buff">adults</span
              ></span
            >
            <br /><br />
            <sup>*</sup>Limitations: An alkaline phosphatase level of below 40
            U/L is not conclusive for a diagnosis of hypophosphatasia. Patient
            should be evaluated for other symptoms of hypophosphatasia and
            differential diagnoses should be ruled out. Check with your lab for
            their appropriate age- and sex-adjusted reference ranges.<sup
              >18-22</sup
            >
          </p>
        </div>
        <div class="number__kpi">
          <h4 class="number__kpi-title">Children</h4>
          <div class="number__kpi-data">
            <picture>
              <img src="/assets/images/alpd-academy/finger-print.png" alt="" />
            </picture>
            <p class="number__kpi-legend">VARIES</p>
          </div>
          <p class="number__kpi-description">
            <span class="color--saffron-mango"
              >In children, what’s considered “low alkaline phosphatase” is
              variable</span
            > because alkaline phosphatase reference values are highly dependent
            on age and sex. Ensure that lab results for alkaline phosphatase levels
            reflect age- and sex-adjusted reference ranges for the specific patient.<sup
              >1,23,24</sup
            >
          </p>
        </div>
      </div>
    </div>

    <div class="chart__container">
      <div class="chart__container-content">
        <div class="wrapper">
          <p class="chart__title">
            Age- and sex-adjusted alkaline phosphatase reference ranges (U/L)<sup
              >18-23</sup
            >
          </p>
          <picture class="chart">
            <source
              srcset="/assets/images/alpd-academy/7m-age-and-sec-chart-desktop.png"
              media="(min-width: 850px)"
            />
            <source
              srcset="/assets/images/alpd-academy/7m-age-and-sec-chart-tablet.png"
              media="(min-width: 600px)"
            />
            <img
              src="/assets/images/alpd-academy/7m-age-and-sec-chart-mobile.png"
              alt=""
            />
          </picture>
          <p class="chart__paragraph">
            <sup class="symbol-sup">*</sup>Check with your lab for their
            appropriate age- and sex-adjusted reference range.<sup>1,24</sup>
          </p>
          <p class="chart__paragraph">
            Graph adapted from the Canadian Laboratory initiative on Pediatric
            Reference Intervals (CALIPER) project. CALIPER samples from 1072
            male and 1116 female participants (newborn to 18 years) were used to
            calculate age- and sex-specific reference intervals. No variation in
            ALP based on ethnic differences was observed.<sup>23</sup>
          </p>
        </div>
      </div>
    </div>

    <div class="hypophosphatasia-info">
      <div class="red-string first"></div>
      <picture class="postit">
        <img src="/assets/images/alpd-academy/postit-mobile.png" alt="" />
      </picture>
      <picture class="postit-mask">
        <img src="/assets/images/alpd-academy/postit-mask-mobile.png" alt="" />
      </picture>
      <div class="red-string last"></div>
      <div class="hypophosphatasia-info__content">
        <div class="wrapper">
          <p>
            Though the dangers of high alkaline phosphatase levels may be
            commonly recognized, persistently low alkaline phosphatase, defined
            as having <span class="color--red sz-500:color--saffron-mango"
              >2 values below normal in intervals of more than 30 days,<sup
                class="symbol-sup">*</sup
              ></span
            > a key piece of evidence of a hypophosphatasia diagnosis.<sup
              >1,5,16,17,24,25</sup
            >
          </p>
          <p class="text--14px text--400">
            <sup class="symbol-sup">*</sup>Alkaline phosphatase ranges must be
            age- and sex-adjusted.
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="hpp-profile__call-out">
      <p class="hpp-profile-text">Read the full file on hypophosphatasia</p>
      <a href="#" class="button">HPP Profile</a>

      <div class="red-string first"></div>
      <div class="red-string second"></div>
      <div class="red-string third"></div>
    </div> -->

    <CTA
      buttonLabel="HPP Profile"
      linkURL="#"
      content="Read the full file on hypophosphatasia"
    />
  </section>
</Layout>
