---
import CTA from "../components/CTA.astro";
import References from "../components/References.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import Layout from "../layouts/Layout.astro";
import CommonHeroPage from "../components/CommonHeroPage.astro";
const internalNavLinks = [
  { href: "role-of-alp", label: "Role of ALP", active: true },
  { href: "low-alp", label: "Low ALP" },
];
---

<Layout title="ALPD Academy" pageClass="alpd__academy" showISI={false}>
  <CommonHeroPage title="alp academy" classes="alpd-academy-page__hero">
    <picture slot="image-hero" data-image-hero>
      <source
        srcset="/assets/images/alpd-academy/alpd-academy-hero-desktop.png"
        media="(min-width: 1024px)"
      />
      <source
        srcset="/assets/images/alpd-academy/alpd-academy-hero-desktop.png"
        media="(min-width: 500px)"
      />
      <img
        src="/assets/images/alpd-academy/alpd-academy-hero-mobile.png"
        alt=""
      />
    </picture>
  </CommonHeroPage>
  {internalNavLinks && <InternalNavigation items={internalNavLinks} />}
  <section class="section alpd-academy__role" id="role-of-alp">
    <div class="wrapper alpd-academy__role-header">
      <h2 class="alpd-academy__role-title">
        What you may not know about alkaline phosphatase (ALP)
      </h2>
      <h4 class="alpd-academy__role-subtitle">
        Why is it important to have sufficient levels of alkaline phosphatase?
      </h4>
      <p class="alpd-academy__role-description">
        Alkaline phosphatase is a ubiquitous enzyme essential to multiple systems of the body, including the skeletal system where it is responsible for healthy mineralization of bones and teeth.<sup>1-4</sup>
      </p>
    </div>

    <article class="alpd-academy__role-alkaline">
      <div class="alpd-academy__alkaline-wrapper">
        <div class="alpd-academy__alkaline-row">
          <div class="wrapper">
            <div class="alpd-academy__alkaline-image">
              <picture>
                <source
                  srcset="/assets/images/alpd-academy/k-alp-normal-desktop.png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/assets/images/alpd-academy/k-alp-normal-tablet.png"
                  media="(min-width: 500px)"
                />
                <img
                  src="/assets/images/alpd-academy/k-alp-normal-mobile.png"
                  alt=""
                />

                <figcaption class="lg:hidden">
                  Image created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
                </figcaption>
              </picture>
            </div>

            <div class="alpd-academy__alkaline-in-bone-and-teeth">
              <div class="alpd-academy__alkaline-legend">
                <div class="alpd-academy__alkaline-legend-content">
                  <p class="alpd-academy__alkaline-legend-title">LEGEND</p>
                  <ul class="alpd-academy__alkaline-legend-list">
                    <li>
                      <strong>Ca<sup>2+</sup>:</strong> Calcium
                    </li>
                    <li>
                      <strong>CNS:</strong> Central nervous system
                    </li>
                    <li>
                      <strong>GABA:</strong> Gamma-aminobutyric acid
                    </li>
                    <li>
                      <strong>Pi:</strong> Inorganic phosphate
                    </li>
                    <li>
                      <strong>PL:</strong> Pyridoxal
                    </li>
                    <li>
                      <strong>PLP:</strong> Pyridoxal 5’-phosphate
                    </li>
                    <li>
                      <strong>PPi:</strong> Inorganic pyrophosphate
                    </li>
                  </ul>
                </div>
              </div>
              <div class="alpd-academy__alkaline-content alkaline-bone">
                <p class="hidden lg:block paragraph-caption">
                  Image created for Alexion Pharmaceuticals, Inc. for
                  illustrative purposes.
                </p>
                <h4 class="alpd-academy__alkaline-title">
                  Alkaline phosphatase in bone and teeth
                </h4>
                <p class="alpd-academy__alkaline-description">
                  Under normal conditions, alkaline phosphatase dephosphorylates inorganic pyrophosphate (PPi) and releases inorganic phosphate (Pi), which then binds with calcium to form hydroxyapatite crystals—the building blocks of strong bones.<sup>1,4,5</sup>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="alpd-academy__alkaline-row">
          <div class="wrapper">
            <div class="alpd-academy__alkaline-image">
              <picture>
                <source
                  srcset="/assets/images/alpd-academy/k-neurologic-normal-desktop.png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/assets/images/alpd-academy/k-neurologic-normal-tablet.png"
                  media="(min-width: 500px)"
                />
                <img
                  src="/assets/images/alpd-academy/k-neurologic-normal-mobile.png"
                  alt=""
                />

                <figcaption class="lg:text--center lg:mb-1">
                  Image created for Alexion Pharmaceuticals, Inc. for
                  illustrative purposes.
                </figcaption>
              </picture>
            </div>
            <div class="alpd-academy__alkaline-nervous-system">
              <div class="alpd-academy__alkaline-content">
                <h4
                  class="alpd-academy__alkaline-title lg:text--center lg:mb-1"
                >
                  Alkaline phosphatase in the central nervous system
                </h4>
                <p
                  class="alpd-academy__alkaline-description mb-0 lg:text--center alpd-academy__alkaline-description--compact"
                >
                Alkaline phosphatase is also responsible for dephosphorylating pyridoxal 5’-phosphate (PLP, the active form of vitamin B<sub>6</sub>) to pyridoxal (PL), allowing PL to cross the blood–brain barrier where it is regenerated as PLP. The buildup of PLP in systemic circulation leads to deficiency of vitamin B<sub>6</sub> in the central nervous system, which can result in seizures in infants.<sup>1</sup>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div class="red-string alpd-academy__role-red-string"></div>
  </section>
  <section class="alpd-academy__low">
    <div class="wrapper alpd-academy__low-header">
      <h1 class="alpd-academy__low-title">menacing mutations</h1>
      <p class="alpd-academy__low-description">
        In hypophosphatasia, loss of function mutations in the <i class="text--italic">ALPL</i> gene result in deficient alkaline phosphatase enzyme activity, which leads to accumulation of ALP-phosphorylated substrates: inorganic pyrophosphate (PPi), pyridoxal 5’-phosphate (PLP), and phosphoethanolamine (PEA).<sup>1,5</sup>
      </p>
      <table class="alpd-academy__mutations-table">
        <thead>
          <tr>
            <th></th>
            <th><div class="content color--saffron-mango">ALP</div></th>
            <th
              ><div class="content color--white">
                PPi<sup>a</sup>
              </div></th
            >
            <th
              ><div class="content color--white">
                PLP<sup>b</sup>
              </div></th
            >
            <th
              ><div class="content color--white">
                PEA<sup>c</sup>
              </div></th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="content color--saffron-mango">HPP</div></td>
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-down-orange.svg" alt="" />
              </div></td
            >
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-up-blue.svg" alt="" />
              </div></td
            >
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-up-blue.svg" alt="" />
              </div></td
            >
            <td
              ><div class="content">
                <img src="/assets/icons/arrow-up-blue.svg" alt="" />
              </div></td
            >
          </tr>
        </tbody>
      </table>
      <ul class="alpd-academy__mutations-table-footnote">
        <li>
          <sup class="positioned">a</sup> PPi tests are done in research settings only and are not commercially available.<sup>5</sup>
        </li>
        <li>
          <sup class="positioned">b</sup>PLP levels may be elevated in individuals taking supplements containing vitamin B6. PLP levels may also appear as normal or low in patients with HPP. This does not invalidate the HPP diagnosis.<sup>9,10</sup>
        </li>
        <li>
          <sup class="positioned">c</sup>PEA levels may be normal in some patients with hypophosphatasia.<sup>11</sup>
        </li>
      </ul>
    </div>
    <article class="alpd-academy__deficient">
      <div class="alpd-academy__deficient-wrapper">
        <div class="wrapper">
          <picture class="alpd-academy__deficient-pic">
            <source
              srcset="/assets/images/alpd-academy/k-deficient-desktop.png"
              media="(min-width: 1024px)"
            />
            <source
              srcset="/assets/images/alpd-academy/k-deficient-tablet.png"
              media="(min-width: 500px)"
            />
            <img
              src="/assets/images/alpd-academy/k-deficient-mobile.png"
              alt=""
            />
            <figcaption>
              Image created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
            </figcaption>
          </picture>
        </div>

        <div class="alpd-academy__deficient-content md:mb-2">
          <div class="wrapper">
            <h4 class="alpd-academy__deficient-paragraph-title">
              Deficient alkaline phosphatase in bone and teeth
            </h4>
            <p class="alpd-academy__deficient-paragraph">
              In hypophosphatasia, accumulation of PPi blocks hydroxyapatite crystal formation and bone mineralization, and excess calcium can lead to complications, such as<sup>1,12,13</sup>:
            </p>
            <ul class="alpd-academy__symptoms-list">
              <li>nephrocalcinosis</li>
              <li>chondrocalcinosis</li>
              <li>kidney disorders</li>
              <li>pseudogout</li>
            </ul>
          </div>
        </div>

        <div class="wrapper">
          <picture class="alpd-academy__deficient-pic md:mb-1">
            <source
              srcset="/assets/images/alpd-academy/k-neurlogic-desktop.png"
              media="(min-width: 1024px)"
            />
            <source
              srcset="/assets/images/alpd-academy/k-neurlogic-tablet.png"
              media="(min-width: 500px)"
            />
            <img
              src="/assets/images/alpd-academy/k-neurlogic-mobile.png"
              alt=""
            />
            <figcaption>
              Image created for Alexion Pharmaceuticals, Inc. for illustrative
              purposes.
            </figcaption>
          </picture>
        </div>
        <div class="alpd-academy__deficient-content last">
          <div class="wrapper">
            <h4 class="alpd-academy__deficient-paragraph-title">
              Deficient alkaline phosphatase in the central nervous system (CNS)
            </h4>
            <p class="alpd-academy__deficient-paragraph">
              Pyridoxal 5`-phosphate (PLP) (ie, the active form of vitamin B<sub>6</sub>) deficiency in the CNS results in deficient GABA activity.<sup>1</sup>
            </p>
            <p class="alpd-academy__deficient-paragraph">
              Though the direct cause is unknown, hypophosphatasia is also associated with other neurologic symptoms in pediatrics and adults, like<sup>8,14</sup>:
            </p>
            <ul
              class="alpd-academy__symptoms-list grid-rows-3 alpd-academy__symptoms-list--underlined"
            >
              <li>fatigue</li>
              <li>vertigo</li>
              <li>headaches</li>
              <li class="row-span-2">
                <p class="font--inherit">
                  mood<br />
                  <span class="font-size--14px md:font-size--18px">
                    (depression, anxiety)
                  </span>
                </p>
              </li>
              <li>sleep disturbance</li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <div class="alpd-academy__call-out">
      <div class="wrapper">
        <p class="alpd-academy__call-out-text">
          The third substrate impacted by low levels of alkaline phosphatase is <strong>phosphoethanolamine (PEA).</strong> While the impact on the body is not fully understood, it is important to recognize this third substrate as it can be used as a <strong>testing method to confirm a hypophosphatasia</strong> diagnosis.<sup>5,15,16</sup>
        </p>
      </div>
    </div>
    <div class="alpd-academy__persistently-low-alp-container">
      <div class="red-string persistently-low-red-string"></div>
      <img
        class="persistently-low-pin"
        src="/assets/images/alpd-academy/red-pin.png"
        alt=""
      />
      <div class="backgroud"></div>
      <div class="alpd-academy__persistently-low-alp-content">
        <div class="wrapper">
          <p class="font--special-elite">
            Patients with persistently low alkaline phosphatase (ALP) can experience debilitating hypophosphatasia symptoms that may progress and wide-ranging systemic complications.<sup>1-4,17</sup>
          </p>
          <p class="font--special-elite color--red">
            Persistently low ALP can be defined as 2 or more age- and sex-adjusted ALP levels below normal range in intervals of more than 30 days.<sup>5,9,18</sup>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section alpd-academy__know-the-numbers" id="low-alp">
    <div class="wrapper">
      <h1 class="know-the-numbers__title text--center">know the numbers</h1>
    </div>

    <div class="numbers__info">
      <div class="wrapper">
        <div class="number__kpi">
          <h4 class="number__kpi-title">Adults</h4>
          <div class="number__kpi-data">
            <picture>
              <img src="/assets/images/alpd-academy/finger-print.png" alt="" />
            </picture>
            <p class="number__kpi-legend">
              &#60;40 U/L <sup class="symbol-sup">*</sup>
            </p>
          </div>
          <p class="number__kpi-description color--saffron-mango">
            is considered LOW in adults
          </p>
          <p class="number__kpi-description">
            <sup>*</sup>Limitations: An alkaline phosphatase level of below 40 U/L is not conclusive for a diagnosis of hypophosphatasia. Patient should be evaluated for other symptoms of hypophosphatasia and differential diagnoses should be ruled out. Check with your lab for their appropriate age- and sex-adjusted reference ranges.<sup>20-24</sup>
          </p>
        </div>
        <div class="number__kpi">
          <h4 class="number__kpi-title">Children</h4>
          <div class="number__kpi-data">
            <picture>
              <img src="/assets/images/alpd-academy/finger-print.png" alt="" />
            </picture>
            <p class="number__kpi-legend">VARIES</p>
          </div>
          <p class="number__kpi-description right--column">
            <span class="color--saffron-mango">In children, what’s considered “low alkaline phosphatase” is variable</span> because alkaline phosphatase reference values are highly dependent on age and sex. Ensure that lab results for alkaline phosphatase levels reflect age- and sex-adjusted reference ranges for the specific patient.<sup>1,25,26</sup>
          </p>
        </div>
      </div>
    </div>

    <div class="chart__container">
      <div class="chart__container-content">
        <div class="wrapper">
          <p class="chart__title">
            Age- and sex-adjusted alkaline phosphatase reference ranges (U/L)<sup>20-25</sup>
          </p>
          <picture class="chart">
            <source
              srcset="/assets/images/alpd-academy/7m-age-and-sec-chart-desktop.png"
              media="(min-width: 850px)"
              
            />
            <source
              srcset="/assets/images/alpd-academy/7m-age-and-sec-chart-tablet.png"
              media="(min-width: 600px)"
            />
            <img
              src="/assets/images/alpd-academy/7m-age-and-sec-chart-mobile.png"
              alt=""
              style="max-width: 1032px;margin: auto;"
            />
          </picture>
          <p class="chart__paragraph">
            <sup class="symbol-sup">*</sup>Check with your lab for their appropriate age- and sex-adjusted reference range.<sup>1,26</sup>
          </p>
          <p class="chart__paragraph">
            Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed.<sup>25</sup>
          </p>
        </div>
      </div>
    </div>

    <div class="hypophosphatasia-info">
      <div class="red-string first"></div>
      <picture class="postit">
        <img src="/assets/images/alpd-academy/postit-mobile.png" alt="" />
      </picture>
      <picture class="postit-mask">
        <img src="/assets/images/alpd-academy/postit-mask-mobile.png" alt="" />
      </picture>
      <div class="red-string last"></div>
      <div class="hypophosphatasia-info__content">
        <div class="wrapper">
          <p>
            Though the dangers of high alkaline phosphatase levels may be commonly recognized, persistently low alkaline phosphatase, defined as having <span class="color--red sz-500:color--saffron-mango">2 values below normal in intervals of more than 30 days,*</span> is a key piece of evidence of a hypophosphatasia diagnosis.<sup>1,5,9,18,26,27</sup>
          </p>
          <p class="text--14px text--400">
            <sup class="symbol-sup">*</sup>Alkaline phosphatase ranges must be age- and sex-adjusted.<sup>1,26</sup>
          </p>
        </div>
      </div>
    </div>

    <CTA
      buttonLabel="HPP Profile"
      linkURL="/hpp-profile/"
      content="Read the full file on hypophosphatasia"
    />
    <References>
      <p>
        <strong>References: 1.</strong> Rockman-Greenberg C. Hypophosphatasia. <i class="text--italic">Pediatr Endocrinol Rev.</i> 2013;10(suppl 2):380-388. <strong>2.</strong> Medline Plus. ALPL gene. National Library of Medicine. 2018. Accessed March 30, 2023. <a href="https://medlineplus.gov/genetics/gene/alpl/" target="_blank">https://medlineplus.gov/genetics/gene/alpl/</a> <strong>3.</strong> Weber TJ, Sawyer EK, Moseley S, et al. Burden of disease in adult patients with hypophosphatasia: results from two patient-reported surveys. <i class="text--italic">Metabolism.</i> 2016;65(10):1522-1530. <strong>4.</strong> Hӧgler W, Langman C, Gomes da Silva H, et al. Diagnostic delay is common among patients with hypophosphatasia: initial findings from a longitudinal, prospective, global registry. <i class="text--italic">BMC Musculoskelet Disord.</i> 2019;20(1):80. <strong>5.</strong> Bianchi ML, Bishop NJ, Guañabens N, et al; Rare Bone Disease Action Group of the European Calcified Tissue Society. Hypophosphatasia in adolescents and adults: overview of diagnosis and treatment. <i class="text--italic">Osteoporos Int.</i> 2020;31(8):1445-1460. <strong>6.</strong> Mercimek-Mahmutoglu S, Sidky S, Hyland K, et al. Prevalence of inherited neurotransmitter disorders in patients with movement disorders and epilepsy: a retrospective cohort study. <i class="text--italic">Orphanet J Rare Dis.</i> 2015;10:12. <strong>7.</strong> Cellini B, Montioli R, Oppici E, Astegno A, Borri Voltattorni C. The chaperone role of the pyridoxal 5’-phosphate and its implications for rare diseases involving B6-dependent enzymes. <i class="text--italic">Clin Biochem.</i> 2014;47(3):158-165. <strong>8.</strong> Pierpont EI, Simmons JH, Spurlock KJ, Shanley R, Sarafoglou KM. Impact of pediatric hypophosphatasia on behavioral health and quality of life. <i class="text--italic">Orphanet J Rare Dis.</i> 2021;16(1):80. <strong>9.</strong> McKiernan FE, Dong J, Berg RL, et al. Mutational and biochemical findings in adults with persistent hypophosphatasemia. <i class="text--italic">Osteoporos Int.</i> 2017;28:2343-2348. <strong>10.</strong> Shajani-Yi Z, Ayala-Lopez N, Black M, Dahir KM. Urine phosphoethanolamine is a specific biomarker for hypophosphatasia in adults. <i class="text--italic">Bone.</i> 2022;163:116504. <strong>11.</strong> Nunes ME. Hypophosphatasia. In: Adam MP, Ardinger HH, Pagon RA, et al, eds. <i class="text--italic">GeneReviews®.</i> University of Washington; 2007. Accessed March 30, 2023. <a href="https://www.ncbi.nlm.nih.gov/books/NBK1150/" target="_blank">https://www.ncbi.nlm.nih.gov/books/NBK1150/</a> <strong>12.</strong> Conti F, Ciullini L, Pugliese G. Hypophosphatasia: clinical manifestation and burden of disease in adult patients. <i class="text--italic">Clin Cases Miner Bone Metab.</i> 2017;14(2):230-234. <strong>13.</strong> Salles JP. Hypophosphatasia: biological and clinical aspects, avenues for therapy. <i class="text--italic">Clin Biochem Rev.</i> 2020;41(1):13-27. <strong>14.</strong> Colazo JM, Hu JR, Dahir KM, Simmons JH. Neurological symptoms in hypophosphatasia. <i class="text--italic">Osteoporos Int.</i> 2019;30(2):469-480. <strong>15.</strong> Mornet E. Molecular genetics of hypophosphatasia and phenotype-genotype correlations. <i class="text--italic">Subcell Biochem.</i> 2015;76:25-43. <strong>16.</strong> NORD. Hypophosphatasia. 2022. Accessed March 30, 2023. <a href="https://rarediseases.org/rare-diseases/hypophosphatasia/" target="_blank">https://rarediseases.org/rare-diseases/hypophosphatasia/</a> <strong>17.</strong> Rush ET, Moseley S, Petryk A. Burden of disease in pediatric patients with hypophosphatasia: results from the HPP Impact Patient Survey and the HPP Outcomes Study Telephone interview. <i class="text--italic">Orphanet J Rare Dis.</i> 2019;14(1):201. <strong>18.</strong> Vieira LHR, Peixoto KC, Flósi CL, Fleiuss de Farias ML, Madeira M. Active search of adult patients with persistently low serum alkaline phosphatase levels for diagnosis of hypophosphatasia. <i class="text--italic">Arch Endocrinol Metab.</i> 2021;65(3):289-294. <strong>19.</strong> McKiernan FE, Berg RL, Fuehrer J. Clinical and radiographic findings in adults with persistent hypophosphatasemia. <i class="text--italic">J Bone Miner Res.</i> 2014;29(7):1651-1660. <strong>20.</strong> Adeli K, Higgins V, Nieuwesteeg M, et al. Biochemical marker reference values across pediatric, adult, and geriatric ages: establishment of robust pediatric and adult reference intervals on the basis of the Canadian Health Measures Survey. <i class="text--italic">Clin Chem.</i> 2015;61(8):1049-1062. <strong>21.</strong> Schumann G, Klauke R, Canalias F, et al. IFCC primary reference procedures for the measurement of catalytic activity concentrations of enzymes at 37 °C. Part 9: reference procedure for the measurement of catalytic concentration of alkaline phosphatase International Federation of Clinical Chemistry and Laboratory Medicine (IFCC) Scientific Division, Committee on Reference Systems of Enzymes (C-RSE) (1)). <i class="text--italic">Clin Chem Lab Med.</i> 2011;49(9):1439-1446. <strong>22.</strong> Quest Diagnostics. Alkaline phosphatase. Accessed March 30, 2023. https:/testdirectory.questdiagnostics.com/test/test-detail/234/alkaline-phosphatase? cc=MASTER <strong>23.</strong> Labcorp. Alkaline phosphatase. Accessed March 20, 2023. <a href="https://www.labcorp.com/tests/001107/alkaline-phosphatase#" target="_blank">https://www.labcorp.com/tests/001107/alkaline-phosphatase#</a> <strong>24.</strong> ARUP Laboratories. Alkaline phosphatase isoenzymes, serum or plasma. Accessed March 30, 2023. <a href="https://ltd.aruplab.com/Tests/Pub/0021020" target="_blank">https://ltd.aruplab.com/Tests/Pub/0021020</a> <strong>25.</strong> Colantonio DA, Kyriakopoulou L, Chan MK, et al. Closing the gaps in pediatric laboratory reference intervals: a CALIPER database of 40 biochemical markers in a healthy and multiethnic population of children. Clin Chem. 2012;58(5):854-868. <strong>26.</strong> Bishop N, Munns CF, Ozono K. Transformative therapy in hypophosphatasia. <i class="text--italic">Arch Dis Child.</i> 2016;101(6):514-515. <strong>27.</strong> Whyte MP. Hypophosphatasia: nature's window on alkaline phosphatase function in humans. In: Bilezikian JP, Raisz LG, Martin TJ, eds. <i class="text--italic">Principles of Bone Biology.</i> 3rd ed. Academic Press; 2008:1573-1598. 
      </p>
    </References>
  </section>
</Layout>
