---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ALPD Academy" pageClass="alpd__academy">
  <h1>ALPD PAGE</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellat
    aliquam sed assumenda inventore, accusamus dolorem? Ratione, eos architecto!
    Atque repellendus saepe inventore voluptates illum, totam in illo quo. In?
  </p>
</Layout>
