---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import InternalNavigation from "../components/InternalNavigation.astro";

const internalNavLinks = [
  { href: "hpp-definition", label: "HPP Definition", active: true },
  {
    href: "hpp-multisystemic",
    label: "Multisystemic Symptoms and Disease Burden",
  },
  { href: "hpp-prevalence", label: "Prevalence of HPP" },
];
---

<Layout title="HPP Profile" pageClass="hpp__profile" showISI={false}>
  {internalNavLinks && <InternalNavigation items={internalNavLinks} />}

  <!-- HPP Definition -->
  <section id="hpp-definition" class="profiling-hypophostasia section">
    <div class="hpp__profile__red-string-bg">
      <div class="wrapper hpp__profile__content">
        <h2 class="hpp__profile__main-title color--red text--uppercase">
          Profiling Hypophosphatasia (HPP)
        </h2>
        <h3 class="hpp__profile__sub-title color--white">
          Take a look at the case file of hypophosphatasia to learn how it stays
          hidden and how it may be causing harm to your patients
        </h3>
        <p
          class="hpp__profile__paragraph hpp__profile__paragraph--sub color--white"
        >
          Hypophosphatasia is an inherited, multisystemic, rare metabolic
          disorder characterized by persistently low age- and sex- adjusted
          alkaline phosphatase (ALP) activity that may progress over time.<sup
            class="color--white">1,2</sup
          >
        </p>
      </div>

      <div class="hpp__profile__image-container">
        <h2 class="hpp__profile__hidden-title">11A0763</h2>
        <picture>
          <source
            srcset="/assets/images/hpp-profile/hpp-profile.png"
            media="(min-width: 700px)"
          />
          <img
            class="hpp__profile__image"
            src="/assets/images/hpp-profile/hpp-profile-mb.png"
            alt="HPP Profile"
          />
        </picture>
      </div>

      <div class="hpp__profile__red-frame-disclaimer">
        <p
          class="hpp__profile__paragraph hpp__profile__paragraph--sub hpp__profile__red-frame-disclaimer--content color--white text--center"
        >
          Hypophosphatasia may become debilitating and can cause damage to
          <span class="hpp__profile__red-frame-disclaimer--text-red"
            >multiple systems</span
          > in the body beyond the skeletal system.<sup>3-5</sup>
        </p>
      </div>
    </div>
  </section>

  <h2 class="hpp__profile__title">How hypophosphatasia CAN cause harm</h2>

  <!-- Multisystemic Symptoms and Disease Burden -->
  <section id="hpp-multisystemic" class="section hpp-multisystemic">
    <article class="hpp-multisystemic__tabs">
      <ul role="tablist" class="hpp-multisystemic__tabs--nav">
        <li role="presentation" class="hpp-multisystemic__tabs--nav-item">
          <a href="#multisystemic1" role="tab" id="tab1" aria-selected="true"
            >Adults</a
          >
        </li>
        <li role="presentation" class="hpp-multisystemic__tabs--nav-item">
          <a href="#multisystemic2" role="tab" id="tab2" tabindex="-1"
            >Children/Adolescents</a
          >
        </li>
        <li role="presentation" class="hpp-multisystemic__tabs--nav-item">
          <a href="#multisystemic3" role="tab" id="tab3" tabindex="-1"
            >Neonates/Infants</a
          >
        </li>
      </ul>

      <select name="hpp-multisystemic__select" id="hpp-multisystemic-select">
        <option value="multisystemic1">Adults</option>
        <option value="multisystemic2">Children/Adolescents</option>
        <option value="multisystemic3">Neonates/Infants</option>
      </select>

      <!-- Tab adults content -->
      <section
        id="multisystemic1"
        role="tabpanel"
        aria-labelledby="tab1"
        aria-hidden="false"
        tabindex="-1"
      >
        <div class="hpp-multisystemic__bg-paper">
          <article class="wrapper hpp-multisystemic__definition">
            <div class="hpp-multisystemic__col">
              <p class="hpp-multisystemic__definition--text">
                <span class="hpp-multisystemic__definition--text-red"
                  >Adults with hypophosphatasia</span
                > may experience a full spectrum of symptoms. In addition to the
                typical skeletal effects, pain and muscular/metabolic manifestations
                are also common in adults with hypophosphatasia, regardless of age
                of onset.<sup>6,7*</sup>
              </p>
              <span class="hpp-multisystemic__definition--condition">
                *Adults may have a history of childhood symptoms.<sup>6</sup>
              </span>

              <h3 class="hpp-multisystemic__definition--title">
                Studies of adult patients found:
              </h3>
            </div>
            <div class="hpp-multisystemic__col">
              <div class="hpp-multisystemic__definition--media">
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo-bg"
                    src="/assets/images/hpp-profile/patient-photo--bg.png"
                    alt="Patient adults"
                  />
                </picture>

                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo.png"
                    alt="Patient adults"
                  />
                </picture>
              </div>
            </div>
          </article>

          <article class="wrapper hpp-multisystemic__studies">
            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">95%</h2>
              <p class="hpp-multisystemic__study--text">
                of patients reported pain and <span
                  class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                  >76%</span
                > said <span class="hpp-multisystemic__study--text-bold"
                  >bone pain</span
                > was severe enough to limit activity<sup>7†</sup>
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">74%</h2>
              <p class="hpp-multisystemic__study--text">
                of patients reported <span
                  class="hpp-multisystemic__study--text-bold"
                  >inability to climb stairs</span
                > and <span
                  class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                  >81%</span
                > reported <span class="hpp-multisystemic__study--text-bold"
                  >inability to descend stairs
                </span><sup>7†</sup>
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">95%</h2>
              <p class="hpp-multisystemic__study--text">
                had <span class="hpp-multisystemic__study--text-bold"
                  >difficulty walking</span
                ><sup>7†</sup>
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">&gt50%</h2>
              <p class="hpp-multisystemic__study--text">
                of patients reported pain and <span
                  class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                  >76%</span
                > said <span class="hpp-multisystemic__study--text-bold"
                  >bone pain</span
                > was severe enough to limit activity<sup>7†</sup>
              </p>
            </div>
          </article>

          <p class="wrapper hpp-multisystemic__condition">
            Data collected from patients and caregivers via 2 survey instruments
            (web-based and phone interviews) to evaluate patient-reported
            symptomatology and burden of disease of hypophosphatasia (N=125).
            The majority of patients in this study (67%) reported pediatric
            onset of hypophosphatasia symptoms. Of patients reporting
            adult-onset hypophosphatasia (27%), 50% (17/34) reported history or
            surgeries, suggestive of pediatric onset of symptoms.7 Data from the
            Global HPP Registry, an observational, longitudinal, multinational,
            long-term study of patients ≥18 years with a confirmed diagnosis of
            hypophosphatasia using physician-entered medical record data from
            consenting patients (N=304). Of the 304 adults, 33% (~100 patients)
            had pediatric-onset HPP.8
          </p>

          <article class="wrapper hpp-multisystemic__impact">
            <h3 class="hpp-multisystemic__impact--title">
              The multisystemic impact of hypophosphatasia
            </h3>
          </article>
        </div>
      </section>

      <!-- Tab children content -->
      <section
        id="multisystemic2"
        role="tabpanel"
        aria-labelledby="tab2"
        aria-hidden="true"
        tabindex="-1"
        hidden
      >
        <div class="hpp-multisystemic__bg-paper">
          <article class="wrapper hpp-multisystemic__definition">
            <div class="hpp-multisystemic__col">
              <p class="hpp-multisystemic__definition--text">
                <span class="hpp-multisystemic__definition--text-red"
                  >Children and adolescents with hypophosphatasia</span
                > can experience a wide variety of multisystemic manifestations and
                behavioral challenges that impact their quality of life (QoL).6
              </p>
              <span class="hpp-multisystemic__definition--condition">
                Clinically meaningful impairment in children’s pain, sleep, and
                mood was reported in one study using parent ratings.*
              </span>

              <h3 class="hpp-multisystemic__definition--title">
                A study of patients/caregivers of children with hypophosphatasia
                showed:
              </h3>
            </div>
            <div class="hpp-multisystemic__col">
              <div class="hpp-multisystemic__definition--media">
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo-bg"
                    src="/assets/images/hpp-profile/patient-photo--bg.png"
                    alt="Patient adults"
                  />
                </picture>

                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo-adolescents.png"
                    alt="Patient adults"
                  />
                </picture>
              </div>
            </div>
          </article>

          <article class="wrapper hpp-multisystemic__studies">
            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">50%</h2>
              <p class="hpp-multisystemic__study--text">
                (15/30) of children had clinically meaningful impairment in
                overall QoL6
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">57%</h2>
              <p class="hpp-multisystemic__study--text">
                (17/30) of the children were classified as poor sleepers6
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">29%</h2>
              <p class="hpp-multisystemic__study--text">
                (7/24) of school-aged children experienced higher than average
                levels of pain that interfered with daily activities6*
              </p>
            </div>
          </article>

          <p class="wrapper hpp-multisystemic__condition">
            Data collected from patients and caregivers via 2 survey instruments
            (web-based and phone interviews) to evaluate patient-reported
            symptomatology and burden of disease of hypophosphatasia (N=125).
            The majority of patients in this study (67%) reported pediatric
            onset of hypophosphatasia symptoms. Of patients reporting
            adult-onset hypophosphatasia (27%), 50% (17/34) reported history or
            surgeries, suggestive of pediatric onset of symptoms.7 Data from the
            Global HPP Registry, an observational, longitudinal, multinational,
            long-term study of patients ≥18 years with a confirmed diagnosis of
            hypophosphatasia using physician-entered medical record data from
            consenting patients (N=304). Of the 304 adults, 33% (~100 patients)
            had pediatric-onset HPP.8
          </p>
        </div>
      </section>

      <!-- Tab neonates/infants content -->
      <section
        id="multisystemic3"
        role="tabpanel"
        aria-labelledby="tab3"
        aria-hidden="true"
        tabindex="-1"
        hidden
      >
        <div class="hpp-multisystemic__bg-paper">
          <article class="wrapper hpp-multisystemic__definition">
            <div class="hpp-multisystemic__col">
              <p class="hpp-multisystemic__definition--text">
                <span class="hpp-multisystemic__definition--text-red"
                  >Neonates and infants with hypophosphatasia</span
                > have a high risk of mortality and failure to thrive, making early
                and accurate diagnosis critical.1,6-8
              </p>

              <h3 class="hpp-multisystemic__definition--title">
                A study of patients/caregivers of infants with hypophosphatasia
                showed:
              </h3>
            </div>
            <div class="hpp-multisystemic__col">
              <div class="hpp-multisystemic__definition--media">
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo-bg"
                    src="/assets/images/hpp-profile/patient-photo--bg.png"
                    alt="Patient adults"
                  />
                </picture>

                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo-infants.png"
                    alt="Patient adults"
                  />
                </picture>
              </div>
            </div>
          </article>

          <article class="wrapper hpp-multisystemic__studies">
            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">73%</h2>
              <p class="hpp-multisystemic__study--text">
                of untreated cases of neonatal and infantile hypophosphatasia
                were fatal before the age of 5. 58% of cases were fatal by 1
                year of age*
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">64%</h2>
              <p class="hpp-multisystemic__study--text">
                required respiratory support, most commonly invasive
                ventilation. 95% of cases requiring invasive ventilation were
                fatal*
              </p>
            </div>
          </article>

          <p class="wrapper hpp-multisystemic__condition">
            *Data from a multinational, noninterventional, retrospective chart
            review study designed to understand the natural history of 48
            patients ≤5 years of age with severe perinatal- and infantile-onset
            hypophosphatasia.
          </p>
        </div>
      </section>
    </article>
  </section>

  <!-- Prevalence of HPP -->
  <section id="hpp-prevalence" class="section">
    <!-- HPP Patients charts -->
    <div class="hpp-patients__red-string">
      <picture>
        <img
          class="hpp-patients__red-pin"
          src="/assets/images/hpp-profile/pin.png"
          alt="Pin"
        />
      </picture>
      <p class="wrapper hpp-patients__disclaimer">
        Reduced alkaline phosphatase levels during childhood may affect peak
        bone mass later in life<sup>23,24</sup>
      </p>

      <span class="hpp-patients__red-string1"></span>
      <span class="hpp-patients__red-string2"></span>
    </div>

    <div class="wrapper hpp-patients__section">
      <div class="hpp-patients__section--bg-white">
        <p class="hpp-patients__section__disclaimer--dk">
          Reduced alkaline phosphatase levels during childhood may affect <span
            >peak bone mass later in life <sup>23,24</sup></span
          >
        </p>
        <div class="wrapper">
          <h5 class="hpp-patients__section__title">
            Percent of patients with hypophosphatasia fractures
          </h5>

          <div class="hpp-patients__section__chart">
            <!-- Desktop chart -->
            <picture>
              <img
                class="hpp-patients__section__image"
                src="/assets/images/hpp-profile/hpp-patients-chart.png"
                alt="HPP Profile"
              />
            </picture>

            <!-- Mobile chart -->
            <div class="hpp-patients__section__chart--mb">
              <img
                class="hpp-patients__section__image--mb"
                src="/assets/images/hpp-profile/chart1-mb.png"
                alt="HPP Profile"
              />
              <p class="hpp-patients__section__text-chart">
                Infants and young children (≤5 years)<sup>25a</sup>
              </p>
              <img
                class="hpp-patients__section__image--mb"
                src="/assets/images/hpp-profile/chart2-mb.png"
                alt="HPP Profile"
              />
              <p class="hpp-patients__section__text-chart">
                Children and adolescents (5-15 years)<sup>26b</sup>
              </p>
              <img
                class="hpp-patients__section__image--mb"
                src="/assets/images/hpp-profile/chart3-mb.png"
                alt="HPP Profile"
              />
              <p class="hpp-patients__section__text-chart">
                Adults (≥18 years)<sup>7c</sup>
              </p>
            </div>
          </div>

          <p class="hpp-patients__section__content">
            Data from a multinational, noninterventional, retrospective chart
            review study designed to understand the natural history of 48
            patients ≤5 years of age with severe perinatal- and infantile-onset
            HPP. Patients included in the study were those diagnosed with HPP
            based on at least one of the following: serum biomarker levels
            (below-normal ALP and above-normal PLP or phosphoethanolamine
            [PEA]), below-normal ALP and radiographic abnormalities, and/or
            genetic analysis of the ALPL gene. Additionally, onset of HPP must
            have occurred prior to 6 months of age based on signs that included
            at least one of the following: respiratory compromise, rachitic
            chest deformity, and/or vitamin B<sub>6</sub>-responsive seizures.<sup
              >25</sup
            >
          </p>
        </div>
      </div>
    </div>

    <p
      class="wrapper hpp-patients__section__content--mb hpp-patients__section__content--a"
    >
      Data from a multinational, noninterventional, retrospective chart review
      study designed to understand the natural history of 48 patients ≤5 years
      of age with severe perinatal- and infantile-onset HPP. Patients included
      in the study were those diagnosed with HPP based on at least one of the
      following: serum biomarker levels (below-normal ALP and above-normal PLP
      or phosphoethanolamine [PEA]), below-normal ALP and radiographic
      abnormalities, and/or genetic analysis of the ALPL gene. Additionally,
      onset of HPP must have occurred prior to 6 months of age based on signs
      that included at least one of the following: respiratory compromise,
      rachitic chest deformity, and/or vitamin B<sub>6</sub>-responsive
      seizures.<sup>25</sup>
    </p>

    <p
      class="wrapper hpp-patients__section__content--mb hpp-patients__section__content--b"
    >
      Data from a retrospective, multinational, noninterventional natural
      history study of childhood HPP in patients 5 to 15 years of age (N=32).<sup
        >26</sup
      >
    </p>

    <p
      class="wrapper hpp-patients__section__content--mb hpp-patients__section__content--c"
    >
      Combined data from HIPS/HOST, an internet questionnaire and telephone
      survey that queried demographics, HPP-related illness history, disease
      progression, and health-related quality of life. One hundred twenty-five
      adults participated.<sup>7</sup>
    </p>

    <!-- HPP Patients notes -->

    <div class="hpp-patients__notes">
      <div class="hpp-patients__notes">
        <div class="hpp-patients__notes--red-string red-string"></div>

        <picture>
          <source
            media="(min-width: 768px)"
            srcset="/assets/images/hpp-profile/pin--desktop.png"
          />
          <img
            class="hpp-patients__notes--pin"
            src="/assets/images/hpp-profile/pin.png"
            alt="HPP patient note pin"
          />
        </picture>

        <p class="hpp-patients__notes--note">
          In a meta-analysis of pediatric patients with hypophosphatasia who
          were followed through adulthood [N=265], there was a <span
            class="hpp-patients__notes--note--text-red">high risk</span
          > of fractures (one or more, or multiple), gross motor/ambulatory difficulties,
          pain, and surgery with increasing age. <sup>27</sup>
          <br />
          <br />
          <span class="hpp-patients__notes--note--foot">
            Not all patients in this study were pediatric; 43 of the 265
            patients had adult-onset HPP.
          </span>
        </p>
      </div>

      <div class="hpp-patients__percentage">
        <div class="hpp-patients__percentage--red-string red-string"></div>

        <picture>
          <source
            media="(min-width: 768px)"
            srcset="/assets/images/hpp-profile/pin--desktop.png"
          />
          <img
            class="hpp-patients__percentage--pin"
            src="/assets/images/hpp-profile/pin.png"
            alt="Pin"
          />
        </picture>

        <p class="hpp-patients__percentage--text text--center">94%</p>
        <p class="hpp-patients__percentage--content">
          of patients with at least 1 year of follow-up experienced at least 1
          manifestation or event that contributed to the <span
            class="hpp-patients__percentage--content--text-red"
            >clinical burden of hypophosphatasia.<sup>27</sup></span
          >
        </p>
        <p class="wrapper hpp-patients__percentage--disclaimer">
          *16.5% (43 patients/cases) had their first reported occurrence of HPP
          manifestations at 18 years of age or older.
        </p>
      </div>
    </div>

    <div class="wrapper hpp-patients__content">
      <h2 class="hpp__profile__title">
        WHY Hypophosphatasia SHOULD REMAIN ON YOUR RADAR
      </h2>
      <p class="hpp__profile__content">
        Though it has been previously classified as a rare disease, the overall
        prevalence of hypophosphatasia is unknown. Globally, hypophosphatasia
        affects males and females of all ages and appears to be especially
        prevalent in people of Caucasian descent.<sup>1,15,28,29</sup>
      </p>

      <div class="hpp-patients__red-frame-disclaimer">
        <p
          class="hpp-patients__red-frame-disclaimer--content color--white text--center"
        >
          While severe cases of hypophosphatasia occur in about 1:300,000
          births, milder forms occur in about 1:6370 births. Additional affected
          individuals may be unrecognized or misdiagnosed.1,19-21
        </p>
      </div>

      <h2 class="hpp__profile__title">
        Proper diagnosis of hypophosphatasia is crucial
      </h2>
      <p class="hpp__profile__content">
        Misdiagnosing hypophosphatasia can put patients at risk, with some
        commonly used therapies prescribed for misdiagnoses negatively impacting
        their condition.18
      </p>
    </div>

    <CTA
      variation="variant-2"
      buttonLabel="Usual Suspects"
      content="Learn the risk of misdiagnosis"
      linkURL="#"
      bypassModal
    />
  </section>
</Layout>
