---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import CaseFileModal from "../components/Case-Files/CaseFileModal.astro";
import CaseFileModalDesktop from "../components/Case-Files/CaseFileModalDesktop.astro";
import SkeletonDesktop from "../components/Skeleton/SkeletonDesktop.astro";
import SkeletonMobile from "../components/Skeleton/SkeletonMobile.astro";
import CommonHeroPage from "../components/CommonHeroPage.astro";

const internalNavLinks = [
  { href: "hpp-definition", label: "HPP Definition", active: true },
  {
    href: "hpp-multisystemic",
    label: "Multisystemic Symptoms and Disease Burden",
  },
  { href: "hpp-prevalence", label: "Prevalence of HPP" },
];
---

<Layout title="HPP Profile" pageClass="hpp__profile" showISI={false}>
  <CommonHeroPage title="hpp profile" classes="hpp__profile__hero">
    <picture slot="image-hero" data-image-hero>
      <source
        srcset="/assets/images/hpp-profile/hero-img.png"
        media="(min-width: 1024px)"
      />
      <source
        srcset="/assets/images/hpp-profile/hero-img--tablet.png"
        media="(min-width: 500px)"
      />
      <img src="/assets/images/hpp-profile/hero-img--mobile.png" alt="" />
    </picture>
  </CommonHeroPage>

  {internalNavLinks && <InternalNavigation items={internalNavLinks} />}

  <!-- HPP Definition -->
  <section id="hpp-definition" class="profiling-hypophostasia section">
    <div class="hpp__profile__red-string-bg">
      <div class="wrapper hpp__profile__content">
        <h2 class="hpp__profile__main-title color--red text--uppercase">
          Profiling Hypophosphatasia (HPP)
        </h2>
        <h3 class="hpp__profile__sub-title color--white">
          Take a look at the case file of hypophosphatasia to learn how it stays
          hidden and how it may be causing harm to your patients
        </h3>
        <p class="hpp__profile__paragraph hpp__profile__paragraph--sub">
          Hypophosphatasia is an inherited, multisystemic, rare metabolic
          disorder characterized by persistently low age- and sex-adjusted
          alkaline phosphatase (ALP) activity that may progress over time.<sup
            >1,2</sup
          >
        </p>
      </div>

      <div class="hpp__profile__image-container">
        <h2 class="hpp__profile__hidden-title">11A0763</h2>
        <picture>
          <source
            srcset="/assets/images/hpp-profile/hpp-profile.png"
            media="(min-width: 700px)"
          />
          <img
            class="hpp__profile__image"
            src="/assets/images/hpp-profile/hpp-profile-mb.png"
            alt="HPP Profile"
          />
        </picture>
      </div>

      <div class="hpp__profile__red-frame-disclaimer">
        <p
          class="hpp__profile__paragraph hpp__profile__paragraph--sub hpp__profile__red-frame-disclaimer--content text--center"
        >
          Hypophosphatasia may become debilitating and can cause damage to
          <span class="hpp__profile__red-frame-disclaimer--text-red"
            >multiple systems</span
          > in the body beyond the skeletal system.<sup>3-5</sup>
        </p>
      </div>
    </div>
  </section>

  <!-- Multisystemic Symptoms and Disease Burden -->
  <section id="hpp-multisystemic" class="section hpp-multisystemic">
    <h2 class="wrapper hpp__profile__title hpp__profile__title--desktop">
      How hypophosphatasia CAN cause harm
    </h2>
    <article class="hpp-multisystemic__tabs">
      <ul role="tablist" class="hpp-multisystemic__tabs--nav">
        <li role="presentation" class="hpp-multisystemic__tabs--nav-item">
          <a href="#multisystemic1" role="tab" id="tab1" aria-selected="true"
            >Adults</a
          >
        </li>
        <li role="presentation" class="hpp-multisystemic__tabs--nav-item">
          <a href="#multisystemic2" role="tab" id="tab2" tabindex="-1"
            >Children/Adolescents</a
          >
        </li>
        <li role="presentation" class="hpp-multisystemic__tabs--nav-item">
          <a href="#multisystemic3" role="tab" id="tab3" tabindex="-1"
            >Neonates/Infants</a
          >
        </li>
      </ul>

      <div class="wrapper">
        <h2 class="hpp__profile__title hpp__profile__title--mobile">
          How hypophosphatasia CAN cause harm
        </h2>

        <div class="hpp-multisystemic__select">
          <select
            name="hpp-multisystemic-select"
            id="hpp-multisystemic-select"
            class="hpp-multisystemic__select--input"
          >
            <option value="multisystemic1">Adults</option>
            <option value="multisystemic2">Children/Adolescents</option>
            <option value="multisystemic3">Neonates/Infants</option>
          </select>
        </div>
      </div>

      <!-- Tab adults content -->
      <section
        id="multisystemic1"
        data-target="multisystemic1"
        role="tabpanel"
        aria-labelledby="tab1"
        aria-hidden="false"
        tabindex="-1"
      >
        <div class="hpp-multisystemic__bg-paper">
          <article class="wrapper hpp-multisystemic__definition">
            <div class="hpp-multisystemic__col">
              <p class="hpp-multisystemic__definition--text">
                <span class="hpp-multisystemic__definition--text-red"
                  >Adults with hypophosphatasia</span
                > may experience a full spectrum of symptoms. In addition to the
                typical skeletal effects, pain and muscular/metabolic manifestations
                are also common in adults with hypophosphatasia, regardless of age
                of onset.<sup>6,7*</sup>
              </p>
              <span class="hpp-multisystemic__definition--condition">
                *Adults may have a history of childhood symptoms.<sup>6</sup>
              </span>
              <h3
                class="hpp-multisystemic__definition--title hpp-multisystemic__definition--title-desktop hpp-multisystemic__definition--title--no-line"
              >
                Studies of adult patients found:
              </h3>
            </div>
            <div class="hpp-multisystemic__col">
              <div class="hpp-multisystemic__definition--media">
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo-bg"
                    src="/assets/images/hpp-profile/patient-photo--bg.png"
                    alt="Patient adults"
                  />
                </picture>

                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo.png"
                    alt="Patient adults"
                  />
                </picture>

                <button
                  class="button button--custom-bg case-files-modal-trigger button--custom-bg--only-mobile"
                  >View Patient case files</button
                >

                <div class="hpp-multisystemic__definition--button">
                  <button
                    class="button button--custom-bg case-files-modal-trigger--desktop button--custom-bg--only-desktop"
                    >View Patient case files &gt
                  </button>
                </div>
              </div>
            </div>
          </article>

          <article class="wrapper hpp-multisystemic__studies">
            <h3
              class="hpp-multisystemic__definition--title hpp-multisystemic__definition--title-mobile"
            >
              Studies of adult patients found:
            </h3>
            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">95%</h2>
              <p class="hpp-multisystemic__study--text">
                of patients reported pain and <span
                  class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                  >76%</span
                > said <span class="hpp-multisystemic__study--text-bold"
                  >bone pain</span
                > was severe enough to limit activity<sup>7†</sup>
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">74%</h2>
              <p class="hpp-multisystemic__study--text">
                of patients reported <span
                  class="hpp-multisystemic__study--text-bold"
                  >inability to climb stairs</span
                > and <span
                  class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                  >81%</span
                > reported <span class="hpp-multisystemic__study--text-bold"
                  >inability to descend stairs
                </span><sup>7†</sup>
              </p>
            </div>

            <div class="hpp-multisystemic__study">
              <h2 class="hpp-multisystemic__study--percentage">78%</h2>
              <p class="hpp-multisystemic__study--text">
                had <span class="hpp-multisystemic__study--text-bold"
                  >difficulty walking</span
                ><sup>7†</sup>
              </p>
            </div>

            <div
              class="hpp-multisystemic__study hpp-multisystemic__study--line"
            >
              <h2 class="hpp-multisystemic__study--percentage">&gt50%</h2>
              <p
                class="hpp-multisystemic__study--text hpp-multisystemic__study--text-red-line"
              >
                A separate study of patients with hypophosphatasia reported
                their health problems <span
                  class="hpp-multisystemic__study--text-bold"
                >
                  negatively affected their physical and mental functioning
                </span><sup>8‡</sup>
              </p>
              <img
                src="/assets/images/hpp-profile/study-red-line.png"
                alt="Study red line"
                class="hpp-multisystemic__study--red-line-img hpp-multisystemic__study--red-line-img--mobile"
              />
            </div>
          </article>

          <p
            class="wrapper hpp-multisystemic__condition hpp-multisystemic__condition--dagger"
          >
            Data collected from patients and caregivers via 2 survey instruments
            (web-based and phone interviews) to evaluate patient-reported
            symptomatology and burden of disease of hypophosphatasia (N=125).
            The majority of patients in this study (67%) reported pediatric
            onset of hypophosphatasia symptoms. Of patients reporting
            adult-onset hypophosphatasia (27%), 50% (17/34) reported history or
            surgeries, suggestive of pediatric onset of symptoms.<sup>7</sup>
          </p>

          <p
            class="wrapper hpp-multisystemic__condition hpp-multisystemic__condition--double-dagger"
          >
            Data from the Global HPP Registry, an observational, longitudinal,
            multinational, long-term study of patients ≥18 years with a
            confirmed diagnosis of hypophosphatasia using physician-entered
            medical record data from consenting patients (N=304). Of the 304
            adults, 33% (~100 patients) had pediatric-onset HPP<sup>8</sup>
          </p>

          <article class="wrapper hpp-multisystemic__impact">
            <h3 class="hpp-multisystemic__impact--title hpp__profile__subhead">
              The multisystemic impact of hypophosphatasia<sup>1,6</sup>
            </h3>

            <SkeletonDesktop type="adults" />
            <SkeletonMobile type="adults" />
          </article>

          <div class="hpp-multisystemic__report--bg">
            <article class="wrapper hpp-multisystemic__report">
              <h3
                class="hpp-multisystemic__report--title hpp__profile__subhead"
              >
                Selected reported body system signs/symptoms or interventions in
                adult patients with HPP6<sup>6</sup>:
              </h3>

              <picture>
                <source
                  media="(min-width: 769px)"
                  srcset="/assets/images/hpp-profile/adult-signs-and-symptoms-chart-8m--desktop.png"
                />
                <img
                  class="hpp-multisystemic__report--chart"
                  src="/assets/images/hpp-profile/adult-signs-and-symptoms-chart-8m.png"
                  alt="FPO IMAGE"
                />
              </picture>
              <p class="hpp-multisystemic__report--chart--foot">
                Percent of patients
              </p>

              <div
                class="hpp-multisystemic__study hpp-multisystemic__study--full-width"
              >
                <p class="hpp-multisystemic__study--head-text">
                  Observational, multinational, prospective Global HPP Registry
                  study conducted in adults (n=148; ≥18 years) from January 2015
                  to September 2017.<sup>6</sup>
                </p>
                <h2 class="hpp-multisystemic__study--percentage">12%</h2>
                <p
                  class="hpp-multisystemic__study--text hpp-multisystemic__study--text-50"
                >
                  of adult patients with hypophosphatasia have a history of <span
                    class="hpp-multisystemic__study--text-bold"
                    >neurologic symptoms</span
                  ><sup>6*</sup>
                </p>
                <p class="hpp-multisystemic__study--condition">
                  *Neurologic symptoms refer to craniosynostosis, developmental
                  delay, increased intracranial pressure, and seizures.
                </p>
              </div>

              <h3
                class="wrapper hpp-multisystemic__report--title hpp__profile__subhead"
              >
                A retrospective chart review studied the prevalence of common
                neurologic symptoms associated with hypophosphatasia<sup
                  >9,a,b</sup
                >
              </h3>

              <div>
                <picture>
                  <source
                    media="(min-width: 769px)"
                    srcset="/assets/images/hpp-profile/adult-signs-and-symptoms-chart-9m--desktop.png"
                  />
                  <img
                    class="hpp-multisystemic__report--chart"
                    src="/assets/images/hpp-profile/adult-signs-and-symptoms-chart-9m.png"
                    alt="FPO IMAGE"
                  />
                </picture>
              </div>

              <p class="wrapper hpp-multisystemic__report--content">
                <sup>a</sup>Prevalence of neurologic symptoms in adults with
                hypophosphatasia (N=82) compared with the general US population.<sup
                  >9</sup
                >
              </p>
              <p class="wrapper hpp-multisystemic__report--content">
                <sup>b</sup>Data taken from a retrospective chart review
                performed on a series of 82 HPP patients.<sup>9</sup>
              </p>

              <h2 class="wrapper hpp__profile__title hpp__profile__title--blue">
                Hypophosphatasia CAN CAUSE INCREASING HARM
              </h2>

              <p class="wrapper hpp-multisystemic__report--content--harm">
                It’s vital to consider that current symptom presentation may not
                accurately represent the degree of disease progression. Patients
                with hypophosphatasia can experience a wide range of unexplained
                and debilitating symptoms that result in a frustrating journey
                to find relief. These clinical manifestations can change and
                accumulate, reflecting disease evolution and progression over
                time.<sup>1,6,8,9,14-16</sup>
              </p>
            </article>
          </div>
        </div>
      </section>

      <!-- Tab children content -->
      <section
        id="multisystemic2"
        data-target="multisystemic2"
        role="tabpanel"
        aria-labelledby="tab2"
        aria-hidden="true"
        tabindex="-1"
        hidden
      >
        <div class="hpp-multisystemic__bg-paper">
          <article class="wrapper hpp-multisystemic__definition">
            <div class="hpp-multisystemic__col">
              <p class="hpp-multisystemic__definition--text">
                <span class="hpp-multisystemic__definition--text-red"
                  >Children and adolescents with hypophosphatasia</span
                > can experience a wide variety of multisystemic manifestations and
                behavioral challenges that impact their quality of life (QoL).6
              </p>
              <p class="hpp-multisystemic__definition--text">
                Clinically meaningful impairment in children’s pain, sleep, and
                mood was reported in one study using parent ratings.<sup>6*</sup
                >
              </p>

              <span class="hpp-multisystemic__definition--condition">
                *Adults may have a history of childhood symptoms.<sup
                  >3,7,10</sup
                >
              </span>

              <h3
                class="hpp-multisystemic__definition--title hpp-multisystemic__definition--title-no-line hpp-multisystemic__definition--title-desktop"
              >
                A study of patients/caregivers of children with hypophosphatasia
                showed:
              </h3>

              <div
                class="hpp-multisystemic__definition--media hpp-multisystemic__definition--media--adolescents hpp-multisystemic__definition--media--adolescents--mobile"
              >
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo-adolescents.png"
                    alt="Patient adults"
                  />
                </picture>

                <button
                  class="button button--custom-bg case-files-modal-trigger button--custom-bg--only-mobile"
                  >View Patient case files</button
                >

                <div class="hpp-multisystemic__definition--button">
                  <button
                    class="button button--custom-bg case-files-modal-trigger--desktop button--custom-bg--only-desktop"
                    >View Patient case files &gt
                  </button>
                </div>
              </div>

              <article class="hpp-multisystemic__studies">
                <h3
                  class="hpp-multisystemic__definition--title hpp-multisystemic__definition--title-mobile"
                >
                  A study of patients/caregivers of children with
                  hypophosphatasia showed:
                </h3>
                <div class="hpp-multisystemic__study">
                  <h2 class="hpp-multisystemic__study--percentage">50%</h2>
                  <p class="hpp-multisystemic__study--text">
                    (15/30) of children had<strong>
                      clinically meaningful impairment</strong
                    > in overall QoL<sup>6</sup>
                  </p>
                </div>

                <div class="hpp-multisystemic__study">
                  <h2 class="hpp-multisystemic__study--percentage">57%</h2>
                  <p class="hpp-multisystemic__study--text">
                    (17/30) of the children were classified as <strong
                      >poor sleepers<sup>6†</sup></strong
                    >
                  </p>
                </div>

                <div class="hpp-multisystemic__study">
                  <h2 class="hpp-multisystemic__study--percentage">29%</h2>
                  <p class="hpp-multisystemic__study--text">
                    (7/24) of school-aged children experienced higher than
                    average levels of <strong
                      >pain that interfered with daily activities<sup>6*</sup>
                    </strong>
                  </p>
                </div>
              </article>
            </div>
            <div class="hpp-multisystemic__col">
              <div
                class="hpp-multisystemic__definition--media hpp-multisystemic__definition--media--adolescents hpp-multisystemic__definition--media--adolescents--desktop"
              >
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo-adolescents.png"
                    alt="Patient adults"
                  />
                </picture>

                <button
                  class="button button--custom-bg case-files-modal-trigger button--custom-bg--only-mobile"
                  >View Patient case files</button
                >

                <div class="hpp-multisystemic__definition--button">
                  <button
                    class="button button--custom-bg case-files-modal-trigger--desktop button--custom-bg--only-desktop"
                    >View Patient case files &gt
                  </button>
                </div>
              </div>
            </div>
          </article>

          <p class="wrapper hpp-multisystemic__condition">
            *Data from a cross-sectional study, reported by parents of 30
            eligible children with HPP (aged 3 to 16.6 years).6
          </p>

          <article class="wrapper hpp-multisystemic__impact">
            <h3 class="hpp-multisystemic__impact--title hpp__profile__subhead">
              The multisystemic impact of hypophosphatasia
            </h3>

            <section class="skeleton-container__skeleton">
              <SkeletonDesktop type="infants" />
              <SkeletonMobile type="infants" />
            </section>
          </article>

          <article class="wrapper hpp-multisystemic__report">
            <h2 class="hpp-multisystemic__report--title hpp__profile__subhead">
              Selected reported body system signs/symptoms or interventions in
              children with HPP<sup>9</sup>:
            </h2>

            <picture>
              <source
                media="(min-width: 769px)"
                srcset="/assets/images/hpp-profile/adolescents-signs-and-symptoms-chart--desktop.png"
              />
              <img
                class="hpp-multisystemic__report--chart"
                src="/assets/images/hpp-profile/adolescents-signs-and-symptoms-chart.png"
                alt="FPO IMAGE"
              />
            </picture>

            <p class="hpp-multisystemic__report--conditions">
              Multinational, observational, prospective Global Hypophosphatasia
              Registry study conducted in children (n=121; &lt18 years) from
              January 2015 to September 2017.<sup>9</sup>
            </p>

            <p
              class="hpp-multisystemic__report--conditions hpp-multisystemic__report--conditions--mt1"
            >
              <sup>a</sup>Excludes patients aged &lt 2 years at enrollment.
            </p>

            <p class="hpp-multisystemic__report--conditions">
              <sup>b</sup>Excludes patients aged &lt 6 months at enrollment.
            </p>

            <div
              class="hpp-multisystemic__study hpp-multisystemic__study--full-width"
            >
              <h2 class="hpp-multisystemic__study--percentage">~27%</h2>
              <p class="hpp-multisystemic__study--text">
                of children and adolescents with hypophosphatasia exhibit and
                have a history of <strong>neurologic symptoms</strong><sup
                  >9*</sup
                >
              </p>
              <p class="hpp-multisystemic__study--condition">
                *Neurologic symptoms refer to craniosynostosis, developmental
                delay, increased intracranial pressure, and seizures.
              </p>
            </div>

            <h2 class="wrapper hpp__profile__title hpp__profile__title--blue">
              Hypophosphatasia CAN CAUSE INCREASING HARM
            </h2>

            <p class="wrapper hpp-multisystemic__report--content--harm">
              It’s vital to consider that current symptom presentation may not
              accurately represent the degree of disease progression. Patients
              with hypophosphatasia can experience a wide range of unexplained
              and debilitating symptoms that result in a frustrating journey to
              find relief. These clinical manifestations can change and
              accumulate, reflecting disease evolution and progression over
              time.<sup>1,6,9,14-17</sup>
            </p>
          </article>
        </div>
      </section>

      <!-- Tab neonates/infants content -->
      <section
        id="multisystemic3"
        data-target="multisystemic3"
        role="tabpanel"
        aria-labelledby="tab3"
        aria-hidden="true"
        tabindex="-1"
        hidden
      >
        <div class="hpp-multisystemic__bg-paper">
          <article class="wrapper hpp-multisystemic__definition">
            <div class="hpp-multisystemic__col">
              <p class="hpp-multisystemic__definition--text">
                <span class="hpp-multisystemic__definition--text-red"
                  >Neonates and infants with hypophosphatasia
                </span>
                have a high risk of mortality and failure to thrive, making early
                and accurate diagnosis critical. <sup>1,6-8</sup>
              </p>

              <h3
                class="hpp-multisystemic__definition--title hpp-multisystemic__definition--title-desktop hpp-multisystemic__definition--title-no-line"
              >
                A study of patients/caregivers of infants with hypophosphatasia
                showed:
              </h3>

              <div
                class="hpp-multisystemic__definition--media hpp-multisystemic__definition--media--infants hpp-multisystemic__definition--media--infants--mobile"
              >
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo-infants.png"
                    alt="Patient adults"
                  />
                </picture>

                <button
                  class="button button--custom-bg case-files-modal-trigger button--custom-bg--only-mobile"
                  >View Patient case files</button
                >

                <div class="hpp-multisystemic__definition--button">
                  <button
                    class="button button--custom-bg case-files-modal-trigger--desktop button--custom-bg--only-desktop"
                    >View Patient case files &gt
                  </button>
                </div>
              </div>

              <div class="hpp-multisystemic__studies">
                <h3
                  class="hpp-multisystemic__definition--title hpp-multisystemic__definition--title-mobile"
                >
                  A study of patients/caregivers of infants with
                  hypophosphatasia showed:
                </h3>
                <div class="hpp-multisystemic__study">
                  <h2 class="hpp-multisystemic__study--percentage">73%</h2>
                  <p class="hpp-multisystemic__study--text">
                    of untreated cases of neonatal and infantile
                    hypophosphatasia were <span
                      class="hpp-multisystemic__study--text-bold"
                      >fatal before the age of 5.</span
                    >
                    <span
                      class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                    >
                      58%</span
                    > of cases were <span
                      class="hpp-multisystemic__study--text-bold"
                      >fatal by 1 year of age<sup>9*</sup></span
                    >
                  </p>
                </div>
                <div class="hpp-multisystemic__study">
                  <h2 class="hpp-multisystemic__study--percentage">64%</h2>
                  <p class="hpp-multisystemic__study--text">
                    <span class="hpp-multisystemic__study--text-bold"
                      >required respiratory support,
                    </span> most commonly invasive ventilation.
                    <span
                      class="hpp-multisystemic__study--text-bold hpp-multisystemic__study--text-red"
                      >95%</span
                    > of cases requiring invasive ventilation were <strong
                      >fatal<sup>9*</sup></strong
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="hpp-multisystemic__col">
              <div
                class="hpp-multisystemic__definition--media hpp-multisystemic__definition--media--infants hpp-multisystemic__definition--media--infants--desktop"
              >
                <picture>
                  <img
                    class="hpp-multisystemic__definition--photo"
                    src="/assets/images/hpp-profile/patient-photo-infants.png"
                    alt="Patient adults"
                  />
                </picture>

                <button
                  class="button button--custom-bg case-files-modal-trigger button--custom-bg--only-mobile"
                  >View Patient case files</button
                >

                <div class="hpp-multisystemic__definition--button">
                  <button
                    class="button button--custom-bg case-files-modal-trigger--desktop button--custom-bg--only-desktop"
                    >View Patient case files &gt
                  </button>
                </div>
              </div>
            </div>
          </article>

          <p
            class="wrapper hpp-multisystemic__condition hpp-multisystemic__condition--dagger"
          >
            *Data from a multinational, noninterventional, retrospective chart
            review study designed to understand the natural history of 48
            patients ≤5 years of age with severe perinatal- and infantile-onset
            hypophosphatasia.
          </p>

          <div class="wrapper hpp-multisystemic__survival">
            <h3 class="hpp-multisystemic__survival--title">Overall survival</h3>

            <picture>
              <source
                media="(min-width: 769px)"
                srcset="/assets/images/hpp-profile/overall-survival-chart--dk.png"
              />
              <img
                style="margin-bottom: 2rem;"
                src="/assets/images/hpp-profile/overall-survival-chart.png"
                alt="Overall survival"
              />
            </picture>

            <p>
              Adapted from Whyte M, et al. Poster presented at: Pediatric
              Academic Societies and Asian Society for Pediatric Research Joint
              Meeting; May 3-6, 2014; Vancouver, BC, Canada.
            </p>
          </div>

          <article class="hpp-multisystemic__curiosities">
            <div class="hpp-multisystemic__curiositie">
              <img
                class="hpp-multisystemic__curiositie--icon"
                src="/assets/images/hpp-profile/icons/icon_1.png"
                alt="Respiratory failure"
              />
              <p class="hpp-multisystemic__curiositie--text">
                <span class="hpp-multisystemic__curiositie--text--red"
                  >Respiratory failure</span
                > is the most common cause of death in neonates and infants with
                hypophosphatasia<sup>1,6</sup>
              </p>
            </div>
            <div class="hpp-multisystemic__curiositie">
              <img
                class="hpp-multisystemic__curiositie--icon"
                src="/assets/images/hpp-profile/icons/icon_2.png"
                alt="Infants experience rickets-like chest deformities"
              />
              <p class="hpp-multisystemic__curiositie--text">
                Infants often experience rickets-like chest deformity,
                fractures, vitamin B<sub>6</sub>–responsive seizures,
                craniosynostosis, and failure to thrive<sup>1,8</sup>
              </p>
            </div>
            <div class="hpp-multisystemic__curiositie">
              <img
                class="hpp-multisystemic__curiositie--icon"
                src="/assets/images/hpp-profile/icons/icon_3.png"
                alt="Skeletal and other multisystemic complications"
              />
              <p class="hpp-multisystemic__curiositie--text">
                Skeletal and other multisystemic complications can place
                significant functional <span
                  class="hpp-multisystemic__curiositie--text--red"
                  >burden on patients immediately or later in life<sup
                    >1,3,10</sup
                  ></span
                >
              </p>
            </div>
            <div class="hpp-multisystemic__curiositie">
              <img
                src="/assets/images/hpp-profile/icons/icon_4.png"
                class="hpp-multisystemic__curiositie--icon"
                alt="Seizures commonly occur in infants with hypophosphatasia"
              />
              <p class="hpp-multisystemic__curiositie--text">
                Seizures commonly occur in infants with hypophosphatasia due to
                altered vitamin B6 metabolism, which is not observed in children
                or adults with hypophosphatasia<sup>3</sup>
              </p>
            </div>
          </article>

          <article class="wrapper">
            <h2 class="wrapper hpp__profile__title hpp__profile__title--blue">
              Hypophosphatasia CAN CAUSE INCREASING HARM
            </h2>

            <p class="wrapper hpp-multisystemic__report--content--harm">
              It’s vital to consider that current symptom presentation may not
              accurately represent the degree of disease progression. Patients
              with hypophosphatasia can experience a wide range of unexplained
              and debilitating symptoms that result in a frustrating journey to
              find relief. These clinical manifestations can change and
              accumulate, reflecting disease evolution and progression over
              time.<sup>1,10,12-15</sup>
            </p>
          </article>
        </div>
      </section>
    </article>
  </section>

  <!-- Prevalence of HPP -->
  <section id="hpp-prevalence" class="section">
    <!-- HPP Patients charts -->
    <div class="hpp-patients__red-string">
      <picture>
        <img
          class="hpp-patients__red-pin"
          src="/assets/images/hpp-profile/pin.png"
          alt="Pin"
        />
      </picture>
      <p class="wrapper hpp-patients__disclaimer">
        Reduced alkaline phosphatase levels during childhood may affect peak
        bone mass later in life<sup>17,18</sup>
      </p>

      <span class="hpp-patients__red-string1"></span>
      <span class="hpp-patients__red-string2"></span>
    </div>

    <div class="wrapper hpp-patients__section">
      <div class="hpp-patients__section--bg-white">
        <p class="hpp-patients__section__disclaimer--dk">
          Reduced alkaline phosphatase levels during childhood may affect <span
            >peak bone mass later in life<sup>17,18</sup></span
          >
        </p>
        <div class="wrapper">
          <h5 class="hpp-patients__section__title">
            Percent of patients with hypophosphatasia fractures
          </h5>

          <div class="hpp-patients__section__chart">
            <!-- Desktop chart -->
            <picture>
              <img
                class="hpp-patients__section__image"
                src="/assets/images/hpp-profile/hpp-patients-chart.png"
                alt="HPP Profile"
              />
            </picture>

            <!-- Mobile chart -->
            <div class="hpp-patients__section__chart--mb">
              <img
                class="hpp-patients__section__image--mb"
                src="/assets/images/hpp-profile/chart1-mb.png"
                alt="HPP Profile"
              />
              <p class="hpp-patients__section__text-chart">
                Infants and young children (≤5 years)<sup>25a</sup>
              </p>
              <img
                class="hpp-patients__section__image--mb"
                src="/assets/images/hpp-profile/chart2-mb.png"
                alt="HPP Profile"
              />
              <p class="hpp-patients__section__text-chart">
                Children and adolescents (5-15 years)<sup>26b</sup>
              </p>
              <img
                class="hpp-patients__section__image--mb"
                src="/assets/images/hpp-profile/chart3-mb.png"
                alt="HPP Profile"
              />
              <p class="hpp-patients__section__text-chart">
                Adults (≥18 years)<sup>7c</sup>
              </p>
            </div>
          </div>

          <p
            class="wrapper hpp-patients__section__content hpp-patients__section__content--a hpp-patients__section__content--dk"
          >
            Data from a multinational, noninterventional, retrospective chart
            review study designed to understand the natural history of 48
            patients ≤5 years of age with severe perinatal- and infantile-onset
            HPP. Patients included in the study were those diagnosed with HPP
            based on at least one of the following: serum biomarker levels
            (below-normal ALP and above-normal PLP or phosphoethanolamine
            [PEA]), below-normal ALP and radiographic abnormalities, and/or
            genetic analysis of the ALPL gene. Additionally, onset of HPP must
            have occurred prior to 6 months of age based on signs that included
            at least one of the following: respiratory compromise, rachitic
            chest deformity, and/or vitamin B<sub>6</sub>-responsive seizures.<sup
              >25</sup
            >
          </p>

          <p
            class="wrapper hpp-patients__section__content hpp-patients__section__content--b hpp-patients__section__content--dk"
          >
            Data from a retrospective, multinational, noninterventional natural
            history study of childhood HPP in patients 5 to 15 years of age
            (N=32).<sup>26</sup>
          </p>

          <p
            class="wrapper hpp-patients__section__content hpp-patients__section__content--c hpp-patients__section__content--dk"
          >
            Combined data from HIPS/HOST, an internet questionnaire and
            telephone survey that queried demographics, HPP-related illness
            history, disease progression, and health-related quality of life.
            One hundred twenty-five adults
          </p>
        </div>
      </div>
    </div>

    <p
      class="wrapper hpp-patients__section__content hpp-patients__section__content--a hpp-patients__section__content--mb"
    >
      Data from a multinational, noninterventional, retrospective chart review
      study designed to understand the natural history of 48 patients ≤5 years
      of age with severe perinatal- and infantile-onset HPP. Patients included
      in the study were those diagnosed with HPP based on at least one of the
      following: serum biomarker levels (below-normal ALP and above-normal PLP
      or phosphoethanolamine [PEA]), below-normal ALP and radiographic
      abnormalities, and/or genetic analysis of the ALPL gene. Additionally,
      onset of HPP must have occurred prior to 6 months of age based on signs
      that included at least one of the following: respiratory compromise,
      rachitic chest deformity, and/or vitamin B<sub>6</sub>-responsive
      seizures.<sup>25</sup>
    </p>

    <p
      class="wrapper hpp-patients__section__content hpp-patients__section__content--b hpp-patients__section__content--mb"
    >
      Data from a retrospective, multinational, noninterventional natural
      history study of childhood HPP in patients 5 to 15 years of age (N=32).<sup
        >26</sup
      >
    </p>

    <p
      class="wrapper hpp-patients__section__content hpp-patients__section__content--c hpp-patients__section__content--mb"
    >
      Combined data from HIPS/HOST, an internet questionnaire and telephone
      survey that queried demographics, HPP-related illness history, disease
      progression, and health-related quality of life. One hundred twenty-five
      adults participated.<sup>7</sup>
    </p>

    <!-- HPP Patients notes -->
    <div class="hpp-patients__number-bg">
      <div class="hpp-patients__notes">
        <div class="hpp-patients__notes--note">
          <div class="hpp-patients__notes--red-string red-string"></div>

          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/assets/images/hpp-profile/pin--desktop.png"
            />
            <img
              class="hpp-patients__notes--pin"
              src="/assets/images/hpp-profile/pin.png"
              alt="HPP patient note pin"
            />
          </picture>

          <p class="hpp-patients__notes--content">
            In a meta-analysis of patients* with hypophosphatasia who were
            followed through adulthood [N=265], there was a <span
              class="hpp-patients__notes--note--text-red">high risk</span
            > of fractures (one or more, or multiple), gross motor/ambulatory difficulties,
            pain, and surgery with increasing age.<sup>21</sup>

            <br />
            <br />
            <span class="hpp-patients__notes--note--foot">
              Data based on patients with first reported occurrence of HPP
              manifestations in adulthood (n=43), in utero (n=30), infancy/early
              childhood (n=101), childhood (n=78), adolescence (n=9), and
              unreported (n=4).
            </span>
          </p>
        </div>

        <div class="hpp-patients__percentage">
          <div class="hpp-patients__percentage--red-string red-string"></div>

          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/assets/images/hpp-profile/pin--desktop.png"
            />
            <img
              class="hpp-patients__percentage--pin"
              src="/assets/images/hpp-profile/pin.png"
              alt="Pin"
            />
          </picture>

          <p class="hpp-patients__percentage--text text--center">94%</p>
          <p class="hpp-patients__percentage--content">
            of patients* with at least 1 year of follow-up experienced at least
            1 manifestation or event that contributed to the <span
              class="hpp-patients__percentage--content--text-red"
            >
              clinical burden of hypophosphatasia.<sup>21</sup></span
            >
          </p>
          <p class="wrapper hpp-patients__percentage--disclaimer">
            *16.5% (43 patients/cases) had their first reported occurrence of
            HPP manifestations at 18 years of age or older.
          </p>
        </div>
      </div>
    </div>

    <div class="wrapper hpp-patients__content">
      <h2 class="hpp__profile__title hpp__profile__title--50">
        WHY Hypophosphatasia SHOULD REMAIN ON YOUR RADAR
      </h2>

      <div class="hpp-patients__red-frame-disclaimer">
        <p
          class="hpp-patients__red-frame-disclaimer--content color--white text--center"
        >
          Severe HPP occurs in 1:300,000 births and milder HPP has been reported
          by some sources to occur in up to 1:6,370 births. The overall
          prevalence of all forms of hypophosphatasia is unknown. It is
          officially classified as a rare disease.Affected individuals may be
          unrecognized or misdiagnosed. Globally, HPP affects males and females
          of all ages and appears to be especially prevalent in people of
          Caucasian descent.<sup>1,22-24</sup>
        </p>
      </div>

      <h2 class="hpp__profile__title">
        Proper diagnosis of hypophosphatasia is crucial
      </h2>
      <p class="hpp__profile__content">
        Misdiagnosing hypophosphatasia can put patients at risk, with some
        commonly used therapies prescribed for misdiagnoses negatively impacting
        their condition.18
      </p>
    </div>

    <CTA
      variation="variant-2"
      buttonLabel="Usual Suspects"
      content="Learn the risk of misdiagnosis"
      linkURL="#"
      bypassModal
    />
  </section>
</Layout>

<CaseFileModal />
<CaseFileModalDesktop />
