---
import CTA from "../components/CTA.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import Layout from "../layouts/Layout.astro";
const internalNavLinks = [
    {
        href: "alp-reference-range",
        label: "ALP Reference Ranges",
        active: true,
    },
    { href: "testing", label: "Testing" },
    {
        href: "multidisciplinary-care-team",
        label: "Multidisciplinary Care Team",
    },
];
---

<Layout
    title="Identifying HPP"
    pageClass="identifying-hpp-page"
    showISI={false}
>
    {internalNavLinks && <InternalNavigation items={internalNavLinks} />}

    <section
        class="section identifying-hpp-page__alp-reference-range"
        id="alp-reference-range"
    >
        <div class="wrapper">
            <h1 class="alp-reference-range__title">
                tracking down hypophosphatasia
            </h1>
        </div>

        <article class="alp-reference-range__identify-wrapper">
            <img
                class="asset__bg asset__bg--back"
                src="/assets/images/identifying-hpp/back-desktop.png"
                alt=""
            />
            <img
                class="asset__bg asset__bg--photos"
                src="/assets/images/identifying-hpp/photos-desktop.png"
                alt=""
            />

            <p class="asset__bg asset__bg--text">11A0763</p>
            <p class="asset__bg asset__bg--text">11A0763</p>

            <div class="alp-reference-range__identify">
                <div class="alp-reference-range__identify-bg">
                    <picture>
                        <source
                            srcset="/assets/images/identifying-hpp/paper-sheet-desktop.png"
                            media="(min-width: 1024px)"
                        />
                        <img
                            src="/assets/images/identifying-hpp/paper-sheet-mobile.png"
                            alt=""
                        />
                    </picture>
                </div>
                <div class="alp-reference-range__identify-content-wrapper">
                </div>
                <div class="alp-reference-range__identify-content">
                    <div class="wrapper">
                        <div>
                            <picture class="alp-reference-range__identify-icon">
                                <img
                                    src="/assets/images/identifying-hpp/test-tube.svg"
                                    alt=""
                                />
                            </picture>
                        </div>
                        <div>
                            <p class="alp-reference-range__identify-p1">
                                Identify hypophosphatasia with <span
                                    class="lg:color--red lg:bold"
                                    >2 or more low ALP (alkaline phosphatase)
                                    levels</span
                                > in the presence of clinical signs and symptoms<sup
                                    >1,2*</sup
                                >
                            </p>
                            <p class="alp-reference-range__identify-p2">
                                If your patient has confirmed persistently low
                                alkaline phosphatase in the presence of other
                                comorbidities (eg, osteoporosis, osteomalacia,
                                nutritional rickets), they could have
                                hypophosphatasia. Persistently low alkaline
                                phosphatase,<sup class="symbol-sup">†</sup> the key
                                marker for a hypophosphatasia diagnosis, can be found
                                in a routine blood test.<sup>2,3-10</sup>
                            </p>
                            <ul class="alp-reference-range__identify-ul">
                                <li>
                                    <sup class="symbol-sup positioned">*</sup
                                    >ALP ranges must be age- and sex-adjusted.
                                    Patient should be evaluated for other
                                    symptoms of HPP and differential diagnoses
                                    should be ruled out.<sup>2,6-10</sup>
                                </li>
                                <li>
                                    <sup class="symbol-sup positioned">†</sup
                                    >Persistently low alkaline phosphatase can
                                    be defined as having 2 exams below normal
                                    value at intervals of more than 30 days.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <CTA
            variation="variant-2"
            buttonLabel="View Chart"
            content="Look back at what constitutes low alkaline phosphatase activity"
            linkURL="#"
            bypassModal
        />

        <article class="alpd-reference-range__footext">
            <div class="red-string footext-red-line"></div>
            <div class="red-string footext-red-line"></div>

            <div class="alpd-reference-range__footext-content">
                <div class="wrapper">
                    <p class="font--special-elite color--white text--center footext-1">
                        When <span class="color--saffron-mango"
                            >persistently low levels of alkaline phosphatase</span
                        > intersect with a range of unexplained symptoms in other
                        metabolic disorders, look for hypophosphatasia in new and
                        existing patients<sup class="symbol-sup">*</sup>
                    </p>
                    <br>
                    <p class="color--white text--center footext-2">
                        <sup class="symbol-sup">*</sup>Persistently low values
                        may be defined as at least 2 values below normal at
                        intervals of more than 30 days.
                    </p>


                    <p class="color--white text--center font--special-elite footext-3">
                        Any clinical sign/symptom PLUS persistently low alkaline
                        phosphatase<sup class="symbol-sup">*</sup> is sufficient
                        for a <span class="color--saffron-mango"
                            >hypophosphatasia diagnosis<sup class="symbol-sup"
                                >†</sup
                            ></span
                        >
                    </p>
                    <br>
                    <p class="text--center color--white footext-4">
                        <sup class="symbol-sup">*</sup>Persistently low values may be defined as at least 2
                        values below normal in intervals of more than 30 days. <br>
                        <sup class="symbol-sup">†</sup>Other causes of low alkaline phosphatase should be
                        ruled out. Not all signs and symptoms need to be present
                        for a hypophosphatasia diagnosis.
                    </p>
                </div>
            </div>
        </article>
    </section>

    <section class="section identifying-hpp-page__testing" id="testing">
        <article class="testing__substrate-testing">

            <div class="mobile-content">
                <div class="substrate-testing__table">
                    <div class="mobile-content-wrapper">
                        <div class="wrapper">
                            <h2 class="substrate-testing__title">
                                what you may not know<br class="md:hidden"/> about substrate testing
                            </h2>
                            <p class="substrate-testing__description">
                                If a patient presents with low alkaline phosphatase and signs/symptoms of hypophosphatasia, a diagnosis can be confirmed with substrate testing. However, it’s important to be aware of the limitations that come with these tests. Elevated PLP and/or PEA can support a diagnosis of hypophosphatasia, but these tests are subject to certain limitations<sup>7,11</sup>:
                            </p>
                        </div>
                    </div>
                    <div class="mobile-content-wrapper">
                        <div class="wrapper">
                            <h3 class="substrate-testing__header">
                                Substrate Test and Limitations
                            </h3>
                        </div>
                    </div>
                    <div class="mobile-content-wrapper">
                        <div class="wrapper">
                            <h4 class="substrate__name">
                                PEA<sup>10-14</sup>
                            </h4>
                            <h6 class="substrate-table__header">
                                LIMITATIONS:
                            </h6>
                            <ul class="substrate__limitations-list">
                                <li>
                                    May be normal in some patients with hypophosphatasia
                                </li>
                                <li>
                                    Can be collected via spot urine test or 24-hour urine collection test, which can result in unreliable results due to:
    
                                    <ul class="substrate__limitations-list">
                                        <li>
                                            Incomplete collection (omission of one or more samples in 24 hours)
                                        </li>
                                        <li>Incorrect collection time</li>
                                        <li>Incomplete emptying of bladder</li>
                                        <li>Poor storage of sample</li>
                                        <li>Inclusion of first 2 morning samples</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content-wrapper">
                        <div class="wrapper">
                            <h4 class="substrate__name">
                                PLP (vitamin B<sub>6</sub>)<sup>7,12,15</sup>
                            </h4>
                            <h6 class="substrate-table__header">
                                LIMITATIONS:
                            </h6>
                            <ul class="substrate__limitations-list">
                                <li>
                                    May be elevated in individuals taking supplements containing B<sub>6</sub>
                                </li>
                                <li>
                                    May appear normal or low in patients with hypophosphatasia. This does not invalidate the hypophosphatasia diagnosis.
                                </li>
                                <li>
                                    PLP is light-sensitive and must be protected from light; will need to be collected with amber-colored tube<sup class="symbol-sup">*</sup>
                                </li>
                                <li>
                                    PLP decreases in samples stored at room temperature due to dephosphorylation to PL
                                </li>
                                <li>
                                    PLP is bound to albumin; it can be affected by nutrition, smoking, inflammation, and drugs
                                </li>
                                <li>
                                    PLP must be taken in fasting state as it may decrease after high-carbohydrate intake
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content-wrapper">
                        <div class="wrapper">
                            <h4 class="substrate__name">
                                PPi<sup>10</sup>
                            </h4>
                            <h6 class="substrate-table__header">
                                LIMITATIONS:
                            </h6>
                            <ul class="substrate__limitations-list">
                                <li>
                                    These tests are done in research settings only and are not commercially available
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content-wrapper">
                        <div class="wrapper">
                            <p class="mobile-table__footer">
                                PEA=phosphoethanolamine; PLP=pyridoxal 5’-phosphate, the active form of vitamin B6; PPi=inorganic pyrophosphate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>
    <section
        class="section identifying-hpp-page__multidisciplinary-care-team"
        id="multidisciplinary-care-team"
    >
    </section>
</Layout>
