---
import Layout from "../layouts/Layout.astro";
import CaseFile from "../components/CaseFile.astro";
import MainHero from "../components/MainHero.astro";
import ALPDVideo from "../components/ALPDVideo.astro";
import AlpCalculator from "../components/AlpCalculator.astro";
---

<Layout title="Welcome" showHeader={true} showISI={false}>
  <MainHero />
  <section class="section section__home-video" id="alpd-video">
    <div class="wrapper">
      <h2 class="section__home-video-title">
        Step into a detective’s shoes and solve the casE of hypophosphatasia
        (HPP)
      </h2>
    </div>
    <ALPDVideo />
  </section>
  <section class="alp-files">
    <h2 class="files-heading">Read THE case files and collect evidence</h2>

    <div class="case-file__first">
      <CaseFile imgSrc="alp-folder" imgAlt="alpd file" link="#">
        Study the role of alkaline phosphatase and the dangers associated with
        low activity.
      </CaseFile>

      <CaseFile imgSrc="hpp-folder" imgAlt="hpp folder" link="#">
        View the rap sheet on hypophosphatasia and the harm it may be causing
        your patients.
      </CaseFile>
    </div>

    <div class="case-file__second">
      <CaseFile
        imgSrc="usual-folder"
        imgAlt="usual suspect folder"
        link="#"
        className="modifier"
      >
        Keep your eyes peeled for common misdiagnoses and risks associated with
        them.
      </CaseFile>

      <CaseFile
        imgSrc="identifying-folder"
        imgAlt="identifying suspect folder"
        link="#"
        className="custom-class"
      >
        Get the drop on identifying hypophosphatasia and the tests that can help
        point you in the right direction.
      </CaseFile>
    </div>

    <div class="red-string"></div>
  </section>
</Layout>
