---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Site Map" pageClass="site__map_page">
  <div class="wrapper">
    <h1 class="site__map_title">Site Map</h1>
    <div class="site__map">
      <nav class="sitemap__nav">
        <ul class="sitemap__nav_menu sitemap__nav_first">
          <li class="sitemap__nav_menu_item">
            <a class="sitemap__nav_menu_item_link" href="/">Home</a>
          </li>
          <li class="sitemap__nav_menu_item">
            <a class="sitemap__nav_menu_item_link" href="/alp-academy/"
              >ALP Academy</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a class="sitemap__nav_menu_item_link" href="/hpp-profile/"
              >HPP Profile</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a class="sitemap__nav_menu_item_link" href="/usual-suspects/"
              >Usual Suspects</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a class="sitemap__nav_menu_item_link" href="/identifying-hpp/"
              >Identifying HPP</a
            >
          </li>
        </ul>
      </nav>
      <nav class="sitemap__nav">
        <ul class="sitemap__nav_menu sitemap__nav_second">
          <li class="sitemap__nav_menu_item">
            <a
              class="sitemap__nav_menu_item_link"
              target="_blank"
              href="https://alexion.com/Legal#legalstatement">Legal</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a
              class="sitemap__nav_menu_item_link"
              href="https://alexion.com/contact-alexion"
              target="_blank">Contact us</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a
              class="sitemap__nav_menu_item_link"
              href="https://alexion.com/Legal#privacynotice"
              target="_blank">Privacy Notice</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a class="sitemap__nav_menu_item_link" href="/site-map/">Site Map</a
            >
          </li>
          <li class="sitemap__nav_menu_item">
            <a
              class="sitemap__nav_menu_item_link"
              href="https://alexion.com/Legal#termsofuse"
              target="_blank">Terms of Use</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</Layout>
