---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import TabsPanel from "../components/usual-suspects/TabsPanel.astro"
import MobileSelector from "../components/usual-suspects/MobileSelector.astro";


---


<Layout title="Usual Suspects" pageClass="usual_suspects" showISI={ false } >
  <CTA variation={"variant-3"} linkURL=""  buttonLabel=""  content="" bypassModal />
    
  <section class="section-container">
    <div class="scrollable-content" >
      <div class="buttons-panel-container" >
        <button class="button button--tertiary">Common Misdiagnoses</button>
        <hr class="hr_line" />
        <button class="button button--tertiary">Risk of Wrongful Diagnosis</button>
  
      </div>
    </div>

    <h2 class="content-title">A DISEASE IN DISGUISE</h2>
    <p class="content-pharagraph" >Delayed identification and misdiagnoses often happen in hypophosphatasia cases because of how well it masks itself as other more common diseases.1-5</p>
    <p class="content-pharagraph content-pharagraph--secondary" >Symptoms of hypophosphatasia are often common across other metabolic disorders and various diseases, which can impact timely and accurate diagnosis.1-5</p>

    <h3 class="section-title" ></h3>
  </section>



  <section class="usual-suspects-tabs--mobile" >
    <MobileSelector />
  </section>

  

    
</Layout>