---
import Layout from "../layouts/Layout.astro";
import CTA from '../components/CTA.astro';
import References from '../components/References.astro';
---

<Layout>
    <section class="weeding-out">
        <h2 class="weeding-out__title">WEEDING OUT SUSPECTS</h2>
        
        <img src="/assets/images/weeding-pin.png" alt="">
        <div class="weeding-out__text">
            
            <div class="red-string modifier"></div>
            <div class="red-string modifier2"></div>
            <p class="weeding-out__text__paragraph"><span>Persistently low alkaline phosphatase</span> differentiates hypophosphatasia from other conditions<sup>1,9,21,24</sup></p>
        </div>
    </section>

    <section class="persistently">
        <h2 class="persistently__title">Persistently low ALP may differentiate HPP from other conditions<sup>22</sup></h2>
        <p class="persistently__text modifier">While some conditions may lead to transient decreases in ALP, patients with HPP have persistently <span style="color:#F8BA5D">low* ALP levels.<sup>†</sup></span> Persistently low ALP levels should raise suspicion of HPP, especially when coupled with common symptoms of HPP such as musculoskeletal pain and/or weakness, premature tooth loss, or previous nontraumatic fractures.1,3</p>
        <p class="persistently__text">*Persistently low alkaline phosphatase can be defined as having 2 exams below normal value at intervals of more than 30 days.<sup>3,19</sup><br class="br"> 
            <sup>†</sup>Alkaline phosphatase ranges must be age- and sex-adjusted.<sup>3,20</sup></p> 
    </section>

    <section class="usual-levels">
        <img src="/assets/images/flip3.png" alt="" class="flip">
        <h2 class="usual-levels__title">ALP Levels<sup>1‡</sup></h2>

        <div class="list-blocks">
            <div class="title-line"></div>
            <!-- <div class="title-line2"></div> -->
        <div class="usual-levels__list">
            <p class="title">Precipitously low</p>

            <ul>
                <li>Multiple myeloma or other cancers</li>
                <li>Cardiac bypass surgery</li>
                <li>Major trauma or surgery</li>
                <li>Chemotherapy</li>
                <li>Transfusion(often massive)</li>
                <li>Starvation</li>
                <li>Sepsis/multi-organ/hepatic failure</li>
            </ul>
            
        </div>
        <div class="usual-levels__list">
            <p class="title">Transiently low</p>   

            <ul>
                <li>Osteogenesis imperfecta type II</li>
                <li>Profound hipothyroidism</li>
                <li>Cushing disease</li>
                <li>Bisphosphonate therapy</li>
                <li>Adynamic renal osteodystrophy</li>
                <li>Milk-alkali syndrom</li>
                <li>Wilson disease</li>
                <li>Celiac disease</li>
                <li>Zinc/magnesium deficiency</li>
            </ul>

        </div>
        <div class="usual-levels__list modifier2">
            <p class="title">Persistently low</p>

            <ul>
                <li>Hypophosphatasia</li>
                <li>Ceidrocranial dysostosis</li>
                <li>Mseleni joint disease</li>
            </ul>

        </div>
    </div>
        <p class="disclaimer"><sup>‡</sup>Not an exhaustive list of conditions associated   with low levels of ALP.</p>
    </section>

    <section class="usual-cta">
        <CTA 
        variation="variant-2"
        buttonLabel="Identifying HPP"
        content="Build the case for hypophosphatasia"
        linkURL="#"
        bypassModal
            /> 
    </section>

    
        <References><p><strong>References:<strong> </strong>1.</strong> McKiernan FE, Berg RL, Fuehrer J. Clinical and radiographic findings in adults with persistent hypophosphatasemia. J Bone Miner Res. 2014;29(7):1651-1660. <strong>2.</strong> Offiah AC, Vockley J, Munns CF, Murotsuki J. Differential diagnosis of perinatal hypophosphatasia: radiologic perspectives. Pediatr Radiol. 2019;49(1):3-22. <strong>3.</strong> Rockman-Greenberg C. Hypophosphatasia. Pediatr Endocrinol Rev. 2013;10(suppl 2):380-388. <strong>4.</strong> Weber TJ, Sawyer EK, Moseley S, Odrljin T, Kishnani PS. Burden of disease in adult patients with hypophosphatasia: results from two patient-reported surveys. Metabolism. 2016;65(10):1522-1530. <strong>5.</strong> Sutton RA, Mumm S, Coburn SP, Ericson KL, Whyte MP. “Atypical femoral fractures” during bisphosphonate exposure in adult hypophosphatasia. J Bone Miner Res. 2012;27(5):987-994. <strong>6.</strong> Varacallo M, Seaman TJ, Jandu JS, Pizzutillo P. Osteopenia. StatPearls [Internet]. 2022. Accessed March 30, 2023. https://www.ncbi.nlm.nih.gov/books/NBK499878/ <strong>7.</strong> Shapiro JR, Lewiecki EM. Hypophosphatasia in adults: clinical assessment and treatment considerations. J Bone Miner Res. 2017;32(10):1977-1980. <strong>8.</strong> Desborough R, Nicklin P, Gossiel F, et al. Clinical and biochemical characteristics of adults with hypophosphatasia attending a metabolic bone clinic. Bone. 2021;144:115795. <strong>9.</strong> Bloch-Zupan A. Hypophosphatasia: diagnosis and clinical signs - a dental surgeon perspective. Int J Paediatr Dent. 2016;26(6):426-438. <strong>10.</strong> Macmullan P, McCarthy G. Treatment and management of pseudogout: insights for the clinician. Ther Adv Muscoloskelet Dis. 2012;4(2):121-131. <strong>11.</strong> Rosenthal AK, Ryan LM. Calcium pyrophosphate deposition disease. N Engl J Med. 2016;374(26):2575-2584. <strong>12.</strong> National Institute of Arthritis and Musculoskeletal and Skin Diseases. Fibromyalgia. Accessed March 30, 2023. https://www.niams.nih.gov/health-topics/fibromyalgia <strong>13.</strong> National Institute of Child Health and Human Development. What are the symptoms of osteogenesis imperfecta (OI). 2021. Accessed March 30, 2023. https://www.nichd.nih.gov/health/topics/osteogenesisimp/conditioninfo/symptoms <strong>14.</strong> Marini JC, Cabral WA. Osteogenesis imperfecta. In: Thakker RV, Whyte MP, Eisman JA, Igarashi T, eds. Genetics of Bone Biology and Skeletal Disease. Academic Press; 2018;397-420. <strong>15.</strong> Mornet E, Nunes ME. Hypophosphatasia. In: Adam MP, Ardinger HH, Pagon RA, et al, eds. GeneReviews®. University of Washington; 2011. Accessed April 3, 2023. http://www.ncbi.nlm.nih.gov/books/NBK1150/?report=reader <strong>16.</strong> Mohn A, De Leonibus C, de Giorgis T, Mornet E, Chiarelli F. Hypophosphatasia in a child with widened anterior fontanelle: lessons learned from late diagnosis and incorrect treatment. Acta Paediatr. 2011;100(7):e43-e46. <strong>17.</strong> Whyte MP, Wenkert D, McAlister WH, et al. Chronic recurrent multifocal osteomyelitis mimicked in childhood hypophosphatasia. J Bone Miner Res. 2009;24:1493-1505. <strong>18.</strong> Shapiro JR, Lewiecki EM. Hypophosphatasia in adults: clinical assessment and treatment considerations. J Bone Miner Res. 2017;32(10):1977-1980. <strong>19.</strong> Boyce AM, Tosi LL, Paul SM. Bisphosphonate treatment for children with disabling conditions. PM R. 2014;6(5):427-436. <strong>20.</strong> Stadecker WJ. Bisphosphonates 101: an update for the general dentist. Inside Dentistry. 2008. <strong>21.</strong> Bianchi ML. Hypophosphatasia: an overview of the disease and its treatment. Osteoporos Int. 2015; 26(12):2743-2757. <strong>22.</strong> Choida V, Bubbear JS. Update on the management of hypophosphatasia. Ther Adv Musculoskelet Dis. 2019;11:1759720X19863997.<strong> 23.</strong> Martos-Moreno GA, Calzada J, Couce ML, Argente J. Hypophosphatasia: clinical manifestations, diagnostic recommendations and therapeutic options. An Pediatr (Engl Ed). 2018;88(6):356.e1-356.e11. <strong>24.</strong> Vieira LHR, Peixoto KC, Flósi CL, Fleiuss de Farias ML, Madeira M. Active search of adult patients with persistently low serum alkaline phosphatase levels for diagnosis of hypophosphatasia. Arch Endocrinol Metab. 2021;65(3):289-294. <strong>25.</strong> Bianchi ML, Bishop NJ, Guañabens N, et al; Rare Bone Disease Action Group of the European Calcified Tissue Society. Hypophosphatasia in adolescents and adults: overview of diagnosis and treatment. Osteoporos Int. 2020;31(8):1445-1460. <strong>26.</strong> Bishop N, Munns CF, Ozono K. Transformative therapy in hypophosphatasia. Arch Dis Child. 2016;101(6):514-515.<p></p></References>
    
</Layout>