---
import ModalInfantsDesktop from "./ModalInfantsDesktop.astro";
import ModalAdultsDesktop from "./ModalAdultsDesktop.astro";
// import ModalAdultsMobile from "./ModalAdultsMobile.astro";
---

<Fragment>
  <div id="usual-suspect-modal-template" style="display: none;">
    <ModalInfantsDesktop />
    <ModalAdultsDesktop />
  </div>
</Fragment>

<script>
  /**
   * #################################################################################################
   * UsualSuspectModalDesktop
   * #################################################################################################
   */

  import { Fancybox } from "@fancyapps/ui";

  class usualSuspectModalInfantsDesktop {
    usualModalInfantsDesktop: Fancybox;

    constructor() {
      this.usualModalInfantsDesktop = undefined;
    }

    open() {
      this.usualModalInfantsDesktop = new Fancybox(
        [{ src: "usual-supect-modal--infants--desktop" }],
        {
          autoFocus: false,
          defaultType: "inline",
          placeFocusBack: false,
          trapFocus: false,
          closeButton: false,
          height: "auto",
        }
      );
    }

    close() {
      this.usualModalInfantsDesktop.close();
    }
  }

  class usualSuspectModalAdultsDesktop {
    usualModalAdultsDesktop: Fancybox;

    constructor() {
      this.usualModalAdultsDesktop = undefined;
    }

    open() {
      this.usualModalAdultsDesktop = new Fancybox(
        [{ src: "usual-supect-modal--adults--desktop" }],
        {
          autoFocus: false,
          defaultType: "inline",
          placeFocusBack: false,
          trapFocus: false,
          closeButton: false,
          height: "auto",
        }
      );
    }

    close() {
      this.usualModalAdultsDesktop.close();
    }
  }

  //Open the modals
  document.addEventListener("DOMContentLoaded", () => {
    const triggerBtns = document.querySelectorAll(
      ".btn--usual-suspect-modal-desktop"
    );
    triggerBtns.forEach((btn) => {
      btn.addEventListener("click", () => {
        //Save the target-data value
        const target = btn.getAttribute("data-target");

        //Open the modal
        if (target === "infants-modal-desktop") {
          const modal = new usualSuspectModalInfantsDesktop();
          modal.open();
        } else if (target === "adults-modal-desktop") {
          const modal = new usualSuspectModalAdultsDesktop();
          modal.open();
        }
      });
    });
  });
</script>
