<ul class="navigation__links">
  <li class="navigation__item prev">
    <a class="navigation__item_link prev">&lsaquo; previous</a>
  </li>
  <li class="navigation__item next">
    <a class="navigation__item_link next">next &rsaquo;</a>
  </li>
</ul>
