---
import Accordion from "../Accordion.astro";
---

<div id="usual-suspect-modal-template" style="display: none;">
  <div
    class="usual-supect__list_modal usual-supect__list_modal--mobile usual-supect__list_modal--infants"
    id="usual-supect-modal--infants"
  >
    <button data-fancybox-close class="usual-supect__list_modal_close-button"
      >×</button
    >
    <div class="usual-supect__list_modal_wrapper">
      <h2 class="usual-supect__list_modal_title">
        INFANTILE/PEDIATRIC <br /> MISDIAGNOSES<sup>1,2</sup>
      </h2>

      <div class="usual-supect__list_modal_head">
        <h4 class="usual-supect__list_modal_sub-title">
          Differential diagnoses for <br /> hypophosphatasia (HPP)
        </h4>
        <a class="usual-supect__list_modal_expand-link" href="#acc-list--1"
          >Expand All</a
        >
      </div>

      <div class="accordion" id="acc-list--1">
        <Accordion
          id="usl-acc-1"
          header="Osteogenesis imperfecta (OI)<sup>1,3-7</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Reduced bone density</li>
            <li>Deficient ossification of skull vault</li>
            <li>Bowed long bones</li>
            <li>Fractures</li>
            <li>Gracile ribs</li>
            <li>Narrow thorax</li>
            <li>Metaphyseal flaring</li>
            <li>Widening of growth plates</li>
            <li>Tooth loss</li>
          </ul>

          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>
              Test for persistently low alkaline phosphatase (alkaline
              phosphatase is normal or transiently low in OI)
            </li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li class="no-bullet">
              <ul class="usual-suspect__acc--list usual-suspect__acc--list-sub">
                <li>
                  Wormian bones of the skull and compression fractures in the
                  spine are common in OI but not in hypophosphatasia
                </li>
              </ul>
            </li>
            <li>Can support diagnosis with genetic testing</li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-2"
          header="Campomelic dysplasia (CD) <sup>1,6,8-11</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Shortening, bowing, and angulation of the long bones</li>
            <li>Diaphyseal spurs</li>
            <li>Tibial dimple</li>
            <li>Absent ossification of pedicles</li>
            <li>Hypoplastic fibula</li>
          </ul>

          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>
              Test for persistently low alkaline phosphatase (alkaline
              phosphatase is low in severe patients)
            </li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li class="no-bullet">
              <ul class="usual-suspect__acc--list usual-suspect__acc--list-sub">
                <li>
                  CD has sites of long bone angulation (femur and tibia), lacks
                  ossification of the wings of scapula, dislocated elbow, 11
                  pairs of ribs, narrow iliac wings, and normal bone density
                </li>
              </ul>
            </li>
            <li>Can support diagnosis with genetic testing</li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-3"
          header="Chondrodysplasias<sup>6,7,9,12,13</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Short stature and vertebral abnormalities</li>
          </ul>

          <h5 class="usual-suspect__acc--title">
            How to differentiate from HPP
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>Test for persistently low alkaline phosphatase</li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-4"
          header="Nutritional rickets<sup>1,5,7,13-16,19</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Development of bone deformities</li>
            <li>Failure of bone mineralization</li>
            <li>Bowed legs</li>
            <li>Delay in gross motor milestones</li>
          </ul>
          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>
              Test for persistently low alkaline phosphatase (alkaline
              phosphatase is high in rickets)
            </li>
            <li>
              Test for vitamin B<sub>6</sub>, calcium, vitamin D, and
              parathyroid hormone
            </li>
            <li class="no-bullet">
              <ul class="usual-suspect__acc--list usual-suspect__acc--list-sub">
                <li>
                  Patients may have normal vitamin B<sub>6</sub> and urine PEA
                </li>
              </ul>
            </li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-5"
          header="Cleidocranial dysostosis <sup>1,5,7,13,16,17</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Abnormality of the dentition</li>
            <li>Narrow chest</li>
            <li>Recurrent respiratory infections</li>
            <li>Short stature</li>
            <li>Skeletal dysplasia osteoporosis</li>
          </ul>
          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>
              Test for persistently low alkaline phosphatase (alkaline
              phosphatase may be low in severe patients)
            </li>
            <li>
              Test for vitamin B<sub>6</sub>, calcium, vitamin D, and
              parathyroid hormone
            </li>
            <li>
              Patients may have normal vitamin B<sub>6</sub> and urine PEA
            </li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-6"
          header="Craniosynostosis<sup>1,7,9,16,18-20</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Bones in skull fuse together too early</li>
          </ul>
          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>Test for persistently low alkaline phosphatase</li>
            <li>
              Test for vitamin B<sub>6</sub>, calcium, vitamin D, and
              parathyroid hormone
            </li>
            <li class="no-bullet">
              <ul class="usual-suspect__acc--list usual-suspect__acc--list-sub">
                <li>
                  Patients may have normal vitamin B<sub>6</sub> and urine PEA
                </li>
              </ul>
            </li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-7"
          header="<span>Idiopathic juvenile osteoporosis<sup>1,7,16,19,21,22</sup></span>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Fractures</li>
            <li>Bone pain</li>
            <li>Difficulty/inability to walk</li>
          </ul>
          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>
              Test for persistently low alkaline phosphatase (alkaline
              phosphatase is normal in idiopathic juvenile osteoporosis)
            </li>
            <li>
              Test for vitamin B<sub>6</sub>, calcium, vitamin D, and
              parathyroid hormone
            </li>
            <li class="no-bullet">
              <ul class="usual-suspect__acc--list usual-suspect__acc--list-sub">
                <li>
                  Patients may have normal vitamin B<sub>6</sub> and urine PEA
                </li>
              </ul>
            </li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-8"
          header="<span>X-linked hypophosphatemia (XLH)<sup>1,5,7,16,19,23</sup></span>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Bone pain</li>
            <li>Bowing of the legs</li>
            <li>Delayed ability to walk</li>
            <li>Growth delay</li>
            <li>Reduced bone mineral density</li>
          </ul>
          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>
              Test for persistently low alkaline phosphatase (alkaline
              phosphatase is high in XLH)
            </li>
            <li>
              Test for vitamin B<sub>6</sub>, calcium, vitamin D, and
              parathyroid hormone
            </li>
            <li>
              Patients may have normal vitamin B<sub>6</sub> and urine PEA
            </li>
            <li>Clinical history and physical exam</li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-9"
          header="Ehlers-Danlos syndrome<sup>9,11,23,24</sup>"
        >
          <h5 class="usual-suspect__acc--title">Shared symptoms</h5>
          <ul class="usual-suspect__acc--list">
            <li>Joint hypermobility</li>
            <li>Connective tissue fragility</li>
            <li>Dentin structural irregularities</li>
            <li>Joint pain</li>
          </ul>
          <h5 class="usual-suspect__acc--title">
            How to differentiate from <br /> hypophosphatasia
          </h5>
          <ul class="usual-suspect__acc--list">
            <li>Test for persistently low alkaline phosphatase</li>
            <li>Skin biopsies can help with diagnosis</li>
            <li>Radiographs may help distinguish from hypophosphatasia</li>
            <li>
              Genetic testing may help support a hypophosphatasia diagnosis, but
              a hypophosphatasia diagnosis cannot be excluded by not finding an
              ALPL mutation
            </li>
          </ul>
        </Accordion>
        <Accordion
          id="usl-acc-10"
          header="References"
          className="references__acc"
        >
          <p class="usual-suspect__acc--references">
            <strong>1.</strong> Offiah AC, Vockley J, Munns CF, Murotsuki J. Differential
            diagnosis of perinatal hypophosphatasia: radiologic perspectives. <em
              >Pediatr Radiol.</em
            > 2019;49(1)3-22.
            <strong>2.</strong> Mornet E, Hofmann C, Bloch-Zupan A, Girschick H,
            Le Merrer M. Clinical utility gene card for: hypophosphatasia – update
            2013. <em>Eur J Hum Gen.</em> 2014;22(4). <strong>3.</strong> National
            Institute of Child Health and Human Development. What are the symptoms
            of osteogenesis imperfecta (OI). Accessed March 30, 2023. <a
              href=" https://www.nichd.nih.gov/health/topics/osteogenesisimp/conditioninfo/symptoms"
              >https://www.nichd.nih.gov/health/topics/osteogenesisimp/conditioninfo/symptoms</a
            >
            <strong>4.</strong> Marini JC, Cabral WA. Osteogenesis imperfecta. In:
            Thakker RV, Whyte MP, Eisman JA, Igarashi T, eds. <em
              >Genetics of Bone Biology and Skeletal Disease.</em
            > 2nd ed. Academic Press; 2018;397-420. <strong>5.</strong> Bloch-Zupan
            A. Hypophosphatasia: diagnosis and clinical signs - a dental surgeon
            perspective. <em>Int J Paediatr Dent.</em> 2016;26(6):426-438. <strong
              >6.</strong
            > Taillandier A, Domingues C, De Cazanove C, et al. Molecular diagnosis
            of hypophosphatasia and differential diagnosis by targeted Next Generation
            Sequencing. <em>Mol Genet Metab.</em> 2015;116(3):215-220.
            <strong>7.</strong> Duffus S, Thrasher B, Calikoglu AS. Brief clinical
            report: hypophosphatasia–diagnostic considerations and treatment outcomes
            in an infant. Case Rep Pediatr. 2018;2018:5719761.
            <strong>8.</strong> National Institutes of Health. Campomelic dysplasia.
            Accessed March 17, 2023. <a
              href="https://rarediseases.info.nih.gov/diseases/10027/campomelic-dysplasia"
              >https://rarediseases.info.nih.gov/diseases/10027/campomelic-dysplasia</a
            >
            <strong>9.</strong> Simon S, Resch H, Klaushofer K, Roschger P, Zwerina
            J, Kocijan R. Hypophosphatasia: from diagnosis to treatment. <em
              >Curr Rheumatol Rep</em
            >. 2018;20(11):69. <strong>10.</strong>
            Macmullan P, McCarthy G. Treatment and management of pseudogout: insights
            for the clinician. <em>Ther Adv Musculoskelet Dis.</em> 2012;4(2):121-131.
            <strong>11.</strong> Villa-Suárez JM, García-Fontana C, Andújar-Vera
            F, et al. Hypophosphatasia: a unique disorder of bone mineralization.
            <em>Int J Mol Sci.</em> 2021;22(9):4303. <strong>12.</strong>
            Dubail J, Cormier-Daire V. Chondrodysplasias with multiple dislocations
            caused by defects in glycosaminoglycan synthesis.
            <em>Front Genet.</em> 2021;12:642097. <strong>13.</strong> Mohn A, De
            Leonibus C, de Giorgis T, Mornet E, Chiarelli F. Hypophosphatasia in
            a child with widened anterior fontanelle: lessons learned from late diagnosis
            and incorrect treatment.
            <em>Acta Paediatr.</em> 2011;100(7):e43-e46. <strong>14.</strong>
            Tournis S, Yavropoulou MP, Polyzos SA, Doulgeraki A. Hypophosphatasia.
            <em>J Clin Med.</em> 2021;10(23):5676. <strong>15.</strong> Pettifor
            JM. Nutritional rickets. In: Glorieux FH, Pettifor JM, Jüppner H, eds.
            <em>Pediatric Bone.</em> 2nd ed. Academic Press; 2012:625-654.
            <strong>16.</strong>
            Mckiernan FE, Dong J, Berg RL, et al. Mutational and biochemical findings
            in adults with persistent hypophosphatasemia. <em
              >Osteoporos Int.</em
            >2017;28:2343-2348.
            <strong>17.</strong> Genetic and Rare Disease Information Center. Cleidocranial
            dysplasia. Accessed March 30, 2023.
            <a
              href="https://rarediseases.info.nih.gov/diseases/6118/cleidocranial-dysplasia"
              >https://rarediseases.info.nih.gov/diseases/6118/cleidocranial-dysplasia</a
            >
            <strong>18.</strong> Center of Disease Control. Facts about craniosynostosis.
            Accessed March 30, 2023. <a
              href="https://www.cdc.gov/ncbddd/birthdefects
                        craniosynostosis.html#:~:text=What%20is%20Craniosynostosis"
              >https://www.cdc.gov/ncbddd/birthdefects
              craniosynostosis.html#:~:text=What%20is%20Craniosynostosis</a
            >
            <strong>19.</strong> Nunes ME. Hypophosphatasia. In: Adam MP, Ardinger
            HH, Pagon RA, et al, eds. <em>GeneReviews®</em>. University of
            Washington; 2007. Accessed March 30, 2023. <a
              href="http://www.ncbi.nlm.nih.gov/books/NBK1150/"
              >http://www.ncbi.nlm.nih.gov/books/NBK1150/</a
            >
            <strong>20.</strong>
            Rockman-Greenberg C. Hypophosphatasia. <em
              >Pediatr Endocrinol Rev.</em
            > 2013;10(suppl 2):380-388. <strong>21.</strong> Imerci A, Canbek U,
            Haghari S, Surer L, Kocak M. Idiopathic juvenile osteoporosis: a case
            report and review of the literature.
            <em>Int J Surg Case Rep.</em> 2015;9;127-129. <strong>22.</strong>
            Kulkarni ML, Keshavamurthy KS. Juvenile idiopathic osteoporosis.
            <em>Indian Pediatr.</em> 2004;41(7):737-740. <strong>23.</strong>
            Genetic and Rare Disease Information Center. X-linked hypophosphatemia.
            Accessed March 30, 2023. <a
              href="https://rarediseases.info.nih.gov/diseases/12943/x-linked-hypophosphatemia"
              >https://rarediseases.info.nih.gov/diseases/12943/x-linked-hypophosphatemia</a
            >
            <strong>24.</strong> Abel MD, Carrasco LR. Ehlers-Danlos syndrome: classifications,
            oral manifestations, and dental considerations. <em
              >Oral Surg Oral Med Oral Pathol Oral Radiol Endod.</em
            > 2006;102(5):582-590. <strong>25.</strong> Sobey G. Ehlers-Danlos syndrome:
            how to diagnose and when to perform genetic tests.
            <em>Arch Dis Child.</em> 2015;100(1):57-61.
          </p>
        </Accordion>
      </div>
    </div>
  </div>
</div>
