<article class="alpd-video">
    <div class="alpd-video__wrapper">
        <div class="alpd-video__assets-container">
            <picture class="asset__notebook">
                <img src="/assets/images/alpd-video/notebook-desktop.png" alt="">
            </picture>
            <picture class="asset__folder">
                <source srcset="/assets/images/alpd-video/folder-desktop.png" media="(min-width: 1024px)">
                <img src="/assets/images/alpd-video/folder-mobile.png" alt="">
            </picture>
            <picture class="asset__backpack">
                <img src="/assets/images/alpd-video/bakpack-desktop.png" alt="">
            </picture>
            <picture class="asset__pic">
                <img src="/assets/images/alpd-video/pic.png" alt="">
            </picture>

        </div>
        <div class="alpd-video__container">
            <div class="video">
                <picture>
                    <source srcset="/assets/images/alpd-video/video-poster-desktop.png" media="(min-width: 1024px)">
                    <source srcset="/assets/images/alpd-video/video-poster-tablet.png" media="(min-width: 500px)">
                    <img src="/assets/images/alpd-video/video-poster-mobile.png" alt="">
                </picture>
            </div>
        </div>
    </div>
</article>