---
type Props = {
  imgSrc: string;
  path?: string;
  imgAlt?: string;
  link: string;
  LinkTarget?: string;
  className?: string;
};

const {
  imgSrc,
  path = "/assets/images/" + imgSrc + ".png",
  imgAlt,
  link,
  LinkTarget,
  className
} = Astro.props;
---


<div class="case-file">
    <img src={path} alt={imgAlt ? imgAlt : " "} class="case-file__image">
    <p class={`case-file__text ${className ? className : ' '}`}><slot /></p>
    <div class="case-file__anchor-container">
        <a href={link} target={LinkTarget ? LinkTarget : "_self"} class="case-file__anchor">Learn More</a>
        <span>&gt;</span>
    </div>
</div>