<div class="cookie hidden">
  <div class="wrapper cookie__content">
    <p class="cookie__text">
      We use cookies to give you the best online experience. By using our
      website, you agree to our use of cookies in accordance with our <a
        target="_blank"
        href="https://alexion.com/Legal#cookie-policy">cookie policy</a
      >.
    </p>
    <button class="cookie__button">
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </div>
</div>

<script>
  const body = document.querySelector("body") as HTMLElement;
  const cookie = document.querySelector(".cookie") as HTMLElement;
  const cookieButton = document.querySelector(".cookie__button") as HTMLElement;

  checkCookie();
  setOffsetOfBody();
  window.addEventListener("resize", setOffsetOfBody);

  cookieButton.addEventListener("click", function (e) {
    showCookieBanner();
    setCookieConsent();
  });

  function checkCookie() {
    if (!localStorage.getItem("cookieConsent")) {
      showCookieBanner();
    }
  }

  function showCookieBanner() {
    cookie.classList.remove("hidden");
    setOffsetOfBody()
    // body.style.paddingTop = `0`;
  }

  function setCookieConsent() {
    localStorage.setItem("cookieConsent", "true");
  }

  function setOffsetOfBody() {
    const mediaQuery = window.matchMedia(
      "(min-width: 1024px) and (max-width: 1099px)"
    );
    const maxMediaQuery = window.matchMedia("(min-width: 1100px)");
    if (mediaQuery.matches) {
      const paddingTop = `${cookie.offsetHeight}px`;
      if (cookie && !cookie.classList.contains("hidden")) {
        body.style.paddingTop = paddingTop;
      }
    } else if (maxMediaQuery.matches) {
      body.style.paddingTop = `calc(${cookie.offsetHeight}px - 45px)`;
    } else {
      body.style.paddingTop = ``;
    }
  }
</script>
