---
type Props = {
  linkURL: string;
  buttonLabel: string;
  content: string;
  linkTarget?: string;
  variation?: string;
  className?: string;
  bypassModal?: boolean;
};

const {
  linkURL,
  linkTarget,
  variation, 
  content,
  buttonLabel,
  bypassModal = false,
  className,
} = Astro.props;
---

<div class={`cta ${className ? className : ' '}`}>
    <div class={variation ? variation : "variant-1"}>
      <div class="cta__text" set:html={content}></div>
        <a href={linkURL} target={linkTarget ? linkTarget : "_self"} class={`button ${bypassModal ? "document-link" : ' '}`}>{buttonLabel}</a>
        <div class="red-string mod-1"></div >
        <div class="red-string mod-2"></div >
        <div class="red-string mod-3"></div >
    </div>

</div>