---
type Props = {
  link: string;
  buttonLabel: string;
  text: string;
  linkTarget?: string;
  variation?: string;
  className?: string;
};

const {
  link,
  linkTarget,
  variation, 
  text,
  buttonLabel,
  className
} = Astro.props;
---

<div class={`cta ${className ? className : ' '}`}>
    <div class={variation ? variation : "variant-1"}>
      <div class="cta__text" set:html={text}></div>
        <a href={link} target={linkTarget ? linkTarget : "_self"} class="button">{buttonLabel}</a>
        <div class="red-string mod-1"></div >
        <div class="red-string mod-2"></div >
        <div class="red-string mod-3"></div >
    </div>

</div>