---
import FooterPrimaryNav from "./Navigation/FooterPrimaryNav.astro";
import FooterSecondaryNav from "./Navigation/FooterSecondaryNav.astro";
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer__grid">
    <!-- Footer Logo -->
    <div class="footer__logo">
      <a href="/" class="footer__logo_link">
        <img src="/assets/images/footer-logo.png" alt="ALPD" />
      </a>
    </div>
    <div class="footer__empty_cell"></div>
    <!-- Footer Finger Print Image -->
    <div class="footer__finger_print">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="/assets/images/footer-finger-print-2x.png"
        />
        <img src="/assets/images/footer-finger-print.png" alt="Finger Print" />
      </picture>
    </div>
    <!-- Footer Navigation -->
    <div class="footer__navs">
      <div class="footer__primary_nav">
        <FooterPrimaryNav />
      </div>
      <div class="footer__secondary_nav">
        <FooterSecondaryNav />
      </div>
    </div>
    <!-- Footer Alexion -->
    <div class="footer__alexion">
      <a href="https://alexion.com" target="_blank">
        <img src="/assets/images/footer-alexion-logo.png" alt="Alexion" />
      </a>
    </div>
    <!-- Footer Text -->
    <div class="footer__text">
      <p>This website is intended for US healthcare professionals only.</p>
      <p>
        &copy; {currentYear}, Alexion Pharmaceuticals, Inc. All rights reserved.
        US/UNB-H/0470 V1 03/2023
      </p>
    </div>
  </div>
</footer>
