---
import HeaderLogo from "./HeaderLogo.astro";
import HeaderMobileMenuToggle from "./HeaderMobileMenuToggle.astro";
import HeaderPrimaryNavigation from "./Navigation/HeaderPrimaryNavigation.astro";
import HeaderSecondaryNavigation from "./Navigation/HeaderSecondaryNavigation.astro";
---

<header class="site__header">
  <div class="header__inner">
    <div class="wrapper">
      <div class="header__mobile">
        <HeaderLogo />
        <HeaderMobileMenuToggle />
      </div>

      <div class="header__desktop">
        <HeaderLogo />
        <HeaderPrimaryNavigation />
        <HeaderSecondaryNavigation />
      </div>
    </div>
    <div class="header__mobile mobile__menu">
      <HeaderPrimaryNavigation />
      <HeaderSecondaryNavigation />
    </div>
  </div>
</header>
