---
export interface Props {
  title: string,
  subtitle: string,
  subtitle_secondary?: string,
  image: string,
  info?: string,
  list?: string[],
}

const { title, subtitle, image, subtitle_secondary, info, list } = Astro.props;
---

<div class="suspect-card" >

    <div class="suspect-card_bordered-item" >
        <h3>{ title }</h3>
    </div>

    <div class="suspect-card_bordered-item" >
        <img src={ image } alt="">        
    </div>
    
    <div class="suspect-card_bordered-item" >
        <h4 class="font--special-elite" >{ subtitle }</h4>
        <h4 class="font--special-elite" > <strong>AKA</strong> { subtitle_secondary }</h4>

        <p class="suspect-card__note" >{ info }</p>

        <ul class="suspect-card_ul" >
            {list.map(elem => (
                <li class="suspect-card_li" >{ elem }</li>
            ))}
        </ul>
    </div>

  
    
</div>