---
import ContinueText from "./ContinueText.astro";
---

<div class="grid__content_buttons visible">
  <ul class="buttons__list">
    <li class="buttons__list_item">
      <button class="button button--form">Customize Video</button>
    </li>
    <li class="buttons__list_item">or</li>
    <li class="buttons__list_item">
      <button class="button button--video">Play Video</button>
    </li>
  </ul>
  <ContinueText />
</div><!-- buttons -->
