---
import ContinueText from "./ContinueText.astro";
import DetectiveForm from "../DetectiveForm.astro";
---

<div class="grid__form modifier-enter">
  <DetectiveForm />
  <ContinueText />
</div><!-- Form -->
