<div class="media__container">
  <img
    src="/assets/images/enter-site/video-image-placeholder.png"
    alt="Placeholder Video Image"
  />
  <!-- Close Button -->
  <button class="button--close">
    <span class="line"></span>
    <span class="line"></span>
  </button>
</div>
