:root {
    --wrapper-margin: 1.5rem;
    --wrapper-max-width: calc(100% - var(--wrapper-margin));
    --wrapper-min-width: calc(100% - (var(--wrapper-margin) / 2));

    @media screen and (min-width: 428px) {
        --wrapper-margin: 2rem;
    }

    @media screen and (min-width: 768px) {
        --wrapper-margin: 4rem;
    }

    @media screen and (min-width: 1024px) {
        --wrapper-margin: 4.2813rem;
    }

    @media screen and (min-width: 1366px) {
        --wrapper-margin: 5.2813rem;
        --wrapper-min-width: calc(100% - (var(--wrapper-margin) / 3));
    }

    @media screen and (min-width: 1400px) {
        --wrapper-margin: 8.5625rem;
        --wrapper-min-width: calc(100% - (var(--wrapper-margin) / 4));
    }
}

.wrapper {
    color: inherit;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: var(--wrapper-max-width);

    &--small {
        max-width: var(--wrapper-min-width);
    }

    &--only-left {
        max-width: calc(100% - (var(--wrapper-margin) / 2));
        margin-left: auto;
        margin-right: 0;
    }

    &--only-right {
        max-width: calc(100% - (var(--wrapper-margin) / 2));
        margin-left: 0;
        margin-right: auto;
    }

    &.xl\: {
        @media screen and (min-width: 1440px) {
            &wrapper--small {
                max-width: var(--wrapper-min-width);
            }

            &only-left {
                max-width: calc(100% - (var(--wrapper-margin) / 2));
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    &.md\: {
        @media screen and (min-width: 768px) {
            &only-left {
                max-width: calc(100% - (var(--wrapper-margin) / 2));
                margin-left: auto;
                margin-right: 0;
            }

            &only-right {
                max-width: calc(100% - (var(--wrapper-margin) / 2));
                margin-right: auto;
                margin-left: 0;
            }
        }
    }

    @media screen and (min-width: 1600px) {
        max-width: 90rem;

        &--only-left,
        &--only-right {
            max-width: calc(100% - ((100vw - 90rem) / 2));
        }
    }
}

// TODO Add utilities for common screen sizes. Eg: md:only-left

.md\:wrapper {
    @media screen and (min-width: 768px) {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: var(--wrapper-max-width);
    }
}

.xl\:no-wrapper {
    @media screen and (min-width: 1440px) {
        max-width: max-content !important;
    }
}

.lg\:no-wrapper {
    @media screen and (min-width: 1024px) {
        max-width: max-content !important;
    }
}

.md\:no-wrapper {
    @media screen and (min-width: 768px) {
        max-width: max-content !important;;
        margin: 0 auto;
    }
}