/* Using @each we create a CSS class for
color and background using the name in the class
and the value as the property value that we need

Ex: .color--white { color: #FFFFFFF; } and
.bg-color--white { background-color: #FFFFFF; }*/
@each $color-name,
$color-value in $colors {
    .color--#{$color-name} {
        color: $color-value;
    }

    .bg-color--#{$color-name} {
        background-color: $color-value;
    }
}

.md\:color--black {
    @media screen and (min-width: 768px) {
        color: $color-black;
    }
}

.text--underline {
    text-decoration: underline;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.font-size--34px {
    font-size: 2.125rem;
}

.md\:font-size--36px {
    @media screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}

.md\:hidden {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--uppercase {
    text-transform: uppercase;
}