/* Using @each we create a CSS class for
color and background using the name in the class
and the value as the property value that we need

Ex: .color--white { color: #FFFFFFF; } and
.bg-color--white { background-color: #FFFFFF; }*/
@each $color-name,
$color-value in $colors {
    .color--#{$color-name} {
        color: $color-value !important;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        letter-spacing: inherit;
        line-height: inherit;
    }

    .bg-color--#{$color-name} {
        background-color: $color-value;
    }

    .md\:color--#{$color-name} {
        @media screen and (min-width: 768px) {
            color: $color-value !important;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
            letter-spacing: inherit;
            line-height: inherit;
        }
    }
}

.sz-500\:color--saffron-mango {
    @media screen and (min-width: 500px) {
        color: $color-saffron-mango !important;
    }
}

.lg\:color--red {
    @media screen and (min-width: 1024px) {
        color: $color-red;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: 2rem;
}

.md\:mb-2 {
    @media screen and (min-width: 768px) {
        margin-bottom: 2rem !important;
    }
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.md\:mb-1 {
    margin-bottom: 1rem !important;
}

.lg\:mb-1 {
    margin-bottom: 1rem !important;
}

.text--underline {
    text-decoration: underline;
}

.text--italic {
    font-style: italic;
}

.text--700 {
    font-weight: 700;
}

.text--400 {
    font-weight: 400 !important;
}

.text--14px {
    font-size: .875rem !important;
}

.md\:text--18px {
    font-size: 1.125rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.font-size--34px {
    font-size: 2.125rem;
}

.font-size--14px {
    font-size: .875rem;
}

.md\:font-size--36px {
    @media screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}

.md\:font-size--18px {
    @media screen and (min-width: 768px) {
        font-size: 1.125rem;
    }
}

.hidden {
    display: none !important;
}

.md\:hidden {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.lg\:hidden {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.block {
    display: block;
}

.lg\:block {
    @media screen and (min-width: 1024px) {
        display: block !important;
    }
}

.xs\:block {
    @media screen and (min-width: 375px) {
        display: block !important;
    }
}

.sm\:block {
    @media screen and (min-width: 425px) {
        display: block !important;
    }
}

.md\:block {
    @media screen and (min-width: 768px) {
        display: block !important;
    }
}

.sz-463\:hidden {
    @media screen and (min-width: 463px) {
        display: none !important;
    }
}

.text--center {
    text-align: center !important;
}

.text--underline {
    text-decoration: underline;
}

.md\:text--center {
    @media screen and (min-width: 768px) {
        text-align: center !important;
    }
}

.lg\:text--center {
    @media screen and (min-width: 1024px) {
        text-align: center !important;
    }
}

.grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, max-content));
}

.row-span-2 {
    grid-row: span 2 / span 2;
}

.md\:row-span-1 {
    grid-row: span 1 / span 1;
}

.font--special-elite {
    font-family: 'Special Elite', cursive;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--uppercase {
    text-transform: uppercase;
}

.font--veneer {
    font-family: "veneer", sans-serif;
}

.lg\:bold {
    @media screen and (min-width: 1024px) {
        font-weight: 700;
        font-family: inherit;
        font-size: inherit;
    }
}

.font--500 {
    font-weight: 500;
}

.font--inherit {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: initial;
}

.text--italic {
    font-style: italic;
}