/* We declare colors in a map as key: value
with the color name as the key and the hex
as the value

And we are going to use it in _utils.scss*/
$colors: (
    "folder": #F3E6C3,
    "red": #CF1C0A,
    "blue": #526CAD,
    "green": #617D44,
    "platinum": #DFE2E9,
    "envelop": #E2A842,
    "granite-grey": #626468,
    "carbon": #1F1511,
    "texture": #E5E9F2,
    "black": #000000,
    "white": #FFFFFF,
);
$color-folder: map-get($colors, "folder");
$color-red: map-get($colors, "red");
$color-blue: map-get($colors, "blue");
$color-green: map-get($colors, "green");
$color-platinum: map-get($colors, "platinum");
$color-envelop: map-get($colors, "envelop");
$color-granite-grey: map-get($colors, "granite-grey");
$color-carbon: map-get($colors, "carbon");
$color-texture: map-get($colors, "texture");
$color-black: map-get($colors, "black");
$color-white: map-get($colors, "white");